@{
    ViewData["Title"] = "Home Page";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Internship Programme</a>
            </li>
            <li class="breadcrumb-item active">My Profile</li>
        </ol>
        <h1>Blank Page</h1>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-wrapper -->
