@{
    ViewData["Title"] = "Add Student Page";
}
<div class="container-fluid">
    <!-- Example DataTables Card-->
    <section id="contact">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Add Student</h2>
            <hr />
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Student ID</label>
                                <input class="form-control" id="studentId" type="text" placeholder="Student ID" required="required" data-validation-required-message="Please enter student ID.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Student Name</label>
                                <input class="form-control" id="studentName" type="text" placeholder="Student Name" required="required" data-validation-required-message="Please enter name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Mobile Number</label>
                                <input class="form-control" id="mobileNo" min="0" type="number" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" placeholder="Mobile Number" required="required" data-validation-required-message="Please enter mobile number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Email Address</label>
                                <input class="form-control" id="email" type="email" placeholder="Email Address" required="required" data-validation-required-message="Please enter email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Project</label>
                                <div class='input-group' id='findproject'>
                                    <input type='text' class="form-control" id="selectproject" placeholder="Project" required="required" style="background-color:white" onclick="findProjectModal()" data-validation-required-message="Please select a project." readonly />
                                    <div class="input-group-addon" onclick="findProjectModal()" style="background-color:white;border:none;">
                                        <i class="fa fa-search"></i>
                                    </div>
                                </div>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Liaison Officer</label>
                                <div class='input-group' id='findlo'>
                                    <input type='text' class="form-control" id="selectlo" placeholder="Liaison Officer" required="required" style="background-color:white" onclick="findLOModal()" data-validation-required-message="Please select a liaison officer." readonly />
                                    <div class="input-group-addon" onclick="findLOModal()" style="background-color:white;border:none;">
                                        <i class="fa fa-search"></i>
                                    </div>
                                </div>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Allowance</label>
                                <input class="form-control" id="allowance" min="0" type="number" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" placeholder="Allowance" required="required" data-validation-required-message="Please enter allowance.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Designation</label>
                                <input class="form-control" id="designation" type="text" placeholder="Designation" required="required" data-validation-required-message="Please enter designation.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                            <div class="col-12">
                                <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/Manage_Student'">
                                    Back
                                </button>
                                <button class="btn btn-primary pull-right" name="submit" type="submit">
                                    Save
                                </button>
                            </div>
                        </div>
                        <br />
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Project Modal -->
<div class="modal fade" id="projectModal" role="dialog" aria-labelledby="projectModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="projectModalLabel">Project Assigned</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="col-12">
                    <form>
                        <div class="form-group">
                            <select id="projectSelect" size="6" style="width: 100%;"></select>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <div class="form-inline">
                                    <label>Selected: &nbsp;</label>
                                    <input class="form-control col-9" value="" readonly id="txtSelected">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnSubmit">Confirm</button>
                <!----   <a class="btn btn-primary" href="login.html">Logout</a>  -->
            </div>
        </div>
    </div>
</div>

<!-- LO Modal -->
<div class="modal fade" id="loModal" tabindex="-1" role="dialog" aria-labelledby="loModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loModalLabel">LO Assigned</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="col-12">
                    <form>
                        <div class="form-group">
                            <select id="loSelect" size="6" style="width: 100%;"></select>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <div class="form-inline">
                                    <label>Selected: &nbsp;</label>
                                    <input class="form-control col-9" value="" readonly id="txtSelected2">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnSubmit2">Confirm</button>
                <!----   <a class="btn btn-primary" href="login.html">Logout</a>  -->
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        //  console.dir($('#contactForm input'));
        //  $('#projectName').jqBootstrapValidation();
        $.ajax({
            url: '/api/Projects',
            method: 'GET',
            dataType: 'json',
            cache: false,
            success: function (data) {
                $('#projectSelect').select2();
                for (i = 0; i < data.length; i++) {
                    //    $('#projectSelect').val(data[i].)
                    $projectInputElement = $('#projectSelect');
                    $optionElement = $('<option>').text(data[i].ProjectName).attr('value', data[i].ProjectId);
                    $projectInputElement.append($optionElement);
                }
            }//End of success
        });//End of Ajax

        $('#txtSearch').on("keyup", function (e) {
            console.dir($(this).val());
            var text = $(this).val();
            var options = $('#projectSelect option');
            //var options = $('#projectSelect').option;
            for (var i = 0; i < options.length; i++) {
                var option = options[i];
                var optionText = option.text;
                var lowerOptionText = optionText.toLowerCase();
                var lowerText = text.toLowerCase();
                var regex = new RegExp("^" + text, "i");
                var match = optionText.match(regex);
                var contains = lowerOptionText.indexOf(lowerText) != -1;
                if (match || contains) {

                    //option.selected = true;
                    return;
                }
                $(this).selectedIndex = 0;
            }
        });//End of txtSearch function

        $('#projectSelect').on('change', function (e) {
            $('#txtSelected').val($('#projectSelect option:selected').text());
        });//End of Select Change
        $('#btnSubmit').on('click', function (e) {

            $('#selectproject').val($('#projectSelect option:selected').text());// To set display text on input element
            $('#selectproject').attr('value', ($('#projectSelect option:selected').val())); // To set project value id to the input element

            $('#projectModal').modal('hide');
        });//End of button submit for popup

        //LO
        $.ajax({
            url: '/api/Accounts/LiaisonOfficers',
            method: 'GET',
            dataType: 'json',
            cache: false,
            success: function (data) {
                $('#loSelect').select2();
                for (i = 0; i < data.length; i++) {
                    //    $('#projectSelect').val(data[i].)
                    $loInputElement = $('#loSelect');
                    $optionElement2 = $('<option>').text(data[i].Name).attr('value', data[i].Email);
                    $loInputElement.append($optionElement2);
                }
            }//End of success
        });//End of Ajax
        

        $('#loSelect').on('change', function (e) {
            $('#txtSelected2').val($('#loSelect option:selected').text());
        });//End of Select Change
        $('#btnSubmit2').on('click', function (e) {

            $('#selectlo').val($('#loSelect option:selected').text());// To set display text on input element
            $('#selectlo').attr('value', ($('#loSelect option:selected').val())); // To set project value id to the input element

            $('#loModal').modal('hide');
        });//End of button submit for popup

        $(function () {

            $('#contactForm').find('input').not('[type=submit]').jqBootstrapValidation({
                preventSubmit: true,
                submitSuccess: function ($form, event) {
                    event.preventDefault();     // will not trigger the default submission in favor of the ajax function
                    var collectedStudentId = $('#studentId').val();
                    var colectedStudentName = $('#studentName').val();
                    var collectedStudentNumber = $('#mobileNo').val();
                    var collectedStudentEmailAddress = $('#email').val();
                    var collectedProjectId = $('#selectproject').attr('value');
                    var collectedLO = $('#selectlo').attr('value');
                    var collectedAllowance = $('#allowance').val();
                    var collectedDesignation = $('#designation').val();

                    var webFormData = new WebFormData(collectedStudentId, colectedStudentName, collectedStudentNumber, collectedStudentEmailAddress, collectedProjectId,
                        collectedLO, collectedAllowance, collectedDesignation);

                    $.ajax({
                        url: '/Api/UserBatches/SaveNewStudentRecord/' + sessionStorage.getItem('selected'),
                        method: 'PUT',
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        cache: false,
                        data: "'" + JSON.stringify(webFormData) + "'",
                        success: function (data, status, jqXHR) {
                            var title = 'Success';
                            if (data.AlertType == 'error') {
                                title = 'Error';

                            } else if (data.AlertType == 'warning') {
                                title = 'Warning';
                            }
                            swal({
                                type: data.AlertType,
                                title: title,
                                text: data.Messages
                            }).then(
                                function () {
                                    title == 'Error' || title == 'Warning' ? null : window.location.reload();
                                });
                        },//End of success
                        error: function (data) {
                            swal({
                                type: 'error',
                                title: 'Error',
                                text: data.Message
                            });
                        }//End of error
                    });//End of ajax call
                },
                submitError: function ($form, event, errors) {

                }

            });//End of jqBootstrapValidatio

        });//end of function

        function WebFormData(inStudentId, inStudentName, inStudentNumber, inStudentEmail, inProjectId, inLO, inAllowance, inDesignation) {

            this.StudentId = inStudentId;
            this.StudentName = inStudentName;
            this.StudentNumber = inStudentNumber;
            this.StudentEmail = inStudentEmail;
            this.ProjectId = inProjectId;
            this.LO = inLO;
            this.Allowance = inAllowance;
            this.Designation = inDesignation;
        }

    });//End of document ready.

    function findProjectModal() {
        $('#projectModal').modal('show');
        //http://www.dyn-web.com/tutorials/forms/select/multi-selected.php
        //please take a look at this for reference
    }
    function findLOModal() {
        $('#loModal').modal('show');
        //http://www.dyn-web.com/tutorials/forms/select/multi-selected.php
        //please take a look at this for reference
    }
</script>
