@{
    ViewData["Title"] = "Add Company Page";
}
<div class="container-fluid">
    <!-- Example DataTables Card-->
    <section id="contact">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Add Company</h2>
            <hr />
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Company Name</label>
                                <input class="form-control" id="companyName" type="text" placeholder="Company Name" required="required" data-validation-required-message="Please enter a company name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Company Address</label>
                                <input class="form-control" id="companyAddress" type="text" placeholder="Company Address" required="required" data-validation-required-message="Please enter a company address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Contact Person's Name</label>
                                <input class="form-control" id="contactName" type="text" placeholder="Contact Person's Name" required="required" data-validation-required-message="Please enter contact person's name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Contact Person's Number</label>
                                <input class="form-control" id="contactNumber" min="0" type="number" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" placeholder="Contact Person's Number" required="required" data-validation-required-message="Please enter contact person's number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Contact Person's Email</label>
                                <input class="form-control" id="contactEmail" type="email" placeholder="Contact Person's Email" required="required" data-validation-required-message="Please enter contact person's email.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Fax</label>
                                <input class="form-control" id="fax" min="0" type="number" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" placeholder="Fax">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                            <div class="col-12">
                                <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/Manage_Company'">
                                    Back
                                </button>
                                <button class="btn btn-primary pull-right" name="submit" type="submit">
                                    Save
                                </button>
                            </div>
                        </div>
                        <br />
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    function WebFormData(inCompanyName, inCompanyAddress) {
        this.CompanyName = inCompanyName;
        this.CompanyAddress = inCompanyAddress;
     

    }
    $('#btnSave').on('click', function () {

        var collectedCompanyName = $('#companyName').val();
        var collectedCompanyAddress = $('#companyAddress').val();
        var collectedContactName = $('#contactName').val();
        var collectedContactEmail = $('#contactEmail').val();
        var collectedContactNumber = $('#contactNumber').val();


        var webFormData = new WebFormData(collectedCompanyName, collectedCompanyAddress);
        var webFormDatainString = JSON.stringify(webFormData);
        $saveProjectHandler = jQuery.ajax({
            url: '/API/Companies/SaveNewCompanyInformation/',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            data: "'" + webFormDatainString + "'"

        });
        $saveProjectHandler.done(function (data, textStatus, jqXHR) {
            console.dir("Success");

        });//End .Done

    });

</script>