﻿@{
    ViewData["Title"] = "Manage Competency Page";
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item">
            <a href="~/Home/Manage_Competency">Manage Competency</a>
        </li>
        <li class="breadcrumb-item active">Competency History</li>
    </ol>
    <div class="card" style="border-width:0px;">
        <div class="card-body">
            <div class="form-group">
                <div class="pull-left form-inline">
                    <label>Batch Course:&nbsp</label>
                    <select class="form-control" id="selectbatch"></select>
                </div>
                @*<div class="col-xs-12 pull-right">
                        <input type="button" value="View History" class="btn btn-default" onclick="location.href='@Url.Action("competency_history", "Home" )'" />
                    </div>*@
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header d-inline">
            <i class="fa fa-check-square fa-2x pull-left"></i> <h3>Competency History</h3>
        </div>
        <div class="card-body">

            <br />
            <div class="table-responsive">
                <table class="table table-bordered" id="competency_dataTable" cellspacing="0">
                    <thead>
                        @*<tr>
                            <th>Category Title</th>
                            <th>Deleted At</th>
                            <th>Deleted By</th>
                            <th width="10%">Action</th>
                        </tr>*@
                    <tbody>
                        @*<tr>
                            <td>Competency Description</td>
                            <th>24/01/2018</th>
                            <th>CK Chanon</th>
                            <th width="10%"><div class='container'><button title="edit description" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i></button></div></th>
                        </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="col-12">
                <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/Manage_Competency'">
                    Back
                </button>
            </div>
        </div>
    </div>
    &nbsp;
</div>

@*<style>
        input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
            height: auto !important;
        }
    </style>*@
<script>

    $.ajax({
        url: '/api/Courses/getAssignedCourse',
        method: 'GET',
        dataType: 'json',
        cache: false,
        success: function (data) {

            for (i = 0; i < data.length; i++) {
                $courseInputElement = $('#selectbatch');
                $optionElement = $('<option>').text(data[i].CourseName).attr('value', data[i].CourseId);
                $courseInputElement.append($optionElement);
            }
            loadCompetenciesData($('#selectbatch').val())

            //loataTable(data);
        }//End of success
    });//End of Ajax

    $('#selectbatch').on('change', function (e) {
        loadCompetenciesData($(this).val())

    });//End of select element change function
    function findCompetencyModal() {
        $('#competencyModal').modal('show');
    }
    function findCategoryModal() {
        $('#categoryModal').modal('show');
    }
    function loadCompetenciesData(inId) {
        $.ajax({
            url: '/api/Competencies/getInternshipCompetenciesByCourse/?id=' + inId + "&Deleted=Y",
            method: 'GET',
            dataType: 'json',
            cache: false,
            success: function (data) {
                var test = data.sort(function (a, b) { return (a.ViewBy > b.ViewBy) ? 1 : ((b.ViewBy > a.ViewBy) ? -1 : 0); });
                var competencyTable = $('#competency_dataTable');
                //  var competencyTbody = $('#competency_tbody');
                //<thead>
                //    <tr>
                //        <th>Category Title</th>
                //        <th width="10%"><div class='container'><div class='row'><button title="edit category" class="btn btn-sm btn-primary"><i class="fa fa-pencil-square-o"></i></button><button title="add competency" class="btn btn-sm btn-success" onclick="findCompetencyModal()"><i class="fa fa-plus"></i></button><button title="delete category" class="btn btn-sm btn-danger" id="deletebtn"><i class="fa fa-trash"></i></button></div></div></th>
                //    </tr>
                //</thead>
                for (i = 0; i < data.length; i++) {
                    var dataForCompetencyList = data[i].CompetencyList.sort(function (a, b) { return (a.ViewBy > b.ViewBy) ? 1 : ((b.ViewBy > a.ViewBy) ? -1 : 0); });
                    $threadElement = $('<thead></thead>');
                    $rowElement = $('<tr></tr>');
                    $cellElement = $('<th></th>', { text: data[i].ViewBy + ". " + data[i].TitleCompetency }).attr('title', data[i].TitleCompetency);
                    $rowElement.append($cellElement);

                    //$cellElement = $('<th width="10%"><div class="container"><div class="row"><button title="edit category" id="btnEditCategory" class="btn btn-sm btn-primary"  data-value="' + data[i].ViewBy + '" value="' + data[i].CompetencyTitleId + '"><i class="fa fa-pencil-square-o"></i></button><button title="add competency" class="btn btn-sm btn-success" id="btnAddCompetency"  value="' + data[i].CompetencyTitleId + '"><i class="fa fa-plus"></i></button><button title="delete category" class="btn btn-sm btn-danger" id="btnDeleteCategory" value="' + data[i].CompetencyTitleId + '"><i class="fa fa-trash"></i></button></div></div></th>');
                    //$rowElement.append($cellElement);

                    $cellElement = $('<th></th>', { text: "Deleted At" });
                    $rowElement.append($cellElement);
                    $cellElement = $('<th></th>', { text: "Deleted By" });
                    $rowElement.append($cellElement);
                    //$cellElement = $('<th></th>', { text: "Action" });
                    //$rowElement.append($cellElement);

                    $cellElement = $('<th width="10%"><div class="container"><div class="row"><button title="Revert title" class="btn btn-sm btn-danger" id="btnRevertCompetencyTitle" value="' + data[i].CompetencyTitleId + '"><i class="fa fa-refresh"></i></button></div></div></th>');
                    $rowElement.append($cellElement);

                    $threadElement.append($rowElement);
                    competencyTable.append($threadElement);
                    //<tr>
                    //    <td>Competency Description</td>
                    //    <th width="10%"><div class='container'><div class='row'><button title="edit description" class="btn btn-sm btn-primary"><i class="fa fa-pencil-square-o"></i></button><button title="delete description" class="btn btn-sm btn-danger" id="deletebtn"><i class="fa fa-trash"></i></button></div></div></th>
                    //</tr>
                    $tbodyElement = $('<tbody></tbody>')
                    for (k = 0; k < dataForCompetencyList.length; k++) {

                        $rowElement = $('<tr></tr>');
                        $cellElement = $('<td></td>');
                        //$cellElement = $('<td></td>', { text: data[i].CompetencyList[k].Description });
                        $cellElement.html(decodeURIComponent(dataForCompetencyList[k].Description));
                        $rowElement.append($cellElement);


                        $cellElement = $('<td></td>', { text: moment(dataForCompetencyList[k].DeletedAt).format('DD/MM/YYYY') });
                        $rowElement.append($cellElement);
                        $cellElement = $('<td></td>', { text: dataForCompetencyList[k].DeletedBy });
                        $rowElement.append($cellElement);
                        $cellElement = $('<th width="10%"><div class="container"><div class="row"><button title="Revert description" class="btn btn-sm btn-danger" id="btnRevertCompetency" value="' + dataForCompetencyList[k].CompetencyId + '"><i class="fa fa-refresh"></i></button></div></div></th>');
                        $rowElement.append($cellElement);

                        $tbodyElement.append($rowElement);
                        //   $threadElement.append($tbodyElement);
                        competencyTable.append($tbodyElement);
                    }
                }
                $('#competency_dataTable tbody').on('click', 'button#btnRevertCompetency', function (e) {
                    // console.dir($(this).val());
                    var selectedCompetency = $(this).val();
                    $.ajax({
                        url: '/Api/Competencies/RevertCompetency/' + selectedCompetency,
                        method: 'PUT',
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        cache: false,
                        success: function (data, status, jqXHR) {
                            var title = 'Success';
                            if (data.AlertType == 'error') {
                                title = 'Error';

                            } else if (data.AlertType == 'warning') {
                                title = 'Warning';
                            }
                            swal({
                                type: data.AlertType,
                                title: title,
                                text: data.Messages
                            }).then(
                                function () {
                                    title == 'Error' ? null : window.location.reload();
                                });
                        },//End of success
                        error: function (data) {
                            swal({
                                type: 'error',
                                title: 'Error',
                                text: data.Message
                            });
                        }//End of error
                    });//End of ajax call

                });//End of on CLick 
                $('#competency_dataTable thead').on('click', 'button#btnRevertCompetencyTitle', function (e) {
                    // console.dir($(this).val());
                    var selectedCompetency = $(this).val();
                    $.ajax({
                        url: '/Api/Competencies/RevertCompetencyTitle/' + selectedCompetency,
                        method: 'PUT',
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        cache: false,
                        success: function (data, status, jqXHR) {
                            var title = 'Success';
                            if (data.AlertType == 'error') {
                                title = 'Error';

                            } else if (data.AlertType == 'warning') {
                                title = 'Warning';
                            }
                            swal({
                                type: data.AlertType,
                                title: title,
                                text: data.Messages
                            }).then(
                                function () {
                                    title == 'Error' ? null : window.location.reload();
                                });
                        },//End of success
                        error: function (data) {
                            swal({
                                type: 'error',
                                title: 'Error',
                                text: data.Message
                            });
                        }//End of error
                    });//End of ajax call

                });//End of on btnRevertCompetencyTitle CLick 
                
            },//End of success

        });//End of Ajax
    }
</script>