
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item active">Competency Checklist</li>
    </ol>
    <div class="card" style="border-width:0px;">
        <div class="card-body">
            <div class="form-group">
                <div class="pull-right">
                    <div class="form-inline">
                        <input type="button" value="View History" class="btn btn-default" onclick="location.href='@Url.Action("competency_history", "Home" )'" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Competency Checklist
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 pull-left">
                    <label>Show Deleted</label>
                    <input type="checkbox" name="my-checkbox" checked>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 pull-right">
                    <button class="btn btn-secondary form-control" id="addcc">
                        Add
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Header</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>DeletedBy</th>
                            <th>DeletedAt</th>
                            <th>ModifiedBy</th>
                            <th>ModifiedAt</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Technical Development
                            </td>
                            <td>
                                1. Describe and explain respectively domain knowledge
                            </td>
                            <td>
                                <ul>
                                    <li>
                                        Understand existing business operations
                                    </li>
                                    <li>
                                        Identify roles and responsibilities of company staff members
                                    </li>
                                    <li>
                                        Understand a project/system business requirements
                                    </li>
                                </ul>
                            </td>
                            <td>Teo Seok Ling</td>
                            <td>-</td>
                            <td>Teo Seok Ling</td>
                            <td>12/11/2017</td>
                            <td>
                                <button class="btn btn-primary" id="updatecc"><i class="fa fa-pencil-square"></i></button>
                                    <button class="btn btn-danger" id="delete"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>

    <!--end with attendance taking-->
    <div class="card-body">
        <div class="form-group">
            <div class="col-12">
                <button class="btn btn-default pull-left" onclick="window.history.go(-1); return false">
                    Back
                </button>
            </div>
        </div>
    </div>
    <br />
</div>

<!-- Add Competency Checklist Modal -->
<div class="modal fade" id="addccModal" tabindex="-1" role="dialog" aria-labelledby="addccModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addccModalLabel">Add Competency</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container">
                    <form>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Header</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="header" type="text" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="title" type="text" value="">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label" for="description">
                                Description
                            </label>
                            <textarea class="form-control" rows="5" id="description"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submit">Create</button>
                <!----   <a class="btn btn-primary" href="login.html">Logout</a>  -->
            </div>
        </div>
    </div>
</div>

<!-- Edit Competency Checklist Modal -->
<div class="modal fade" id="updateccModal" tabindex="-1" role="dialog" aria-labelledby="updateccModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateccModalLabel">Edit Competency</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container">
                    <form>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Header</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="header" type="text" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="title" type="text" value="">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label" for="description">
                                Description
                            </label>
                            <textarea class="form-control" rows="5" id="description"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submit">Update</button>
                <!----   <a class="btn btn-primary" href="login.html">Logout</a>  -->
            </div>
        </div>
    </div>
</div>

<script>
    var editor;
    $(document).ready(function () {

        $("[name='my-checkbox']").bootstrapSwitch();
        var table = $('#dataTable').DataTable({
            "paging": true,
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": false,
            "bInfo": true,
            "bAutoWidth": false,
            "asStripClasses": null,
            //--disable the sorting--
            dom: 'rtip',
            ajax: {
                url: '/Api/Task_Record',
                dataSrc: ''
            },
            order: [[1, 'asc']],
            columns: [
                { data: "Description" },
                { data: "Description" },
                { data: "Description" },
                { data: "Description" },
                { data: "Description" },
                { data: "Description" },
                { data: "Description" },
                {
                    data: null,
                    "sWidth": "10%",
                    "bSortable": false,
                    "mRender": function (o) { return '<button class="btn btn-sm btn-primary"><i class="fa fa-pencil-square-o"></i></button>&nbsp<button class="btn btn-sm btn-danger" id="deletebtn"><i class="fa fa-trash"></i></button>' }
                }
            ],
            language: {
                emptyTable: "No competency checklist was found, please create one.",
            }
        });

        $('#addcc').on('click', function (e) {
            $('#addccModal').modal('show');
        });

        $('#dataTable tbody').on('click', 'button.btn-primary', function (e) {
            $('#updateccModal').modal('show');
        });
    });
</script>
