@{
    ViewData["Title"] = "Edit Project Page";
}
<div class="container-fluid">
    <!-- Example DataTables Card-->
    <section id="contact">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Edit Project</h2>
            <hr />
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Project Name</label>
                                <input class="form-control" id="projectName" type="text" placeholder="Project Name" required="required" data-validation-required-message="Please enter a project name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Company</label>
                                <div class='input-group' id='findcompany'>
                                    <input type='text' class="form-control" id="selectcompany" placeholder="Company" required="required" style="background-color:white" onclick="findCompanyModal()" data-validation-required-message="Please select a company." readonly />
                                    <div class="input-group-addon" onclick="findCompanyModal()" style="background-color:white;border:none;">
                                        <i class="fa fa-search"></i>
                                    </div>
                                </div>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Supervisor's Name</label>
                                <input class="form-control" id="supervisorName" type="text" placeholder="Supervisor's Name" required="required" data-validation-required-message="Please enter supervisor's name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Mobile Number</label>
                                <input class="form-control" id="mobileNo" type="number" placeholder="Mobile Number" required="required" data-validation-required-message="Please enter mobile number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Email Address</label>
                                <input class="form-control" id="email" type="email" placeholder="Email Address" required="required" data-validation-required-message="Please enter email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                            <div class="col-12">
                                <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/Manage_Project'">
                                    Back
                                </button>
                                <button class="btn btn-primary pull-right" name="submit" type="submit">
                                    Update
                                </button>
                            </div>
                        </div>
                        <br />
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<!--modal-->
<div class="modal fade" id="selectCompanyModal" tabindex="-1" role="dialog" aria-labelledby="selectCompanyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="selectCompanyModalLabel">Select Company</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="col-12">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" placeholder="Search...">
                                <div class="input-group-addon">
                                    <i class="fa fa-search">
                                    </i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="5">Convertium</textarea>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <div class="form-inline">
                                    <label>Selected: &nbsp;</label>
                                    <input class="form-control" value="Convertium" readonly>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="submit">Confirm</button>
                <!----   <a class="btn btn-primary" href="login.html">Logout</a>  -->
            </div>
        </div>
    </div>
</div>

<!--choose modal-->
<div class="modal fade" id="selectChoiceModal" tabindex="1" role="dialog" aria-labelledby="selectChoiceModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="selectChoiceModalLabel">Select One</h5>
            </div>
            <div class="modal-body">

                <div class="col-12">
                    <table width="100%">
                        <tr>
                            <td style="padding-bottom:1em;text-decoration:underline;"><strong>Current Information</strong></td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:2em;"><div class="control-group"><label class="control-label"><strong>Name: </strong></label><div class="control">Santhosh Kumar</div></div></td>
                            <td style="padding-bottom:2em;"><div class="control-group"><label class="control-label"><strong>Mobile: </strong></label><div class="control">98555182</div></div></td>
                            <td><input type="radio" name="optradio"></td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:1em;text-decoration:underline;"><strong>Existing Information</strong></td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:2em;"><div class="control-group"><label class="control-label"><strong>Name: </strong></label><div class="control">CK Chanon</div></div></td>
                            <td style="padding-bottom:2em;"><div class="control-group"><label class="control-label"><strong>Mobile: </strong></label><div class="control">95864582</div></div></td>
                            <td><input type="radio" name="optradio"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer text-center">
                <label class="mr-auto" style="color:red;">Pick one before proceeding..</label>
                <button type="button" class="btn btn-secondary" id="submit">Confirm</button>
            </div>
        </div>
    </div>
</div>
@*<script>
        $(document).ready(function () {

            var editor = new $.fn.dataTable.Editor(table);

            //var t = $('#dataTable').DataTable();
            var counter = 1;

            var table = $('#dataTable').DataTable({
                ajax: {
                    url: '/Api/Task_Record',
                    dataSrc: ''
                },
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": false,
                "bSort": false,
                "bInfo": false,
                "bAutoWidth": false,
                "asStripClasses": null,
                //--disable the sorting--
                dom: 'lrt',
                "aoColumns": [
                    { "mData": "DayRecordId", "sWidth": "10%" },
                    { "mData": "Description", "sTitle": "Description", "sWidth": "80%" },
                    {
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o) { return '<button class="btn btn-sm btn-danger" id="deletebtn"><i class="fa fa-times"></i></button>' }
                    }
                ],
                language: {
                    emptyTable: "No task was found, please create one.",
                }
            });
            $('#dataTable tbody').on('click', 'button.btn-danger', function (e) {
                console.log("button 1 is click");
            });
        });
    </script>*@
<script>
    var editor;
    $(document).ready(function () {
        var table = $('#dataTable').DataTable({
            "scrollY": '250px',
            "scrollCollapse": true,
            "paging": false,
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": false,
            "bInfo": false,
            "bAutoWidth": false,
            "asStripClasses": null,
            //--disable the sorting--
            dom: 'rti',
            ajax: {
                url: '/Api/Task_Record',
                dataSrc: ''
            },
            order: [[1, 'asc']],
            columns: [
                { data: "DayRecordId" },
                { data: "Description" },
                {
                    data: null,
                    "sWidth": "10%",
                    "bSortable": false,
                    "mRender": function (o) { return '<button class="btn btn-sm btn-primary"><i class="fa fa-pencil-square-o"></i></button>&nbsp<button class="btn btn-sm btn-danger" id="deletebtn"><i class="fa fa-trash"></i></button>' }
                }
            ],
            language: {
                emptyTable: "No task was found, please create one.",
            }
        });
    });

    function findCompanyModal() {
        $('#selectCompanyModal').modal('show');
    }
    function findChoiceModal() {
        $('#selectChoiceModal').modal('show');
    }
</script>