@{
    ViewData["Title"] = "Edit Grade Page";
}
<div class="container-fluid">
    <!-- Example DataTables Card-->
    <section id="contact">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Edit Student</h2>
            <hr />
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Student ID</label>
                                <input class="form-control" id="studentId" type="text" placeholder="Student ID" style="background-color:white" readonly>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Name</label>
                                <input class="form-control" id="studentName" type="text" placeholder="Student Name" style="background-color:white" readonly>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Supervisor's Grading (%)</label>
                                <input class="form-control" id="supervisor_grading" min="0" type="number" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" placeholder="Supervisor's Grading (%)" style="background-color:white" readonly>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>LO's Grading (%)</label>
                                <input class="form-control" id="lo_grading" min="0" type="number" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" placeholder="LO's' Grading (%)" style="background-color:white" readonly>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Final Grading (%)</label>
                                <input class="form-control" id="final_grading" min="0" type="number" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" placeholder="Final Grading (%)" style="background-color:white">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Grade</label>
                                <input class="form-control" id="grade" min="0" type="number" placeholder="Grade" style="background-color:white" readonly>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                            <div class="col-12">
                                <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/Manage_Student'">
                                    Back
                                </button>
                                <button class="btn btn-primary pull-right" name="submit" type="submit">
                                    Update
                                </button>
                            </div>
                        </div>
                        <br />
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
