@{
    ViewData["Title"] = "Edit Project Page";
}
<div class="container-fluid">
    <!-- Example DataTables Card-->
    <section id="contact">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Edit Project</h2>
            <hr />
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Project Name</label>
                                <input class="form-control" id="projectName" type="text" placeholder="Project Name" required="required" data-validation-required-message="Please enter a project name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Company</label>
                                <div class='input-group' id='findcompany'>
                                    <input type='text' class="form-control" id="selectCompany" placeholder="Company" required="required" style="background-color:white" onclick="findCompanyModal()" data-validation-required-message="Please select a company." readonly />
                                    <div class="input-group-addon" onclick="findCompanyModal()" style="background-color:white;border:none;">
                                        <i class="fa fa-search"></i>
                                    </div>
                                </div>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Supervisor's Name</label>
                                <input class="form-control" id="supervisorName" type="text" placeholder="Supervisor's Name" required="required" data-validation-required-message="Please enter supervisor's name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Mobile Number</label>
                                <input class="form-control" id="mobileNo" type="number" placeholder="Mobile Number" required="required" data-validation-required-message="Please enter mobile number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Email Address</label>
                                <input class="form-control" id="email" type="email" placeholder="Email Address" required="required" data-validation-required-message="Please enter email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                            <div class="col-12">
                                <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/Manage_Project'">
                                    Back
                                </button>
                                <button class="btn btn-primary pull-right" name="submit" type="submit">
                                    Update
                                </button>
                            </div>
                        </div>
                        <br />
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<!--modal-->
<div class="modal fade" id="selectCompanyModal" tabindex="-1" role="dialog" aria-labelledby="selectCompanyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="selectCompanyModalLabel">Select Company</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="col-12">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" placeholder="Search..." id="txtSearch">
                                <div class="input-group-addon">
                                    <i class="fa fa-search">
                                    </i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            <select id="companySelect" size="6" style="width: 100%;"></select>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <div class="form-inline">
                                    <label>Selected: &nbsp;</label>
                                    <input class="form-control" value="Convertium" readonly id="txtSelected">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnSubmit">Confirm</button>
                <!----   <a class="btn btn-primary" href="login.html">Logout</a>  -->
            </div>
        </div>
    </div>
</div>

<script>
    // $(function () { $('#contactForm input').not('[type=submit]').jqBootstrapValidation(); });
    $(document).ready(function () {
        //  console.dir($('#contactForm input'));
        //  $('#projectName').jqBootstrapValidation();
        var projectId = sessionStorage.getItem("editProject");
        $.ajax({
            url: '/api/Companies',
            method: 'GET',
            dataType: 'json',
            cache: false,
            success: function (data) {
                for (i = 0; i < data.length; i++) {
                    //    $('#companySelect').val(data[i].)
                    $companyInputElement = $('#companySelect');
                    $optionElement = $('<option>').text(data[i].CompanyName).attr('value', data[i].CompanyId);
                    $companyInputElement.append($optionElement);
                }

            }//End of success
        });//End of Ajax

        $.ajax({
            url: '/API/Projects/' + projectId,
            method: 'GET',
            dataType: 'json',
            cache: false,
            success: function (data) {
                $('#projectName').val(data.ProjectName);
                //$('#selectCompany').attr('value');
                $('#supervisorName').val(data.FullName);
                $('#mobileNo').val(data.PhoneNumber);
                $('#email').val(data.Email);

                $('#selectCompany').val(data.CompanyName);// To set display text on input element
                $('#selectCompany').attr('value', data.CompanyId); // To set company value id to the input element

                $('#companySelect').val(data.CompanyId);
                $('#txtSelected').val(data.CompanyName);
                //for (i = 0; i < data.length; i++) {
                //    //    $('#companySelect').val(data[i].)
                //    $companyInputElement = $('#companySelect');
                //    $optionElement = $('<option>').text(data[i].CompanyName).attr('value', data[i].CompanyId);
                //    $companyInputElement.append($optionElement);
                //}

            }//End of success
        });//End of Ajax
        $('#txtSearch').on("keyup", function (e) {
            console.dir($(this).val());
            var text = $(this).val();
            var options = $('#companySelect option');
            //var options = $('#companySelect').option;
            for (var i = 0; i < options.length; i++) {
                var option = options[i];
                var optionText = option.text;
                var lowerOptionText = optionText.toLowerCase();
                var lowerText = text.toLowerCase();
                var regex = new RegExp("^" + text, "i");
                var match = optionText.match(regex);
                var contains = lowerOptionText.indexOf(lowerText) != -1;
                if (match || contains) {

                    //option.selected = true;
                    return;
                }
                $(this).selectedIndex = 0;
            }
        });//End of txtSearch function

        $('#companySelect').on('change', function (e) {
            $('#txtSelected').val($('#companySelect option:selected').text());
        });//End of Select Change
        $('#btnSubmit').on('click', function (e) {

            $('#selectCompany').val($('#companySelect option:selected').text());// To set display text on input element
            $('#selectCompany').attr('value', ($('#companySelect option:selected').val())); // To set company value id to the input element

            $('#selectCompanyModal').modal('hide');
        });//End of button submit for popup

        //$('#btnSave').on('click', function (e) {
        //    var errorMessages = [];
        //    $('#contactForm input').each(function (i, el) {
        //        errorMessages = errorMessages.concat(
        //            $(this).triggerHandler("validation.validation")
        //        );
        //    });
        //    var errors = $('#contactForm').jqBootstrapValidation("collectErrors");
        //    console.dir(errorMessages);
        //    console.dir(errors);
        //    console.dir('test');
        //    var collectedProjectName = $('#projectName').val();
        //    var collectedCompany = $('#selectCompany').attr('value');
        //    var collectedSupervisorName = $('#supervisorName').val();
        //    var collectedSupervisorNumber = $('#mobileNo').val();
        //    var collectedSupervsorEmail = $('#email').val();


        //});
        $(function () {

            $('#contactForm').find('input').not('[type=submit]').jqBootstrapValidation({
                preventSubmit: true,
                submitSuccess: function ($form, event) {
                    event.preventDefault();
                    
                    var collectedProjectName = $('#projectName').val();
                    var collectedCompany = $('#selectCompany').attr('value');
                    var collectedSupervisorName = $('#supervisorName').val();
                    var collectedSupervisorNumber = $('#mobileNo').val();
                    var collectedSupervisorEmail = $('#email').val();
                    var webFormData = new WebFormData(projectId,collectedProjectName, collectedCompany, collectedSupervisorName,
                        collectedSupervisorNumber, collectedSupervisorEmail);

                    $.ajax({
                        url: '/Api/Projects/SaveNewProjectRecord/',
                        method: 'PUT',
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        cache: false,
                        data: "'" + JSON.stringify(webFormData) + "'",
                        success: function (data, status, jqXHR) {
                            var title = 'Success';
                            if (data.AlertType == 'error') {
                                title = 'Error';

                            } else if (data.AlertType == 'warning') {
                                title = 'Warning';
                            }
                            swal({
                                type: data.AlertType,
                                title: title,
                                text: data.Messages
                            }).then(
                                function () {
                                    title == 'Error' ? null : window.location.reload();
                                });
                        },//End of success
                        error: function (data) {
                            swal({
                                type: 'error',
                                title: 'Error',
                                text: data.Message
                            });
                        }//End of error
                    });//End of ajax call


                    // will not trigger the default submission in favor of the ajax function

                },
                submitError: function ($form, event, errors) {

                }

            });

        });//End of jqBootstrapValidation

    });//End of document ready.

    function findCompanyModal() {
        $('#selectCompanyModal').modal('show');
    }
    function WebFormData(inProjectId,inProjectName, inCompany, inSupervisorName,
        inSupervisorNumber, inSupervisorEmail) {
        this.ProjectId = inProjectId;
        this.ProjectName = inProjectName;
        this.Company = inCompany;
        this.SupervisorName = inSupervisorName;
        this.SupervisorNumber = inSupervisorNumber;
        this.SupervisorEmail = inSupervisorEmail;
    }
</script>