@{
    ViewData["Title"] = "Edit Company Page";
}
<div class="container-fluid">
    <!-- Example DataTables Card-->
    <section id="contact">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Edit Company</h2>
            <hr />
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Company Name</label>
                                <input class="form-control" id="companyName" type="text" placeholder="Company Name" required="required" data-validation-required-message="Please enter a company name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Company Address</label>
                                <input class="form-control" id="companyAddress" type="text" placeholder="Company Address" required="required" data-validation-required-message="Please enter a company address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Contact Person's Name</label>
                                <input class="form-control" id="contactName" type="text" placeholder="Contact Person's Name" required="required" data-validation-required-message="Please enter contact person's name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Contact Person's Number</label>
                                <input class="form-control" id="contactNumber" type="number" placeholder="Contact Person's Number" required="required" data-validation-required-message="Please enter contact person's number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Contact Person's Email</label>
                                <input class="form-control" id="contactEmail" type="email" placeholder="Contact Person's Email" required="required" data-validation-required-message="Please enter contact person's email.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Fax</label>
                                <input class="form-control" id="fax" type="number" placeholder="Fax">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                            <div class="col-12">
                                <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/Manage_Company'">
                                    Back
                                </button>
                                <button class="btn btn-primary pull-right" name="submit" type="submit">
                                    Update
                                </button>
                            </div>
                        </div>
                        <br />
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
  var g_companyId = getCompanyIdFromAddressBar();
      getCompanyDetails(g_companyId);
      function getCompanyIdFromAddressBar() {

        var urlArray = window.location.href.split('/');
        var companyId = urlArray[urlArray.length - 1];
        return companyId;
    }
    function WebFormData(inCompanyName, inCompanyAddress) {
        this.CompanyName = inCompanyName;
        this.CompanyAddress = inCompanyAddress;
     

    }
    $('#btnSave').on('click', function () {

        var collectedCompanyName = $('#companyName').val();
        var collectedCompanyAddress = $('#companyAddress').val();

        var webFormData = new WebFormData(collectedCompanyName, collectedCompanyAddress);
        var webFormDatainString = JSON.stringify(webFormData);
        $saveBatchHandler = jQuery.ajax({
            url: '/API/Companies/UpdateCompany/' + g_companyId,
            type: 'put',
            dataType: 'json',
            contentType: 'application/json',
            data: "'" + webFormDatainString + "'"

        });
        $saveBatchHandler.done(function (data, textStatus, jqXHR) {
            console.dir("Success");

        });//End .Done

    });//End on Click 

    function getCompanyDetails(inCompanyId) {

        $loadProductHandler = jQuery.ajax({
            method: 'get',
            dataType: 'json',
            cache: false,
            url: '/API/Companies/GetCompany/' + inCompanyId
        })
        $loadProductHandler.done(function (data, textStatus, jqXHR) {

            var oneCompany = data;

            companyId = oneCompany.CompanyId;
            companyName = oneCompany.CompanyName;
            companyAddress = oneCompany.CompanyAddress;

            $('#companyName').val(companyName);
            $('#companyAddress').val(companyAddress);

        });
    }
</script>