<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item active">Manage Students</li>
    </ol>
    <div class="card" style="border-width:0px;">
        <div class="card-body">
            <div class="form-group">
                <div class="pull-left">
                    <label>Batch Name:&nbspAY16/17S2</label><br />
                    <label>Course Name:&nbspDiploma in Information Technology</label>
                </div>
            </div>
        </div>
    </div>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Manage Students
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="col-xs-12 pull-right">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button class="btn btn-secondary form-control pull-left" id="add student">
                            Add Student
                        </button>
                        &nbsp;
                        <button class="btn btn-secondary form-control pull-right" id="uploadcsv">
                            Upload CSV
                        </button>
                    </div>
                    </div>
            </div>
        </div>
        <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Student ID</th>
                                <th>Student Name</th>
                                <th>Liaison Officer</th>
                                <th>Project</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>P1530247</td>
                                <td>Amelia Goh</td>
                                <td>Mr Vincent Goh</td>
                                <td>
                                    Parliament
                                </td>
                                <td>
                                    <button class="btn btn-primary" id="updateManageStudent"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-danger" id="delete"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>P1532829</td>
                                <td>Cho Qi Xiang</td>
                                <td>Ms Leong Fong Sow</td>
                                <td>
                                    CAAS
                                </td>
                                <td>
                                    <button class="btn btn-primary" id="updateManageStudent"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-danger" id="delete"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>P1551322</td>
                                <td>Tan Chia Wei</td>
                                <td>Mr Lim De Yang</td>
                                <td>
                                    MDA
                                </td>
                                <td>
                                    <button class="btn btn-primary" id="updateManageStudent"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-danger" id="delete"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>P1551635</td>
                                <td>Loo Jia Wei</td>
                                <td>Dr Leong</td>
                                <td>
                                    WIS
                                </td>
                                <td>
                                    <button class="btn btn-primary" id="updateManageStudent"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-danger" id="delete"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--end with attendance taking-->
            </div>
        </div>
    <div class="card-body">
        <div class="form-group">
            <div class="col-12">
                <button class="btn btn-default pull-left" onclick="window.history.go(-1); return false">
                    Back
                </button>
                <button class="btn btn-primary pull-right">
                    Submit
                </button>
            </div>
        </div>
    </div>
    <br />
</div>

<script>
    var editor;
    $(document).ready(function () {
        var table = $('#dataTable').DataTable({
            "paging": true,
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": false,
            "bInfo": true,
            "bAutoWidth": false,
            "asStripClasses": null,
            //--disable the sorting--
            dom: 'rtip',
            ajax: {
                url: '/Api/Task_Record',
                dataSrc: ''
            },
            order: [[1, 'asc']],
            columns: [
                { data: "Description" },
                {
                    data: null,
                    "sWidth": "10%",
                    "bSortable": false,
                    "mRender": function (o) { return '<button class="btn btn-sm btn-primary"><i class="fa fa-pencil-square-o"></i></button>&nbsp<button class="btn btn-sm btn-danger" id="deletebtn"><i class="fa fa-trash"></i></button>' }
                }
            ],
            // language: {
            //emptyTable: "No competency checklist was found, please create one.",
            //}
        });
        // Activate an inline edit on click of a table cell
        $('#dataTable tbody').on('click', 'button.btn-danger', function (e) {
            console.log("button 1 is click");
        });

        $('#updateManageStudent').on('click', function (e) {
            $('#updateManageStudentModal').modal('show');
        });

        $('#dataTable tbody').on('click', 'button.btn-primary', function (e) {
            $('#updateManageStudentModal').modal('show');
        });

        $('#uploadcsv').on('click', function (e) {
            $('#uploadcsvModal').modal('show');
        });
    });
</script>
