@{
    ViewData["Title"] = "Manage Batch Page";
}

<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item active">Manage Batch</li>
    </ol>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>Batch Name</th>
                        <th>Course Name</th>
                        <th width="10%">Manage Students</th>
                        <th width="10%">Grading</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>AY16/17 S2-DIT</td>
                        <td>Diploma in Information Technology</td>
                        <td>
                            <div class="text-center">
                                <a href="/home/Manage_Student"><i class="fa fa-fw fa-user-plus"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/home/manage_grade"><i class="fa fa-fw fa-graduation-cap"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>AY16/17 S2-DBIT</td>
                        <td>Diploma in Business Information Technology</td>
                        <td>
                            <div class="text-center">
                                <a href="/home/Manage_Student"><i class="fa fa-fw fa-user-plus"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/home/manage_grade"><i class="fa fa-fw fa-graduation-cap"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>AY16/17 S2-DISM</td>
                        <td>Diploma in Infocomm Security Management</td>
                        <td>
                            <div class="text-center">
                                <a href="/home/Manage_Student"><i class="fa fa-fw fa-user-plus"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/home/manage_grade"><i class="fa fa-fw fa-graduation-cap"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="col-12">
                <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/Index'">
                    Back
                </button>
            </div>
        </div>
    </div>
    &nbsp;
    <!-- /.container-fluid -->
</div>
<!-- /.content-wrapper -->
<script>
    $(document).ready(function () {
        var table = $('#dataTable').DataTable({
            dom: 't',
            ajax: {
                url: '/Api/Batches/',
                dataSrc: ''
            },
            columns: [
                { data: "BatchName" },
                { data: "CourseName" },
                {
                    data: null,
                    "bSortable": false,
                    "mRender": function (data, type, dataToSet) {
                        return '<a href="/home/manage_student" id="manageBatch" style="color:black;" value="' + dataToSet.BatchId + '" onClick="manageBatch(\'' + dataToSet.BatchName + '\' , \'' + dataToSet.BatchId + '\')" > <button class="btn btn-primary btn-labeled role="button"> <span class="btn-label"><i class="fa fa-fw fa-user-plus"></i></span>Manage Student</button></a>' }
                },
                {
                    data: null,
                    "bSortable": false,
                    "mRender": function (data, type, dataToSet) { return '<a href="/home/manage_grade" style="color:black;" value="' + dataToSet.BatchId + '" onClick="manageBatch(\'' + dataToSet.BatchName + '\' , \'' + dataToSet.BatchId + '\')"><button class="btn btn-primary btn-labeled role="button"> <span class="btn-label"><i class="fa fa-fw fa-graduation-cap"></i></span>Grade</button></a>' }
                }
            ],
            language: {
                emptyTable: "No Batch was found, please create one.",
            }
        });
        //$('#dataTable tbody').on('click', 'button.btn-primary', function (e) {
        //    $('#commentModal').modal('show');
        //});
    });

    function manageBatch(inName, inId) {
        //removeCookie();
        //$.each($('table tbody tr td.StudentId'), function (index) {
            //setCookie($(this).closest('td').next('td').text(), $(this).text());
        //});
        $.each($('table tbody tr td #manageBatch'), function (index) {
           // console.dir($(this).closest('td').prev('td').prev('td').text(), $(this).attr('value'));
            sessionStorage.setItem($(this).closest('td').prev('td').prev('td').text(), $(this).attr('value'));
        });
        sessionStorage.setItem('selected', inId);
        //$.each($('table tbody tr td.StudentName'), function (index) {
        //    console.dir($(this).text());

        //});
        //ssetCookie("selectedStudent", inId);

    };
</script>