@{
    ViewData["Title"] = "View Competency Page";
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Competency Checklist</a>
        </li>
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Competency History</a>
        </li>
        <li class="breadcrumb-item active">View Competency</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header d-inline">
            <i class="fa fa-table fa-2x pull-left"></i> <h3>View Competency</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="90%">Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                1. Describe and explain respectively domain knowledge
                                <ul>
                                    <li>
                                        Understand existing business operations
                                    </li>
                                    <li>
                                        Identify roles and responsibilities of company staff members
                                    </li>
                                    <li>
                                        Understand a project/system business requirements
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <button class="btn btn-primary" id="updatecc"><i class="fa fa-pencil-square"></i></button>
                                    <button class="btn btn-danger" id="delete"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>

    <!--end with attendance taking-->
    <div class="card-body">
        <div class="form-group">
            <div class="col-12">
                <button class="btn btn-default pull-left" onclick="window.history.go(-1); return false">
                    Back
                </button>
            </div>
        </div>
    </div>
    <br />
</div>
<script>
    var editor;
    $(document).ready(function () {
        var editor;
        var table = $('#dataTable').DataTable({
            "paging": true,
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": false,
            "bInfo": true,
            "bAutoWidth": false,
            "asStripClasses": null,
            //--disable the sorting--
            dom: 'rtip',
            ajax: {
                url: '/Api/Task_Record',
                dataSrc: ''
            },
            order: [[1, 'asc']],
            columns: [
                { data: "Description" }
            ],
            language: {
                emptyTable: "No competency checklist was found, please create one.",
            }
        });
    });
</script>
