@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Internship Programme</a>
        </li>
        <li class="breadcrumb-item active">Homepage</li>
    </ol>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header">

                    </div>

                    <div class="card-block">
                        <img src="~/images/file.png" class="m-auto" alt="Lights" style="width:50%;padding: 1em 0em">
                    </div>
                    <div class="card-footer text-muted">
                        <button type="button" class="btn btn-primary btn-lg btn-block">View Student Attendance</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header">

                    </div>

                    <div class="card-block">
                        <img src="~/images/file.png" class="m-auto" alt="Lights" style="width:50%;padding: 1em 0em">
                    </div>
                    <div class="card-footer text-muted">
                        <button type="button" class="btn btn-primary btn-lg btn-block">View Student Monthly Reflection</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header">

                    </div>

                    <div class="card-block">
                        <img src="~/images/file.png" class="m-auto" alt="Lights" style="width:50%;padding: 1em 0em">
                    </div>
                    <div class="card-footer text-muted">
                        <button type="button" class="btn btn-primary btn-lg btn-block">View Student Task</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<!-- /.container-fluid -->
<!-- /.content-wrapper -->

