@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Internship Programme</a>
        </li>
        <li class="breadcrumb-item active">Homepage</li>
    </ol>
    <h3>Welcome</h3>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered" cellspacing="0">
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Student Info</th>
                        <th>Student Journal</th>
                        <th>Pending Review</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>11/10/2017</td>
                        <td>09:00</td>
                        <td>16:00</td>
                        <td>-</td>
                        <td><input type="text" class="form-control" value="good progress" /></td>
                    </tr>
                    <tr>
                        <td>12/10/2017</td>
                        <td>09:00</td>
                        <td>16:00</td>
                        <td>-</td>
                        <td><input type="text" class="form-control" value="" /></td>
                    </tr>
                    <tr>
                        <td>13/10/2017</td>
                        <td>-</td>
                        <td>-</td>
                        <td>PH</td>
                        <td><input type="text" class="form-control" value="" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
<!-- /.container-fluid -->
<!-- /.content-wrapper -->

