<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item active">Monthly Reflection</li>
        @*<li class="nav-item pull-right">
                <select class="form-control" id="exampleSelect1">
                    <option>Week 1 to Week 4</option>
                    <option>Week 5 to Week 8</option>
                    <option>Week 9 to Week 12</option>
                    <option>Week 13 to Week 16</option>
                </select>
            </li>*@
    </ol>
    <div class="card-head">
        <div class="form-inline pull-right">
            <select class="form-control" id="exampleSelect1">
                <option>Week 1 to Week 4</option>
                <option>Week 5 to Week 8</option>
                <option>Week 9 to Week 12</option>
                <option>Week 13 to Week 16</option>
            </select>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 pull-left">
            <label>Student Name:&nbsp</label><a href="#">Amelia Goh</a>
        </div>
    </div>
    <div class="card-body">
        <div class="container text-left">
            <br />
            <div>
                <h5>Soft Skill Competency</h5>
            </div>
            <hr />
            <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="form-group">
                    <label class="control-label col-sm-8 requiredField" for="softskill1">(a) Areas you have done well.</label>
                    <textarea class="form-control" rows="5" id="softskill1"></textarea>
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="form-group">
                    <label class="control-label col-sm-8 requiredField" for="softskill2">(b) Areas you would like to improve.</label>
                    <textarea class="form-control" rows="5" id="softskill2"></textarea>
                </div>
            </div>
            <br />
            <div>
                <h5>Technical Competency</h5>
            </div>
            <hr>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="form-group">
                    <label class="control-label col-sm-8 requiredField" for="hardskill1">(a) How you have applied what you have learnt in school and workplace</label>
                    <textarea class="form-control" rows="5" id="hardskill1"></textarea>
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="form-group">
                    <label class="control-label col-sm-8 requiredField" for="hardskill2">(b) Areas you have done well.</label>
                    <textarea class="form-control" rows="5" id="hardskill2"></textarea>
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="form-group ">
                    <label class="control-label col-sm-8 requiredField" for="hardskill3">(c) Areas you would like to improve.</label>
                    <textarea class="form-control" rows="5" id="hardskill3"></textarea>
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="form-group ">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="feedback">Reflection Feedback:</label>
                        <textarea class="form-control" rows="5" id="feedback"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="col-12">
                    <button class="btn btn-default" onclick="window.history.go(-1); return false">
                        Back
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>

@*<div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">buzz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#references" role="tab" data-toggle="tab">references</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="profile">HI</div>
            <div role="tabpanel" class="tab-pane fade" id="buzz">bbb</div>
            <div role="tabpanel" class="tab-pane fade" id="references">ccc</div>
        </div>
    </div>*@