<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Internship Programme</a>
        </li>
        <li class="breadcrumb-item active">Student Journals</li>
    </ol>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered" cellspacing="0">
                <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>Student Name</th>
                        <th>Review History</th>
                        <th>Pending History</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>P1530247</td>
                        <td>Amelia Goh</td>
                        <td>
                            <div class="text-center">
                                <a href="/supervisor/monthly_reflection"><i class="fa fa-fw fa-file"></i></a>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>P1532829</td>
                        <td>Cho Qi Xiang</td>
                        <td>
                            <div class="text-center">
                                <a href="/supervisor/monthly_reflection"><i class="fa fa-fw fa-file"></i></a>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>P1551322</td>
                        <td>Tan Chia Wei</td>
                        <td>
                            <div class="text-center">
                                <a href="/supervisor/monthly_reflection"><i class="fa fa-fw fa-file"></i></a>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-wrapper -->
