@{
    ViewData["Title"] = "Attendance Summary Page";
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item active">Attendance Summary</li>
    </ol>
    <div class="card" style="border-width:0px;">
        <div class="card-body">
            <div class="form-group">
                <div class="col-xs-12 pull-right">
                    <input type="button" value="View History" class="btn btn-default" onclick="location.href='@Url.Action("attendance_history", "Home" )'" />
                </div>
            </div>
        </div>
    </div>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header d-inline">
            <i class="fa fa-calendar-check-o fa-2x pull-left"></i> <h3>Attendance Taking</h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="col-md-2 col-sm-2 col-xs-12 pull-right">
                    <button class="btn btn-secondary form-control" id="addattendance">
                        Add
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time in</th>
                            <th>Time Out</th>
                            <th>Remarks</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    @*<tfoot>
                            <tr>
                                <th>Date</th>
                                <th>Time in</th>
                                <th>Time Out</th>
                                <th>Remarks</th>
                                <th>Edit</th>
                            </tr>
                        </tfoot>*@
                    <tbody>
                        <tr>
                            <td>2011/04/27</td>
                            <td>10:00</td>
                            <td>18:00</td>
                            <td>PH</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
    <!--end with attendance taking-->
    <div class="card-body">
        <div class="form-group">
            <div class="col-12">
                <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/Index'">
                    Back
                </button>
            </div>
        </div>
    </div>
    <br />
</div>
<!-- Attendance Modal -->
@*<div class="modal fade" id="attendanceModal" tabindex="-1" role="dialog" aria-labelledby="attendanceModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="attendanceModalLabel">Create Attendance</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form>
                            <div class="form-group">
                                <label class="control-label requiredField" for="date">
                                    Date
                                    <span class="asteriskField">
                                        *
                                    </span>
                                </label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar">
                                        </i>
                                    </div>
                                    <input class="form-control" id="date" name="date" placeholder="DD/MM/YYYY" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label requiredField" for="timein">
                                    Time in
                                </label>
                                <div class='input-group date' id='timein'>
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input type='text' class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label requiredField" for="timeout">
                                    Time out
                                </label>
                                <div class='input-group date' id='timeout'>
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input type='text' class="form-control" id="timeout" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Remarks</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>-</option>
                                    <option>MC</option>
                                    <option>Holiday</option>
                                    <option>LOA</option>
                                    <option>Company Off-Day</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="specify">
                                    if others, please specify:
                                </label>
                                <input type='text' class="form-control" id="specify" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="submit">Submit</button>
                    <!----   <a class="btn btn-primary" href="login.html">Logout</a>  -->
                </div>
            </div>
        </div>
    </div>*@
<!-- Edit Modal -->
<div class="modal fade" id="editattendanceModal" tabindex="-1" role="dialog" aria-labelledby="editattendanceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editattendanceModalLabel">Edit Attendance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form>
                        <input id="dayidval" type="text" hidden disabled />
                        <div class="form-group">
                            <label class="control-label requiredField" for="date">
                                Date
                                <span class="asteriskField">
                                    *
                                </span>
                            </label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar">
                                    </i>
                                </div>
                                <input class="form-control" id="dateval" name="date" placeholder="MM/DD/YYYY" type="text">
                            </div>
                        </div>
                        <div class="form-group" id="timeincontainer">
                            <label class="control-label requiredField" for="timein">
                                Time in
                            </label>
                            <div class='input-group date' id='timein'>
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <input type='text' class="form-control" id="timeinval" />
                            </div>
                        </div>
                        <div class="form-group" id="timeoutcontainer">
                            <label class="control-label requiredField" for="timeout">
                                Time out
                            </label>
                            <div class='input-group date' id='timeout'>
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <input type='text' class="form-control" id="timeoutval" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="remarks">Remarks</label>
                            <select class="form-control" id="remarks">
                                <option value="">Present</option>
                                <option value="MC">MC</option>
                                <option value="LOA">Leave Of Absence</option>
                                <option value="COMPANY OFF">Company Off-Day</option>
                                <option value="OTHERS">Others</option>
                            </select>
                        </div>
                        <div class="form-group" id="specifygroup">
                            <label class="control-label" for="specify">
                                if others, please specify:
                            </label>
                            <input type='text' class="form-control" id="specify" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="submit">Submit</button>
                <!----   <a class="btn btn-primary" href="login.html">Logout</a>  -->
            </div>
        </div>
    </div>
</div>
<script>
    var editor;
    var internshipId = getCookie("InternshipRecordId");
    var dayRecords = [];

    $(document).ready(function () {
        $.fn.dataTable.moment('HH:mm MMM D, YY'); //format sort date
        $.fn.dataTable.moment('dddd, MMMM Do, YYYY'); //format sort date
       // $('#dataTable').DataTable();
        var table = $('#dataTable').DataTable({
            dom: "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-4'l><'col-sm-8'p>>",
            ajax: {
                url: '/Api/Day_Record/getLatestInternshipMonthDayRecords/' + internshipId,
                dataSrc: ''
            },
            columns: [
                {
                    data: "Date",
                    mRender: function (o) { return moment(o).format("DD/MM/YYYY"); }
                },
                {
                    data: "ArrivalTime",
                    mRender: function (o) { return moment(o).format("hh:mm A"); }
                },
                {
                    data: "DepartureTime",
                    mRender: function (o) { return moment(o).format("hh:mm A"); }
                },
                { data: "Remarks" },
                {
                    data: "DayId",
                    bSortable: false,
                    mRender: function (o) { return '<button class="btn btn-sm btn-primary" value="' + o + '"><i class="fa fa-pencil-square-o"></i></button>&nbsp<button class="btn btn-sm btn-danger" id="deletebtn" value="' + o + '"><i class="fa fa-trash"></i></button>' }
                }
            ],
            language: {
                emptyTable: "No Attendance was found, please create one.",
            }
        });

        $('#addattendance').on('click', function (e) {
            $('#editattendanceModal').modal('show');
            $('#dayidval').val("");
            $('#dateval').val(moment(new Date()).format("DD/MM/YYYY"));
            $('#timeinval').val("");
            $('#timeoutval').val("");
            $('#specifygroup').hide();
            $('#remarks').val("");
        });

        $('#dataTable tbody').on('click', 'button.btn-primary', function (e) {
            console.log($(this).val());
            $.ajax({
                url: '/API/Day_Record/' + $(this).val(),
                method: 'GET',
                dataType: 'json',
                cache: false,
                success: function (data) {
                    console.dir(data);
                    $('#dayidval').val(data.DayId);
                    $('#editattendanceModal').modal('show');
                    $('#dateval').val(moment(new Date(data.Date)).format('DD/MM/YYYY'));
                    $('#timeinval').val(moment(new Date(data.ArrivalTime)).format('hh:mm A'));
                    $('#timeoutval').val(moment(new Date(data.DepartureTime)).format('hh:mm A'));
                    if (data.Remarks != "" && data.Remarks != "MC" && data.Remarks != "LOA" && data.Remarks != "COMPANY OFF") {//OTHERS
                        $('#remarks').val("OTHERS");
                        $('#specifygroup').show();
                        $('#specify').val(data.Remarks);
                    } else { //Not others
                        $('#specifygroup').hide();
                        $('#remarks').val(data.Remarks);
                    }
                }
            })
        });

        //DELETE DAY RECORD
        $('#dataTable tbody').on('click', 'button.btn-danger', function (e) {
            console.log($(this).val());
            var id = $(this).val();
            swal({
                title: 'Are you sure you want this task deleted?',
                text: "This cannot be undone!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                confirmButtonText: 'Delete'
            }).then(function () {
                $.ajax({
                    url: '/Api/Day_Record/' + id,
                    method: 'DELETE',
                    dataType: 'json',
                    cache: false,
                    success: function (data) {
                        swal({
                            type: 'success',
                            title: 'Deleted!',
                            text: data.Message
                        }).then(function () {
                            window.location.reload();
                        });
                    },
                    fail: function (data) {
                        swal({
                            type: 'error',
                            title: 'Oops!',
                            text: data.Message
                        });
                    }
                });
            })
        });
    });

    $('#submit').on('click', function () {
        var collectedId = $('#dayidval').val();
        var collectedDate = moment($('#dateval').val(), ["DD/MM/YYYY"]).toDate().toDateString();
        var collectedArrivalTime = ($('#timeinval').val() != "") ? moment($('#dateval').val() + ' ' + $('#timeinval').val(), ["DD/MM/YYYY h:mm A"]).toDate() : null;
        var collectedDepartureTime = ($('#timeoutval').val() != "") ? moment($('#dateval').val() + ' ' + $('#timeoutval').val(), ["DD/MM/YYYY h:mm A"]).toDate() : null;
        var collectedRemarks = $('#remarks').val();
        var collectedSpecify = $('#specify').val();

        var webFormData = new WebFormData(collectedId, collectedDate, formatDateTime(collectedArrivalTime), formatDateTime(collectedDepartureTime), collectedRemarks, collectedSpecify);

        console.dir(webFormData);

        $.ajax({
            url: '/API/Day_Record/SaveUpdateDayRecord',
            method: 'PUT',
            contentType: "application/json",
            cache: false,
            data: "'" + JSON.stringify(webFormData) + "'",
            success: function (data) {
                swal({
                    type: 'success',
                    title: 'Saved',
                    text: data.Message
                }).then(
                    function () {
                        window.location.reload();
                    });
            },
            error: function (data) {
                swal({
                    type: 'error',
                    title: 'Error',
                    text: data.Message
                });
            }
        })
    });

    $('#remarks').on('change', function () {
        var remark = $(this).val();
        if (remark == '') { //PRESENT
            $('#timeincontainer').show();
            $('#timeoutcontainer').show();
            $('#specifygroup').hide();
        } else {// NOT PRESENT
            $('#timeincontainer').hide();
            $('#timeoutcontainer').hide();
            if (remark == 'OTHERS') {//OTHERS
                $('#specifygroup').show();
            } else {
                $('#specifygroup').hide(); //NOT OTHERS
            }
        }
    });

    function getCookie(name) {
        var dc = document.cookie;
        var prefix = name + "=";
        var begin = dc.indexOf("; " + prefix);
        if (begin == -1) {
            begin = dc.indexOf(prefix);
            if (begin != 0) return null;
        } else {
            begin += 2;
        }
        var end = document.cookie.indexOf(";", begin);
        if (end == -1) {
            end = dc.length;
        }
        return unescape(dc.substring(begin + prefix.length, end));
    }

    function WebFormData(inId, inDate, inTimein, inTimeOut, inRemarks, inSpecify) {
        this.Id = inId;
        this.Date = inDate;
        this.ArrivalTime = inTimein;
        this.DepartureTime = inTimeOut;
        this.Remarks = inRemarks;
        this.Specify = inSpecify;
    }

    function formatDateTime(inDate) { 
        var date = inDate;
        var day = date.getDate();       // yields date
        var month = date.getMonth() + 1;    // yields month (add one as '.getMonth()' is zero indexed)
        var year = date.getFullYear();  // yields year
        var hour = date.getHours();     // yields hours 
        var minute = date.getMinutes(); // yields minutes
        var second = date.getSeconds(); // yields seconds

        // After this construct a string with the above results as below
        var time = day + "/" + month + "/" + year + " " + hour + ':' + minute + ':' + second; 
        return time;
    }
</script>
