<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item active">Competency Checklist</li>
    </ol>
<div class="card" style="border-width:0px;">
    <div class="card-body">
        <div class="form-group">
            <div class="col-xs-12 pull-right">
                <div class="form-inline">
                    <input type="button" value="View History" class="btn btn-default" onclick="location.href='@Url.Action("competency_history", "Home" )'" />
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Competency Checklist
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" cellspacing="0">
                <thead>
                    <tr>
                        <th>A. Domain Immersation</th>
                        <th>Tick if performed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1. Describe and explain respectively domain knowledge
                            <ul>
                                <li>
                                    Understand existing business operations
                                </li>
                                <li>
                                    Identify roles and responsibilities of company staff members
                                </li>
                                <li>
                                    Understand a project/system business requirements
                                </li>
                            </ul>
                        </td>
                        <td>
                            <div class="checkbox">
                                <input type="checkbox" name="checkboxQ1" id="q1" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>B. Project/System Analysis & Design</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            2. Participate and contribute to the review, analysis and verification of business and software requirements
                            <ul>
                                <li>
                                    Assist project team for project requirements gathering and analysis
                                </li>
                                <li>
                                    Assist in gathering of user requirements, which can be any activity such as design of questionnaire, logistics planning
                                </li>
                                <li>
                                    Identify and document an application problem or symptoms from users(when there is reported software bug)
                                </li>
                                <li>
                                    Propose solutions to an application problem with designated supervisors or mentors
                                </li>
                            </ul>
                        </td>
                        <td>
                            <div class="checkbox">
                                <input type="checkbox" name="checkboxQ2" id="q2" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3. Prepare technical documentation and reports on requirements and analysis
                            <ul>
                                <li>
                                    Report the workflow of a business requirement, in the form of UML(Sequence, State etc. diagrams) or any in company standard documentation format
                                </li>
                                <li>
                                    Report or present a problem resolution/design to the users
                                </li>
                                <li>
                                    Document constraints or possible impacts in the application, during any code or functionality changes from bugfix or change request
                                </li>
                                <li>
                                    Perform an impact analysis (i.e. what could happen to the users, like loss of what data) of the risks involved in the reported application problem/error
                                </li>
                            </ul>
                        </td>
                        <td>
                            <div class="checkbox">
                                <input type="checkbox" name="checkboxQ3" id="q3" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>b. Discuss with the student on the internship requirements. (This is recommended to be carried out at the start of the inrernship)</td>
                        <td>
                            <div class="checkbox">
                                <input type="checkbox" name="checkboxQ4" id="q4" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>c. Guide the student to meet requirements and learning objectives. This includes guiding the student on the tasks, setting performance expectations and encouraging student to ask questions to clarify job resposibilities.</td>
                        <td>
                            <div class="checkbox">
                                <input type="checkbox" name="checkboxQ5" id="q5" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>d. Provide periodic feedback to student on his/her performance</td>
                        <td>
                            <div class="checkbox">
                                <input type="checkbox" name="checkboxQ6" id="q6" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>e. Meet and discuss with the SP Liaison Officer on student's progress and performance during company visits.</td>
                        <td>
                            <div class="checkbox">
                                <input type="checkbox" name="checkboxQ7" id="q7" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>f. Provide final assessment on student's performance</td>
                        <td>
                            <div class="checkbox">
                                <input type="checkbox" name="checkbox8" id="q8" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>3. Mentorship</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>a. Provide student an overview of the company structure, nature of business and work requirements.</td>
                        <td>
                            <div class="checkbox">
                                <input type="checkbox" name="checkboxQ9" id="q9" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>b. Share about job propects, career paths and trends within the industry. This can be done through sharing of work experience, relevant resources, networking contacts, as appropriate.</td>
                        <td>
                            <div class="checkbox">
                                <input type="checkbox" name="checkboxQ10" id="q10" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>b. Motivate the student with your work experience and career journey in the industry. This includes, but not limited to, providing the student and understanding on the right kind of professional and personal ethics, attiudes and values to adopt to be effective</td>
                        <td>
                            <div class="checkbox">
                                <input type="checkbox" name="checkboxQ11" id="q11" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        @*<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>*@
    </div>
</div>
    <div class="card-body">
        <div class="form-group">
            <div class="col-12">
                <button class="btn btn-default pull-left" onclick="window.history.go(-1); return false">
                    Back
                </button>
                <button class="btn btn-primary pull-right" name="submit" id="submit">
                    Save
                </button>
            </div>
        </div>
    </div>
&nbsp;
<script>
    $('#submit').on('click', function (e) {
        $("table input").attr("disabled", "disabled");
    });
</script>