<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item">
            <a href="~/Home/competency_checklist">Competency Checklist</a>
        </li>
        <li class="breadcrumb-item active">Competency History</li>
    </ol>
    <div class="card" style="border-width:0px;">
        <div class="card-body">
            <div class="form-group">
                <div class="col-xs-12 pull-right">
                    <label>View By:</label>
                    <select class="form-control" id="selectMonthRecord">
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Competency Checklist
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="tblCompetencies"  cellspacing="0">
                <thead>
                    <tr>
                        <th class="col-sm-11">Competency</th>
                        <th class="col-sm-1">Tick if performed</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        @*<div class="card-footer"></div>*@
    </div>
</div>
    <div class="card-body">
        <div class="form-group">
            <div class="col-12">
                <button class="btn btn-default pull-left" onclick="window.history.go(-1); return false">
                    Back
                </button>
            </div>
        </div>
    </div>
&nbsp;
<script>
    var internshipRecordId = getCookie("InternshipRecordId");
    var monthRecords;

    if (internshipRecordId != null) {
        $.ajax({
            url: '/api/competencies/getInternshipCompetncies/' + internshipRecordId,
            method: 'GET',
            dataType: 'json',
            success: function (competencies) {
                for (i = 0; i < competencies.length; i++) {
                    var competency = competencies[i];
                    var newRow = $('<tr></tr>');
                    var newCell = $('<td>');
                    newCell.html(competency.Description);
                    newRow.append(newCell);
                    var newCell = $('<td>');
                    var newCheckboxItem = $('<input name="CompetencyCheck" type="checkbox" value="' + competency.CompetencyId + '" disabled>');
                    newCell.append(newCheckboxItem);
                    newRow.append(newCell);
                    $('#tblCompetencies').append(newRow);
                }
            }
        });

        $.ajax({
            url: '/api/month_record/InternshipMonthRecords/'+internshipRecordId,
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                console.dir(data);
                monthRecords = data;
                if (data.length > 0) { 
                    for (i = 0; i < data.length; i++) {
                        var newOption = $('<option>').text('Month ' + (i + 1)).val(i);
                        $('#selectMonthRecord').append(newOption);
                    }
                    var selectedMonth = monthRecords[0];
                    for (i = 0; i < selectedMonth.CompetencyCheckeds.length; i++) {
                        var ccid = data.CompetencyCheckeds[i].CompetencyId;
                        $("input[name='CompetencyCheck']").each(function () {
                            if ($(this).val() == ccid) {
                                $(this).prop('checked', true);
                            }
                        });
                    }
                }
            }
        });
    }

    $('#selectMonthRecord').change(function () {
        var selectedMonth = monthRecords[$(this).val()];
        for (i = 0; i < selectedMonth.CompetencyCheckeds.length; i++) {
            var ccid = selectedMonth.CompetencyCheckeds[i].CompetencyId;
            $("input[name='CompetencyCheck']").each(function () {
                if ($(this).val() == ccid) {
                    $(this).prop('checked', true);
                } else { 
                    $(this).prop('checked', false);
                }
            });
        }
    });

    function getCookie(name) {
        var dc = document.cookie;
        var prefix = name + "=";
        var begin = dc.indexOf("; " + prefix);
        if (begin == -1) {
            begin = dc.indexOf(prefix);
            if (begin != 0) return null;
        } else {
            begin += 2;
        }
        var end = document.cookie.indexOf(";", begin);
        if (end == -1) {
            end = dc.length;
        }
        return unescape(dc.substring(begin + prefix.length, end));
    }

    function WebFormData(checkedCompetencies) {
        this.CompetencyIds = checkedCompetencies;
    }

    $("div input").attr("disabled", "disabled");
</script>