
<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Homepage</a>
        </li>
        <li class="breadcrumb-item active">Daily Task</li>
    </ol>
    <div class="card">
        <div class="card-header">
            <i class="fa fa-pencil"></i> Daily Task
        </div>
        <div class="card-block">
            @*<h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>*@

            <div id='calendar'></div>
        </div>
    </div>
</div>

<script>
    loadProductData();
    function loadProductData() {
        //Note: jQuery.ajax(..) is also often written is $.ajax(..)
        $loadProductDataHandler = jQuery.ajax({
            url: '/Api/Day_Record',
            method: 'GET',
            dataType: 'json',
            cache: false,
        })
        $loadProductDataHandler.done(function (data, textStatus, jqXHR) {

            for (e = 0; e < data.length; e++) {

                var eachDay = data[e];
                var source;
                for (i = 0; i < eachDay.TaskDescription.length; i++) {
                    var source = {
                        events: [
                            {
                                title: eachDay.TaskDescription[i],//End of function

                                //start: '2017-11-10',
                                start: new Date(eachDay.Date).toDateString(),
                                end: new Date(eachDay.Date).toDateString()
                                //end: '2017-11-10'
                            }
                        ]
                    }
                    $('#calendar').fullCalendar('addEventSource', source);
                }

                //var source = {
                //    events: [
                //        {
                //            title: data.forEach(function (eachData) {
                //                for (i = 0; i < eachData.TaskDescription.length; i++) {
                //                    return eachData.TaskDescription[i];

                //                }

                //            }),//End of function

                //            start: '2017-11-10',
                //            end: '2017-11-10'
                //        }
                //    ]
                //}
               // $('#calendar').fullCalendar('addEventSource', source);
            }









        }//end of JavaScript anonymous function

        )//end of the done() method;

    }//end of loadProductData();
</script>