<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item active">Manage Day Record</li>
    </ol>
    <div class="card-body">
        <div class="form-inline">
            <label class="control-label requiredField" for="date">
                Date:&nbsp;
            </label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-calendar">
                    </i>
                </div>
                <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text">
            </div>
            @*<small id="datehelp" class="form-text text-muted">Firstly, please select a date</small>*@
        </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-pencil"></i> Manage Day Record
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="text-center">
                        <div class="row">
                            <div class="col-4">
                                <label for="dropdownselect">Remarks</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-pencil">
                                        </i>
                                    </div>
                                    <select class="form-control" id="dropdownselect">
                                        <option>-</option>
                                        <option>MC</option>
                                        <option>Holiday</option>
                                        <option>LOA</option>
                                        <option>Company Off-Day</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                <label class="control-label requiredField" for="timein">
                                    Time in
                                </label>
                                <div class='input-group date' id='timein'>
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>

                                    <input type='text' class="form-control" />
                                </div>
                            </div>
                            <div class="col-4">
                                <label class="control-label requiredField" for="timeout">
                                    Time out
                                </label>
                                <div class='input-group date' id='timeout'>
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input type='text' class="form-control" id="timeoutval" />
                                </div>
                            </div>
                        </div>
                        @*<div class="col-6 pull-left">
                            <div class="form-group pull-left">
                                <label class="control-label requiredField" for="date">
                                    Date
                                    <span class="asteriskField">
                                        *
                                    </span>
                                </label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar">
                                        </i>
                                    </div>
                                    <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text">
                                </div>
                            </div>
                            <div class="form-group pull-right">
                                <label for="dropdownselect">Remarks</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-pencil">
                                        </i>
                                    </div>
                                    <select class="form-control" id="dropdownselect">
                                        <option>-</option>
                                        <option>MC</option>
                                        <option>Holiday</option>
                                        <option>LOA</option>
                                        <option>Company Off-Day</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 pull-right">
                            <div class="form-group pull-left">
                                <label class="control-label requiredField" for="timein">
                                    Time in
                                </label>
                                <div class='input-group date' id='timein'>
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>

                                    <input type='text' class="form-control" />
                                </div>
                            </div>
                            <div class="form-group pull-right">
                                <label class="control-label requiredField" for="timeout">
                                    Time out
                                </label>
                                <div class='input-group date' id='timeout'>
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input type='text' class="form-control" id="timeoutval" />
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>

            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-pencil"></i> Manage Task
            <div class="card-body">
                <div class="form-group">
                    @*<div class="col-md-3 col-sm-3 col-xs-12 pull-left">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar">
                                </i>
                            </div>
                            <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text">
                        </div>
                    </div>*@
                    <div class="col-md-2 col-sm-2 col-xs-12 pull-right">
                        <button class="btn btn-secondary form-control" name="submit" type="submit">
                            Add Task +
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>DayRecordId</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="col-12 text-right">
                        <button class="btn btn-default" onclick="window.history.go(-1); return false">
                            Back
                        </button>
                        <button class="btn btn-primary" name="submit" type="submit">
                            Save
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>
        @*<script>
                $(document).ready(function () {

                    var editor = new $.fn.dataTable.Editor(table);

                    //var t = $('#dataTable').DataTable();
                    var counter = 1;

                    var table = $('#dataTable').DataTable({
                        ajax: {
                            url: '/Api/Task_Record',
                            dataSrc: ''
                        },
                        "bPaginate": false,
                        "bLengthChange": false,
                        "bFilter": false,
                        "bSort": false,
                        "bInfo": false,
                        "bAutoWidth": false,
                        "asStripClasses": null,
                        //--disable the sorting--
                        dom: 'lrt',
                        "aoColumns": [
                            { "mData": "DayRecordId", "sWidth": "10%" },
                            { "mData": "Description", "sTitle": "Description", "sWidth": "80%" },
                            {
                                "mData": null,
                                "bSortable": false,
                                "mRender": function (o) { return '<button class="btn btn-sm btn-danger" id="deletebtn"><i class="fa fa-times"></i></button>' }
                            }
                        ],
                        language: {
                            emptyTable: "No task was found, please create one.",
                        }
                    });
                    $('#dataTable tbody').on('click', 'button.btn-danger', function (e) {
                        console.log("button 1 is click");
                    });
                });
            </script>*@
        <script>
            var editor;
            $(document).ready(function () {
                editor = new $.fn.dataTable.Editor({
                    ajax: {
                        url: '/Api/Task_Record',
                        dataSrc: ''
                    },
                    table: "#dataTable",
                    idSrc: 'id',
                    fields: [{
                        label: "DayRecordId:",
                        name: "DayRecordId"
                    }, {
                        label: "Description:",
                        name: "Description"
                    }
                    ]
                });
                var table = $('#dataTable').DataTable({
                    "bPaginate": false,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bSort": false,
                    "bInfo": false,
                    "bAutoWidth": false,
                    "asStripClasses": null,
                    //--disable the sorting--
                    dom: 'rti',
                    ajax: {
                        url: '/Api/Task_Record',
                        dataSrc: ''
                    },
                    order: [[1, 'asc']],
                    columns: [
                        { data: "DayRecordId", "sWidth": "10%" },
                        { data: "Description", "sWidth": "80%" },
                        {
                            data: null,
                            "bSortable": false,
                            "mRender": function (o) { return '<button class="btn btn-sm btn-danger" id="deletebtn"><i class="fa fa-times"></i></button>' }
                        }
                    ],
                    language: {
                        emptyTable: "No task was found, please create one.",
                    }
                });

                // Activate an inline edit on click of a table cell
                $('#dataTable').on('click', 'tbody td:not(:first-child)', function (e) {
                    editor.inline(this);
                });
                $('#dataTable tbody').on('click', 'button.btn-danger', function (e) {
                    console.log("button 1 is click");
                });
            });
        </script>
