@{
    ViewData["Title"] = "View Grades Page";
}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item active">Grading</li>
    </ol>
    <div class="card" style="border-width:0px;">
        <div class="card-body">
            <div class="form-group">
                <div class="col-xs-12 pull-right">
                    <label>View By:&nbsp</label>
                    <select class="form-control" id="selectMonthRecord">
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header d-inline">
            <i class="fa fa-graduation-cap fa-2x pull-left"></i> <h3>Grading</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="card">
                    <div class="card-header" role="tab" id="headingOne">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Rating Scale & Descriptions
                            </a>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                        <ol class="card-block">
                            <li>Does not meet expectations in the area accessed</li>
                            <li>Generally effective in the area assessed</li>
                            <li>Good in the area assessed</li>
                            <li>Very good in the area assessed</li>
                            <li>Exceeds expectations in the area assessed </li>
                        </ol>
                    </div>
                </div>
                <table class="table table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Assessment Criteria</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingTwo">
                                        <h6 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                1. Workplace knowlegde, communication and interpersonal skills encompass the following areas
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <ul class="card-block">
                                            <li>Plans and organises assigned work.</li>
                                            <li>Communicates effectively in verbal and/or written communcation.</li>
                                            <li>Maintains good attendance punctuality.</li>
                                            <li>Demonstrates commitment, motivation and reliability towards work assignment.</li>
                                            <li>Able to work effectively with others towards the accomplishment of common goals.</li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <select class="form-control" id="CommunicationGrading" disabled>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingThree">
                                        <h6 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                2. Technical Knowledge & Skills encompass the following areas
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <ul class="card-block">
                                            <li>Able to apply relevant skills effectively and proficiently.</li>
                                            <li>Able to produce quality work in accordance with schedules and timelines.</li>
                                            <li>Is resourceful and can act and respond independently or with minimal guidance.</li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <select class="form-control" id="TechnicalGrading" disabled>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingFour">
                                        <h6 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                                3. Independent learning skills encompass the following areas
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                                        <ul class="card-block">
                                            <li>Able to acquire new skills and apply knowledge learnt.</li>
                                            <li>Is resorceful and able to resolve problem when challenges are encountered</li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <select class="form-control" id="IndependenceGrading" disabled>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingFive">
                                        <h6 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                                4. Overall Performance
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                                        <ul class="card-block">
                                            <li>I am satisfied with the overall performance and contributions of this stdent</li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <select class="form-control" id="PerformanceGrading" disabled>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="card">
                    <div class="card-header" role="tab" id="headingFive">
                        <h6 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                               Average rating to overall grade
                            </a>
                        </h6>
                    </div>
                    <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                        <ul class="card-block">
                            <li>Higher or equal to 4.5 -- Distinction</li>
                            <li>Higher or equal to 4.0 -- A (Excellent)</li>
                            <li>Higher or equal to 3.5 -- B+ (Very good)</li>
                            <li>Higher or equal to 3.0 -- B (Good)</li>
                            <li>Higher or equal to 2.5 -- C+ (Good Credit)</li>
                            <li>Higher or equal to 2.0 -- C (Credit)</li>
                            <li>Higher or equal to 1.5 -- D (Pass)</li>
                            <li>Less than 1.5 -- F (Fail)</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-8 control-label">Average rating based on the above four assessment criteria:</label>
                    <div class="col-sm-5">
                        <input class="form-control" id="OverallGrading" type="text" value="" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Overall Grade:</label>
                    <div class="col-sm-5">
                        <input class="form-control" id="OverallGrade" type="text" value="" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="OverallFeedback">Overall Comments:</label>
                    <textarea class="form-control" rows="5" id="OverallFeedback" readonly></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="form-group">
        <div class="col-12">
            <button class="btn btn-default" onclick="location.href='http://' + window.location.host +'/Home/Index'">
                Back
            </button>
        </div>
    </div>
</div>
&nbsp;
<script>
    var internshipRecordId = getCookie("InternshipRecordId");
    var monthRecords;

    if (internshipRecordId != null) {
        $.ajax({
            url: '/api/month_record/InternshipMonthRecords/' + internshipRecordId,
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                console.dir(data);
                monthRecords = data;
                if (data.length > 0) {
                    var selectedMonth = monthRecords[0];
                    $('#CommunicationGrading').val(selectedMonth.CommunicationGrading);
                    $('#TechnicalGrading').val(selectedMonth.TechnicalGrading);
                    $('#IndependenceGrading').val(selectedMonth.IndependenceGrading);
                    $('#PerformanceGrading').val(selectedMonth.PerformanceGrading);
                    $('#OverallGrading').val(selectedMonth.OverallGrading);
                    if (selectedMonth.Approved) {
                        $('#OverallGrade').val(getGrade(selectedMonth.OverallGrading));
                    } else { 
                        $('#OverallGrade').val("Not Graded Yet");
                    }
                    
                    $('#OverallFeedback').val(selectedMonth.OverallFeedback);
                }
                for (i = 0; i < data.length; i++) {
                    var selectMonthRecord
                    var newOption = $('<option>').text('Month ' + (i + 1)).val(i);
                    $('#selectMonthRecord').append(newOption);
                }
            }
        });
    }


    $('#selectMonthRecord').change(function () {
        var selectedMonth = monthRecords[$(this).val()];
        $('#CommunicationGrading').val(selectedMonth.CommunicationGrading);
        $('#TechnicalGrading').val(selectedMonth.TechnicalGrading);
        $('#IndependenceGrading').val(selectedMonth.IndependenceGrading);
        $('#PerformanceGrading').val(selectedMonth.PerformanceGrading);
        $('#OverallGrading').val(selectedMonth.OverallGrading);
        if (selectedMonth.Approved) {
            $('#OverallGrade').val(getGrade(selectedMonth.OverallGrading));
        } else {
            $('#OverallGrade').val("Not Graded Yet");
        }
        $('#OverallFeedback').val(selectedMonth.OverallFeedback);
    });

    function getGrade(average) {
        console.dir(average);
        if (average >= 4.5)
            return 'DIST';
        else if (average >= 4.0)
            return 'A';
        else if (average >= 3.5)
            return 'B+';
        else if (average >= 3.0)
            return 'B';
        else if (average >= 2.5)
            return 'C+';
        else if (average >= 2.0)
            return 'C';
        else if (average >= 1.5)
            return 'D';
        else if (average < 1.5)
            return 'F';
    }

    function getCookie(name) {
        var dc = document.cookie;
        var prefix = name + "=";
        var begin = dc.indexOf("; " + prefix);
        if (begin == -1) {
            begin = dc.indexOf(prefix);
            if (begin != 0) return null;
        } else {
            begin += 2;
        }
        var end = document.cookie.indexOf(";", begin);
        if (end == -1) {
            end = dc.length;
        }
        return unescape(dc.substring(begin + prefix.length, end));
    }
</script>