@{
    ViewData["Title"] = "Guide Page";
}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item active">Guidelines</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header d-inline">
            <i class="fa fa-info-circle fa-2x pull-left"></i> <h3>Guidelines</h3>
        </div>

        <button class="accordion">1. Who should I turn to if i face issues in my internship</button>
        <div class="card-body guide">
            <br />
            <p>The Liaison Officer is your first point of contact if you need any assistance on internship matters.
It is important that you obtain the after-office hours contact number of your Liason Officer in case of emergency. If you encounter any issues relating to your internship, please contact your Liason Officer immediately. Alternatively, you may contact the Department of Industry Services at 6870-6020 or isupport@sp.edu.sg.</p>
        </div>

        <button class="accordion">2. What is the role of Liaison Officer?</button>
        <div class="card-body guide">
            <br />
            <p>
                The Liaison Officer is the main coordinator between SP and the company during the internship duration. He is also your first point of contact if you need any assistance on internship matters.<br />
                Your Liaison Officer will arrange for your visit(s) to your work site to check on your progress, gather feedback from the Company Supervisor on your performance or progress, ensure that the training plan is relevant and supports the defined learning outcomes of the internship program.
            </p>
        </div>

        <button class="accordion"> 3. What are the tasks that I need to do for internship?</button>
        <div class="card-body guide">
            <br />
            <p>In order to make this internship beneficial to you, you are required to complete the tasks as instructed here.</p>
            <p>
                Before Internship:
                <ul>
                    <li>Attend the Pre-Internship Briefing to understand the guidelines for internship</li>
                    <li>Complete the Pre-Internship Questionnaire, if applicable</li>
                    <li>Meet your Liaison Officier once you have received your internship details as he may have specific instruction for you</li>
                    <li>Write an introductory letter to the company. In your letter, you should highlight your positive qualities, education background, work experience, co-curricular activities and other achievements</li>
                </ul><br />
                During Internship:
                <ul>
                    <li>Update the Internship Journal on a regular basis, as advised by your school</li>
                    <li>Submit the Internship Journal to your Company Supervisor so that he can assess you on a regular basis</li>
                    <li>Ensure that your Company Supervisor signs and stamps on your attendance Sheet every month</li>
                    <li>Give a 'Thank You' card or note to your company in the last week of internship</li>
                    <li>Complete the Student Feedback Form in the last week of internship</li>
                    <li>Sign your Attendance Sheet in the Internship Journal, attach all your Medical Certificates and other supporting documents for leave on the last day of internship</li>
                </ul><br />
                After Internship:
                <ul>
                    <li>Submit your Internship Journal to your Liaison Officer for grading within 1 week after the completion of internship</li>
                    <li>Attend Post-Internship Briefing, if applicable.</li>
                </ul>
            </p>
        </div>

        <button class="accordion"> 4. Do I need to make regular entries in the Internship Journal?</button>
        <div class="card-body guide">
            <br />
            <p>The Internship Journal is an important part of your learning during internship. The regular entries give you opportunity to reflect on the skills and knowledge you have gained during your internship. It is also a reference for your Liaison Officer to ensure that the training plan is relevant and supports the defined learning outcomes.
            </p>
        </div>

        <button class="accordion"> 5. How am I being assessed for internship?</button>
        <div class="card-body guide">
            <br />
            <p>As participation in the Internship Program is a graduation requirement, your performance on internship will be evaluated.</p>
            <p>You must obtain at least a pass grade. Thus the assessment is important and ought to be done objectively. The grades are DIST (Distinction), A (Excellent), B+ (Very Good), B (Good), C+ (Good Credit), C (Credit), D (Pass) and F (Fail).
            </p>
            <p>The Company Supervisor is required to provide regular assessment on your performance as well as a final assessment nearing the end of the internship. For the final assessment, the Company Supervisor is required to fill in the Overall Grading Form and submit it to the Liaison Officer in the last week of the internship program.</p>
            <p>                The Company Supervisor will be informed of the assessment criteria and marking scheme by the Liaison Officer. Your performance will be assessed by both the Company Supervisor and the Liaison Officer.</p>
        </div>

        <button class="accordion"> 6. What are the working hours? Do I need to work overtime?</button>
        <div class="card-body guide">
            <br />
            <p>You are generally expected to follow the operating hours of the company to which you are attached. If shift work is required, this should be made known to SP before the internship commences.</p>
            <p>You will need to be punctual for work and proactive in your assigned tasks. You are advised to seek your Company Supervisor for review or request for more work if you have completed your assigned tasks.</p>
            <p>You should not be required to work more than 44 hours in a week. However, you may be required to work overtime if you consent to do so, subject to the limit of 12 working hours per day and 72 overtime hours per month.</p>
            <p>Company must either provide off days in-lieu or pay you for the extra hours of work or for working on your rest days or public holidays.</p>
            <p>The rate for overtime work should be no less than one and a half times your hourly basic rate of pay. Company must at least grant you one rest day (which is not paid) in a week, which may be on a Sunday or any other day.</p>
        </div>

        <button class="accordion"> 7. What is the dress code for internship? Can I wear anything I like?</button>
        <div class="card-body guide">
            <br />
            <p>You have to adhere to the company's dress code and project a professional image. Unless otherwise stated, you should not be wearing singlets, tank tops, spaghetti strap tops, mini-skirts, bermuda shorts, denim shorts, and slippers.</p>
            <p>Please consult your Liaison Officer on the company's dress code before internship commences.</p>
        </div>

        <button class="accordion"> 8. How do I work well with colleagues of diverse background?</button>
        <div class="card-body guide">
            <br />
            <p>The Singapore workforce is now more diverse than ever. You will need to be prepared to work alongside with colleagues who may be of different nationalities, races, religions, or generations. Your Company Supervisor or fellow co-workers may be of a different nationality or race from you. </p>
            <p>
                The ability to work well with people from a different cultural background is an important 21st Century work skill - we called this Cultural Fluency. You can improve your Cultural Fluency by taking note of below pointers.
                <ul>
                    <li>Avoid Stereotyping</li>
                    <li>Open Mind</li>
                    <li>Do not judge</li>
                    <li>Stop regarding one's own culture as superior</li>
                </ul>
            </p>
        </div>

        <button class="accordion"> 9. How will my attendance be tracked?</button>
        <div class="card-body guide">
            <br />
            <p>You are issued an Internship Journal with an attendance sheet where you can fill in your attendance details. The Company Supervisor has to endorse the attendance sheet at the end of the internship. Please record your attendance on a new piece of attendance sheet for each month.</p>
            <p>If any amendments are needed on the original attendance sheet, you are not allowed to use correction tape or correction fluid. Please make the ammendment(s) in pen, sign and write the current date beside the ammendment.</p>
        </div>

        <button class="accordion"> 10. How will my attendance affect my internship performance?</button>
        <div class="card-body guide">
            <br />
            <p>Medical leave, approved compassionate leave and absence are considered authorized leave. If you are absent without the authorized leave (AWOL) or irregular in your attendance, you will be subjected to disciplinary actions by the school.</p>
            <p>To pass, you need to achieve 90% of the total number of working days of the internship period. If you exceed 10% of absenteeism (include both authorized and unauthorized leave), the respective academic school may consider failing, deferring or extending your internship period.</p>
        </div>

        <button class="accordion"> 11. Can I change the company that I'm attached to or negotiate on my allowance?</button>
        <div class="card-body guide">
            <br />
            <p>Once internship placement is given you are not allowed to make any changes to the company you are attached to.</p>
            <p>You are also not allowed to negotiate directly with the company on matters such as duration of internship, allowance, working hours and leave of absence.</p>
        </div>

        <button class="accordion"> 12. Am I obliged to sign any contract with the company?</button>
        <div class="card-body guide">
            <br />
            <p> Besides confidentiality and non-disclosure agreement, you are not obligated to sign any contract, indemnity form and legal documents. If clarifications are needed, please contact your Liaison Officer.</p>
        </div>

    </div>
</div>
<div class="card-body">
    <div class="form-group">
        <div class="col-12">
            <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/Index'">
                Back
            </button>
        </div>
    </div>
</div>
<br />
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        }
    }
</script>