@{
    ViewData["Title"] = "Home Page";
    //Layout= "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        @*<li class="breadcrumb-item">
                <a href="#">Internship Programme</a>
            </li>*@
        <li class="breadcrumb-item active">Homepage</li>
    </ol>
    <hr />
    <h2 class="section-heading text-center text-primary">DAILY TASK</h2>
    <hr class="theme" />
    <section id="dailyTask">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto" onclick="location.href='http://' + window.location.host +'/home/daily_task'">
                        <i class="fa fa-4x fa-calendar text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3" style="text-decoration:underline;">Daily Tasks</h3>
                        <p class="text-muted mb-0">Keep track and update on your daily tasks.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto" onclick="location.href='http://' + window.location.host +'/home/attendance_summary'">
                        @*<i class="fa fa-4x fa-clock-o text-primary mb-3 sr-icons"></i>*@
                        <img src="~/images/clock.jpg" />
                        <h3 class="mb-3" style="text-decoration:underline;">Attendance</h3>
                        <p class="text-muted mb-0">Key in your daily attendance or check on your attendance record.</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </section>
    <h2 class="section-heading text-center text-primary">MONTHLY TASK</h2>
    <hr class="theme" />
    <section id="monthlyTask">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto" onclick="location.href='http://' + window.location.host +'/home/competency_checklist'">
                        <i class="fa fa-4x fa-check-square text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3" style="text-decoration:underline;">Checklist</h3>
                        <p class="text-muted mb-0">Check monthly competency checklist, see what did you do.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto" onclick="location.href='http://' + window.location.host +'/home/monthly_reflection'">
                        <i class="fa fa-4x fa-pencil-square text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3" style="text-decoration:underline;">Reflection</h3>
                        <p class="text-muted mb-0">Summarise what have you done this month.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto" onclick="location.href='http://' + window.location.host +'/home/mentoring'">
                        <i class="fa fa-4x fa-eye text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3" style="text-decoration:underline;">Mentoring</h3>
                        <p class="text-muted mb-0">Record down mentoring session.</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </section>
    <h2 class="section-heading text-center text-primary">FOR VIEWING</h2>
    <hr class="theme" />
    <section id="forViewing">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5 mx-auto" onclick="location.href='http://' + window.location.host +'/home/guide'">
                        <span class="fa-stack fa-5x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-1x fa-info text-white mb-3 sr-icons"></i>
                        </span>
                        <h3 class="mb-3" style="text-decoration:underline;">Guideline</h3>
                        <p class="text-muted mb-0">Need help? Take a look at our guidelines to help you.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto" onclick="location.href='http://' + window.location.host +'/home/grading'">
                        <i class="fa fa-4x fa-graduation-cap text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3" style="text-decoration:underline;">Grading</h3>
                        <p class="text-muted mb-0">Just do your best and your grades will be fine.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto" onclick="location.href='http://' + window.location.host +'/home/touchpoint'">
                        <i class="fa fa-4x fa-comment-o text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3" style="text-decoration:underline;">Touchpoint</h3>
                        <p class="text-muted mb-0">View when will your liaison officer be visiting.</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </section>
    <h2 class="section-heading text-center text-primary">END OF INTERNSHIP</h2>
    <hr class="theme" />
    <section id="endIntern">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto" onclick="location.href='http://' + window.location.host +'/home/internship_survey'">
                        <i class="fa fa-4x fa-clipboard text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3" style="text-decoration:underline;">Survey</h3>
                        <p class="text-muted mb-0">Remember to do your internship survey before your internship ends.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr />
    <br />
</div>
<!-- /.container-fluid -->
<!-- /.content-wrapper -->
<script>
    $.ajax({
        url: '/Api/Internship_Record/getCurrentInternshipRecord',
        method: 'GET',
        dataType: 'json',
        cache: false,
        success: function (data) {
            console.dir(data);
            document.cookie = "InternshipRecordId = " + data.InternshipRecordId + ";";
        },
        fail: function (data) {
            alert(data.Message);
        }
    });

</script>
