@{
    ViewData["Title"] = "Internship Survey Page";
}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item active">Internship Survey</li>
    </ol>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#one" role="tab" data-toggle="tab">1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#two" role="tab" data-toggle="tab">2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#three" role="tab" data-toggle="tab">3</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="one">
                <div class="card-body">
                    <div class="col-12">
                        <label class="control-label" for="FeedbackUseful">Has the internship been useful or relevant to you?</label>
                        <select class="form-control col-md-1 col-sm-1 col-xs-12 pull-right" id="FeedbackUseful">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                    <br />
                    <div class="col-12">
                        <label class="control-label" for="FeedbackImproved">Has the internship improved your understanding of your subjects of study?</label>
                        <select class="form-control col-md-1 col-sm-1 col-xs-12 pull-right" id="FeedbackImproved">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                    <br />
                    <div class="col-12">
                        <label class="control-label" for="FeedbackExperiences">Has the internship provided you with experiences about working life, human relationship skills etc.?</label>
                        <select class="form-control col-md-1 col-sm-1 col-xs-12 pull-right" id="FeedbackExperiences">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                    <br />
                    <div class="col-12">
                        <label class="control-label" for="FeedbackRecommend">Would you recommend this establishment for future internship?</label>
                        <select class="form-control col-md-1 col-sm-1 col-xs-12 pull-right" id="FeedbackRecommend">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                    <br />
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="two">
                <div class="card-body">
                    <div class="col-12">
                        <label class="control-label" for="FeedbackEnjoy">What did you enjoy most about this internship?</label>
                        <textarea class="form-control" rows="5" id="FeedbackEnjoy" maxlength="300"></textarea>
                        <small id="maxchars" class="form-text text-muted pull-right">300 maximum characters</small>
                    </div>
                    <br />
                    <div class="col-12">
                        <label class="control-label" for="FeedbackLeastEnjoy">What did you enjoy least about this internship?</label>
                        <textarea class="form-control" rows="5" id="FeedbackLeastEnjoy" maxlength="300"></textarea>
                        <small id="maxchars" class="form-text text-muted pull-right">300 maximum characters</small>
                    </div>
                    <br />
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="three">
                <div class="card-body">
                    <div class="col-12">
                        <label class="control-label" for="FeedbackTakeaway">What is your biggest takeaway from this internship</label>
                        <textarea class="form-control" rows="5" id="FeedbackTakeaway" maxlength="300"></textarea>
                        <small id="maxchars" class="form-text text-muted pull-right">300 maximum characters</small>
                    </div>
                    <br />
                    <div class="col-12">
                        <label class="control-label" for="FeedbackCareer">Will you pursue a career in this industry? Why yes or why not?</label>
                        <textarea class="form-control" rows="5" id="FeedbackCareer" maxlength="300"></textarea>
                        <small id="maxchars" class="form-text text-muted pull-right">300 maximum characters</small>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="form-group">
        <div class="col-12">
            <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/Index'">
                Back
            </button>
            <div class="col-md-2 col-sm-2 col-xs-12 pull-right">
                <button class="btn btn-primary pull-right" name="submit" id="submit">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>
&nbsp;
<script>
    var internshipRecordId = getCookie("InternshipRecordId");

    if (internshipRecordId != null) {
        $.ajax({
            url: '/api/Internship_Record/' + internshipRecordId,
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                console.dir(data);
                $('#FeedbackUseful').val('' + data.FeedbackUseful);
                $('#FeedbackImproved').val('' + data.FeedbackImproved);
                $('#FeedbackExperiences').val('' + data.FeedbackExperiences);
                $('#FeedbackRecommend').val('' + data.FeedbackRecommend);

                $('#FeedbackEnjoy').val('' + decodeURIComponent(data.FeedbackEnjoy));
                $('#FeedbackLeastEnjoy').val('' + decodeURIComponent(data.FeedbackLeastEnjoy));
                $('#FeedbackTakeaway').val('' + decodeURIComponent(data.FeedbackTakeaway));
                $('#FeedbackCareer').val('' + decodeURIComponent(data.FeedbackCareer));
            }
        });
    }

    $('#submit').click(function () {
        if (internshipRecordId != null) {
            var FeedbackUseful = $('#FeedbackUseful').val().toString();
            var FeedbackImproved = $('#FeedbackImproved').val().toString();
            var FeedbackExperiences = $('#FeedbackExperiences').val().toString();
            var FeedbackRecommend = $('#FeedbackRecommend').val().toString();

            var FeedbackEnjoy = "" + $('#FeedbackEnjoy').val().toString();
            var FeedbackLeastEnjoy = "" + $('#FeedbackLeastEnjoy').val().toString();
            var FeedbackTakeaway = "" + $('#FeedbackTakeaway').val().toString();
            var FeedbackCareer = "" + $('#FeedbackCareer').val().toString();
            FeedbackEnjoy = encodeURIComponent(FeedbackEnjoy);
            FeedbackLeastEnjoy = encodeURIComponent(FeedbackLeastEnjoy);
            FeedbackTakeaway = encodeURIComponent(FeedbackTakeaway);
            FeedbackCareer = encodeURIComponent(FeedbackCareer);

            if (FeedbackUseful && FeedbackImproved && FeedbackExperiences && FeedbackRecommend && FeedbackEnjoy && FeedbackLeastEnjoy && FeedbackTakeaway && FeedbackCareer) {
                var webFormData = new WebFormData(FeedbackUseful, FeedbackImproved, FeedbackExperiences, FeedbackRecommend, FeedbackEnjoy, FeedbackLeastEnjoy, FeedbackTakeaway, FeedbackCareer);
                console.dir(webFormData);

                $.ajax({
                    url: '/api/Internship_Record/updateInternshipSurvey/' + internshipRecordId,
                    method: 'PUT',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    cache: false,
                    data: "'" + JSON.stringify(webFormData) + "'",
                    success: function (data) {
                        swal({
                            type: 'success',
                            title: 'Saved!',
                            text: data.Message
                        }).then(
                            function () {
                                window.location.reload();
                            });
                    },
                    error: function (data) {
                        swal({
                            type: 'error',
                            title: 'Error',
                            text: data.Message
                        });
                    }
                });
            } else {
                swal(
                    'Oops...',
                    'Please answer all of the questions for this survey, and do not leave it blank!',
                    'error'
                )
            }
        }

    });


    function WebFormData(FeedbackUseful, FeedbackImproved, FeedbackExperiences, FeedbackRecommend, FeedbackEnjoy, FeedbackLeastEnjoy, FeedbackTakeaway, FeedbackCareer) {
        this.FeedbackUseful = FeedbackUseful;
        this.FeedbackImproved = FeedbackImproved;
        this.FeedbackExperiences = FeedbackExperiences;
        this.FeedbackRecommend = FeedbackRecommend;

        this.FeedbackEnjoy = FeedbackEnjoy;
        this.FeedbackLeastEnjoy = FeedbackLeastEnjoy;
        this.FeedbackTakeaway = FeedbackTakeaway;
        this.FeedbackCareer = FeedbackCareer;
    }

    function getCookie(name) {
        var dc = document.cookie;
        var prefix = name + "=";
        var begin = dc.indexOf("; " + prefix);
        if (begin == -1) {
            begin = dc.indexOf(prefix);
            if (begin != 0) return null;
        } else {
            begin += 2;
        }
        var end = document.cookie.indexOf(";", begin);
        if (end == -1) {
            end = dc.length;
        }
        return unescape(dc.substring(begin + prefix.length, end));
    }
</script>
