@{
    ViewData["Title"] = "Day Task Page";
}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item active">View Task</li>
    </ol>
    <div class="card-body">
        <div class="form-inline">
            <label class="control-label requiredField" for="date">
                Date:&nbsp;
            </label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-calendar">
                    </i>
                </div>
                <input class="form-control" id="date" name="date" placeholder="DD/MM/YYYY" type="text">
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header d-inline">
            <i class="fa fa-table fa-2x pull-left"></i> <h3>Attendance Taking</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="10%">Date</th>
                            <th>Task Recorded</th>
                            <th width="5%">Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*<tr>
                                <td>1</td>
                                <td>I love to Slack</td>
                                <td><input type='text' class="form-control" id="remarks" /></td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
    <!--end with attendance taking-->
    <div class="card-body">
        <div class="form-group">
            <div class="col-12">
                <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/Index'">
                    Back
                </button>
            </div>
        </div>
    </div>
    <br />
</div>

<!-- comment Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="attendanceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="attendanceModalLabel">11 October 2017</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container">
                    <form>
                        <div class="form-group ">
                            <label>Comment:</label>
                            <textarea class="form-control" rows="5" id="task" readonly>Went to meeting, and prepared meeting report.</textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<!-- /.content-wrapper -->
<script>
    $(document).ready(function () {
        var table = $('#dataTable').DataTable({
            dom: "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-4'l><'col-sm-8'p>>",
            ajax: {
                url: '/Api/Task_Record',
                dataSrc: ''
            },
            columns: [
                { data: "DayRecordId" },
                { data: "Description" },
                {
                    data: null,
                    "bSortable": false,
                    "mRender": function (o) { return '<button class="btn btn-sm btn-primary">View</button>' } //note under condition if no remarks was given the column would be blank
                }
            ],
            language: {
                emptyTable: "No Task was found, please create one.",
            }
        });
        $('#dataTable tbody').on('click', 'button.btn-primary', function (e) {
            $('#commentModal').modal('show');
        });
    });
</script>
