
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item">
            <a href="~/Home/Mentoring">Mentor Session</a>
        </li>
        <li class="breadcrumb-item active">Mentor Session History</li>
    </ol>
    <div class="card" style="border-width:0px;">
        <div class="card-body">
            <div class="form-group">
                <div class="pull-left">
                </div>
                <div class="col-xs-12 pull-right">
                    <label>View By:&nbsp</label>
                    <select class="form-control" id="selectMonthRecord"></select>
                </div>
            </div>
        </div>
    </div>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Mentoring Details
        </div>
        <div class="card-body">
            <div class="col-12">
                <div class="col-6 pull-left">
                    <div class="form-group">
                        <label class="control-label" for="datelocked">
                            Session Date
                        </label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar">
                                </i>
                            </div>
                            <input class="form-control" id="datelocked" name="date" placeholder="DD/MM/YYYY" type="text" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="timeinlocked">
                            Time started
                        </label>
                        <div class='input-group date' id='timeinlocked'>
                            <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <input type='text' class="form-control" id="MentorSessionDateTimeStart" readonly />
                        </div>
                    </div>
                </div>
                <div class="col-6 pull-right">
                    <div class="form-group">
                        <label class="control-label" for="timeoutlocked">
                            Time ended
                        </label>
                        <div class='input-group date' id='timeoutlocked'>
                            <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <input type='text' class="form-control" id="MentorSessionDateTimeEnd" readonly />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Reflection
        </div>
        <div class="card-body">
            <div class="col-12">
                <div class="form-group">
                    <label class="control-label" for="MentorSessionReflection">Please note down what you have learnt from the mentoring session. The areas of learning may include, but not limited to, an overview of the company structure, nature of business and work requirements; jobs prospects and career paths within the industry; or work experience of your mentor in the industry</label>
                    <textarea class="form-control" rows="5" id="MentorSessionReflection" readonly></textarea>
                </div>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
    <!--end with attendance taking-->
    <div class="card-body">
        <div class="form-group">
            <div class="col-12">
                <button class="btn btn-default pull-left" onclick="window.history.go(-1); return false">
                    Back
                </button>
            </div>
        </div>
    </div>
    <br />
</div>
<script>
    var internshipRecordId = getCookie("InternshipRecordId");
    var monthRecords;

    if (internshipRecordId != null) {
        $.ajax({
            url: '/api/month_record/InternshipMonthRecords/' + internshipRecordId,
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                console.dir(data);
                monthRecords = data;
                if (data.length > 0) {
                    var selectedMonth = monthRecords[0];
                    $('#date').val(moment(new Date(selectedMonth.MentorSessionDateTimeStart)).format('DD/MM/YYYY'));
                    $('#MentorSessionDateTimeStart').val(moment(new Date(selectedMonth.MentorSessionDateTimeStart)).format('hh:mm A'));
                    $('#MentorSessionDateTimeEnd').val(moment(new Date(selectedMonth.MentorSessionDateTimeEnd)).format('hh:mm A'));
                    $('#MentorSessionReflection').val(selectedMonth.MentorSessionReflection);
                }
                for (i = 0; i < data.length; i++) {
                    var selectMonthRecord
                    var newOption = $('<option>').text('Month ' + (i + 1)).val(i);
                    $('#selectMonthRecord').append(newOption);
                }
            }
        });
    }


    $('#selectMonthRecord').change(function () {
        var selectedMonth = monthRecords[$(this).val()];
        $('#datelocked').val(moment(new Date(selectedMonth.MentorSessionDateTimeStart)).format('DD/MM/YYYY'));
        $('#MentorSessionDateTimeStart').val(moment(new Date(selectedMonth.MentorSessionDateTimeStart)).format('hh:mm A'));
        $('#MentorSessionDateTimeEnd').val(moment(new Date(selectedMonth.MentorSessionDateTimeEnd)).format('hh:mm A'));
        $('#MentorSessionReflection').val(selectedMonth.MentorSessionReflection);
    });



    function getCookie(name) {
        var dc = document.cookie;
        var prefix = name + "=";
        var begin = dc.indexOf("; " + prefix);
        if (begin == -1) {
            begin = dc.indexOf(prefix);
            if (begin != 0) return null;
        } else {
            begin += 2;
        }
        var end = document.cookie.indexOf(";", begin);
        if (end == -1) {
            end = dc.length;
        }
        return unescape(dc.substring(begin + prefix.length, end));
    }
</script>
