@{
    ViewData["Title"] = "Monthly Reflection Page";
}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item active">Monthly Reflection</li>
        @*<li class="nav-item pull-right">
                <select class="form-control" id="exampleSelect1">
                    <option>Week 1 to Week 4</option>
                    <option>Week 5 to Week 8</option>
                    <option>Week 9 to Week 12</option>
                    <option>Week 13 to Week 16</option>
                </select>
            </li>*@
    </ol>
    <div class="card" style="border-width:0px;">
        <div class="card-body">
            <div class="form-group">
                <div class="col-xs-12 pull-right">
                    <div class="form-inline">
                        <input type="button" value="View History" class="btn btn-default" onclick="location.href='@Url.Action("reflection_history", "Home" )'" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#Soft-Skill" role="tab" data-toggle="tab">Soft-Skill</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Technical" role="tab" data-toggle="tab">Technical</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Soft-Skill">
                <div class="container text-left">
                    <br />
                    <div>
                        <h5>In terms of workplace knowledge, communication and interpersonal skills, reflect on:</h5>
                    </div>
                    <hr />
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <div class="form-group">
                            <label class="control-label col-sm-8 requiredField" for="softskill1">(a) Areas you have done well.</label>
                            <textarea class="form-control" rows="5" id="softskilldonewell" maxlength="500"></textarea>
                            <small class="form-text text-muted pull-right" id="wordcount1"></small>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <div class="form-group">
                            <label class="control-label col-sm-8 requiredField" for="softskill2">(b) Areas you would like to improve.</label>
                            <textarea class="form-control" rows="5" id="softskillimprove" maxlength="500"></textarea>
                            <small class="form-text text-muted pull-right" id="wordcount2"></small>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Technical">
                <div class="container text-left">
                    <br />
                    <div>
                        <h5>In terms of workplace knowledge, communication and interpersonal skills, reflect on:</h5>
                    </div>
                    <hr />
                    <div class="container text-left">
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-sm-8 requiredField" for="hardskill1">(a) How you have applied what you have learnt in school and workplace</label>
                                <textarea class="form-control" rows="5" id="hardskillapply" maxlength="500"></textarea>
                                <small class="form-text text-muted pull-right" id="wordcount3"></small>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-sm-8 requiredField" for="hardskill2">(b) Areas you have done well.</label>
                                <textarea class="form-control" rows="5" id="hardskilldonewell" maxlength="500"></textarea>
                                <small class="form-text text-muted pull-right" id="wordcount4"></small>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <div class="form-group ">
                                <label class="control-label col-sm-8 requiredField" for="hardskillimprove">(c) Areas you would like to improve.</label>
                                <textarea class="form-control" rows="5" id="hardskillimprove" maxlength="500"></textarea>
                                <small class="form-text text-muted pull-right" id="wordcount5"></small>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="col-12">
                <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/Index'">
                    Back
                </button>
                <button class="btn btn-primary pull-right" name="submit" type="submit" id="btnSaveReflection">
                    Save
                </button>
            </div>
        </div>
    </div>
    <br />
</div>
<script>

    var monthRecordId = null;
    var text_max = 500;

    $('#wordcount1').html(text_max + ' characters remaining');
    $('#wordcount2').html(text_max + ' characters remaining');
    $('#wordcount3').html(text_max + ' characters remaining');
    $('#wordcount4').html(text_max + ' characters remaining');
    $('#wordcount5').html(text_max + ' characters remaining');

    $.ajax({
        url: '/api/month_record/Latest',
        method: 'GET',
        dataType: 'json',
        success: function (data) {
            console.dir(data);
            $('#softskilldonewell').val(data.SoftSkillsCompetencyDoneWell);
            $('#softskillimprove').val(data.SoftSkillsCompetencyImprove);
            $('#hardskillapply').val(data.TechnicalCompetencyApplied);
            $('#hardskilldonewell').val(data.TechnicalCompetencyDoneWell);
            $('#hardskillimprove').val(data.TechnicalCompetencyImprove);
            monthRecordId = data.MonthId;
            LoadCount($('#softskilldonewell').val().length, $('#wordcount1'));
            LoadCount($('#softskillimprove').val().length, $('#wordcount2'));
            LoadCount($('#hardskillapply').val().length, $('#wordcount3'));
            LoadCount($('#hardskilldonewell').val().length, $('#wordcount4'));
            LoadCount($('#hardskillimprove').val().length, $('#wordcount5'));
        }
    });

    function LoadCount(text_length, output) {
        var text_remaining = text_max - text_length;
        output.html(text_remaining + ' characters remaining');
    }

    $('#softskilldonewell').keyup(function () {
        var text_length = $('#softskilldonewell').val().length;
        var text_remaining = text_max - text_length;

        $('#wordcount1').html(text_remaining + ' characters remaining');
    });

    $('#softskillimprove').keyup(function () {
        var text_length = $('#softskillimprove').val().length;
        var text_remaining = text_max - text_length;

        $('#wordcount2').html(text_remaining + ' characters remaining');
    });

    $('#hardskillapply').keyup(function () {
        var text_length = $('#hardskillapply').val().length;
        var text_remaining = text_max - text_length;

        $('#wordcount3').html(text_remaining + ' characters remaining');
    });

    $('#hardskilldonewell').keyup(function () {
        var text_length = $('#hardskilldonewell').val().length;
        var text_remaining = text_max - text_length;

        $('#wordcount4').html(text_remaining + ' characters remaining');
    });

    $('#hardskillimprove').keyup(function () {
        var text_length = $('#hardskillimprove').val().length;
        var text_remaining = text_max - text_length;

        $('#wordcount5').html(text_remaining + ' characters remaining');
    });

    $('#btnSaveReflection').click(function () {
        if (monthRecordId != null) {
            var softskilldonewell = "" + $('#softskilldonewell').val();
            var softskillimprove = "" + $('#softskillimprove').val();
            var hardskillapply = "" + $('#hardskillapply').val();
            var hardskilldonewell = "" + $('#hardskilldonewell').val();
            var hardskillimprove = "" + $('#hardskillimprove').val();

            if (softskilldonewell && softskillimprove && hardskillapply && hardskilldonewell && hardskillimprove) {
                var webFormData = new WebFormData(softskilldonewell, softskillimprove, hardskillapply, hardskilldonewell, hardskillimprove);
                console.dir(webFormData);

                $.ajax({
                    url: '/api/month_record/UpdateReflection/' + monthRecordId,
                    method: 'PUT',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    cache: false,
                    data: "'" + JSON.stringify(webFormData) + "'",
                    success: function (data) {
                        swal({
                            type: 'success',
                            title: 'Saved!',
                            text: data.Message
                        }).then(
                            function () {
                                window.location.reload();
                            });
                    },
                    error: function (data) {
                        swal({
                            type: 'error',
                            title: 'Error',
                            text: data.Message
                        });
                    }
                });
            } else {
                swal(
                    'Oops...',
                    'Please answer all of the questions for soft and technical skills, and do not leave it blank!',
                    'error'
                )
            }

            
        }
    })

    function WebFormData(SoftSkillsCompetencyDoneWell, SoftSkillsCompetencyImprove, TechnicalCompetencyApplied, TechnicalCompetencyDoneWell, TechnicalCompetencyImprove) {
        this.SoftSkillsCompetencyDoneWell = SoftSkillsCompetencyDoneWell;
        this.SoftSkillsCompetencyImprove = SoftSkillsCompetencyImprove;
        this.TechnicalCompetencyApplied = TechnicalCompetencyApplied;
        this.TechnicalCompetencyDoneWell = TechnicalCompetencyDoneWell;
        this.TechnicalCompetencyImprove = TechnicalCompetencyImprove;
    }
</script>