@{
    ViewData["Title"] = "Reflection History Page";
}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item">
            <a href="~/Home/monthly_reflection">Monthly Reflection</a>
        </li>
        <li class="breadcrumb-item active">Reflection History</li>
    </ol>
    <div class="card" style="border-width:0px;">
        <div class="card-body">
            <div class="form-group">
                <div class="col-xs-12 pull-right">
                    <label>View By:&nbsp</label>
                    <select class="form-control" id="selectMonthRecord"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="container text-left">
            <br />
            <div>
                <h5>Soft Skills</h5>
            </div>
            <hr />
            <div class="col-md-10 col-sm-10 col-xs-12">
                <p>In terms of workplace knowledge, communication and interpersonal skills, reflect on:</p>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="form-group">
                    <label class="control-label col-sm-8 requiredField" for="softskilldonewell">(a) Areas you have done well.</label>
                    <textarea class="form-control" rows="5" id="softskilldonewell" readonly></textarea>
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="form-group">
                    <label class="control-label col-sm-8 requiredField" for="softskillimprove">(b) Areas you would like to improve.</label>
                    <textarea class="form-control" rows="5" id="softskillimprove" readonly></textarea>
                </div>
            </div>
            <br />
            <div>
                <h5>Technical Skills</h5>
            </div>
            <hr>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <p>Reflect on:</p>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="form-group">
                    <label class="control-label col-sm-8 requiredField" for="hardskillapply">(a) How you have applied what you have learnt in school and workplace</label>
                    <textarea class="form-control" rows="5" id="hardskillapply" readonly></textarea>
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="form-group">
                    <label class="control-label col-sm-8 requiredField" for="hardskilldonewell">(b) Areas you have done well.</label>
                    <textarea class="form-control" rows="5" id="hardskilldonewell" readonly></textarea>
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="form-group ">
                    <label class="control-label col-sm-8 requiredField" for="hardskillimprove">(c) Areas you would like to improve.</label>
                    <textarea class="form-control" rows="5" id="hardskillimprove" readonly></textarea>
                </div>
            </div>
            @*<br />
                <div>
                    <h5>Feedback</h5>
                </div>
                <hr>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <div class="form-group ">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="feedback">Reflection Feedback:</label>
                            <textarea class="form-control" rows="5" id="feedback" readonly></textarea>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="col-12">
                <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/Monthly_Reflection'">
                    Back
                </button>
            </div>
        </div>
    </div>
    <br />
</div>
<script>
    var internshipRecordId = getCookie("InternshipRecordId");
    var monthRecords;

    if (internshipRecordId != null) {
        $.ajax({
            url: '/api/month_record/InternshipMonthRecords/' + internshipRecordId,
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                console.dir(data);
                monthRecords = data;
                if (data.length > 0) { 
                    var selectedMonth = monthRecords[0];
                    $('#softskilldonewell').val(decodeURIComponent(selectedMonth.SoftSkillsCompetencyDoneWell));
                    $('#softskillimprove').val(decodeURIComponent(selectedMonth.SoftSkillsCompetencyImprove));
                    $('#hardskillapply').val(decodeURIComponent(selectedMonth.TechnicalCompetencyApplied));
                    $('#hardskilldonewell').val(decodeURIComponent(selectedMonth.TechnicalCompetencyDoneWell));
                    $('#hardskillimprove').val(decodeURIComponent(selectedMonth.TechnicalCompetencyImprove));
                }
                for (i = 0; i < data.length; i++) {
                    var selectMonthRecord
                    var newOption = $('<option>').text('Month ' + (i + 1)).val(i);
                    $('#selectMonthRecord').append(newOption);
                }
            }
        });
    }


    $('#selectMonthRecord').change(function () {
        var selectedMonth = monthRecords[$(this).val()];
        $('#softskilldonewell').val(decodeURIComponent(selectedMonth.SoftSkillsCompetencyDoneWell));
        $('#softskillimprove').val(decodeURIComponent(selectedMonth.SoftSkillsCompetencyImprove));
        $('#hardskillapply').val(decodeURIComponent(selectedMonth.TechnicalCompetencyApplied));
        $('#hardskilldonewell').val(decodeURIComponent(selectedMonth.TechnicalCompetencyDoneWell));
        $('#hardskillimprove').val(decodeURIComponent(selectedMonth.TechnicalCompetencyImprove));
    });



    function getCookie(name) {
        var dc = document.cookie;
        var prefix = name + "=";
        var begin = dc.indexOf("; " + prefix);
        if (begin == -1) {
            begin = dc.indexOf(prefix);
            if (begin != 0) return null;
        } else {
            begin += 2;
        }
        var end = document.cookie.indexOf(";", begin);
        if (end == -1) {
            end = dc.length;
        }
        return unescape(dc.substring(begin + prefix.length, end));
    }
</script>