
    <h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr id="coursesTableTitle"></tr>
            </thead>
            <tbody id="coursesTableBody">  </tbody>
        </table>
    </div>


<script>
    loadCoursesData();
    function loadCoursesData() {
        $loadCategoryDataHandler = jQuery.ajax({
            url: '/API/Courses',
            method: 'GET',
            dataType: 'json',
            cache: false,
        })
        $loadCategoryDataHandler.done(function (data, textStatus, jqXHR) {
            loadIndexTable(data);
            //deleteCategories();
        });
        $loadCategoryDataHandler.fail(function (data, textStatus, jqXHR) {
            noty({
                text: data.responseJSON.Message, type: 'warning',
                layout: 'center',
                template: '<div class="noty_message"><span class="noty_text"></span>'
            });
        })
    }

    function loadIndexTable(inData) {
        var coursesList = inData;
        var courseId = '';
        var courseName = '';
        var courseCode = '';
        $tableBodyElement = $('#coursesTableBody');
        // $('#coursesTableBody').find('tr').remove();

        $tableTitleElement = $('#coursesTableTitle');
        $('#selectAllInput').prop('checked', false);
        // $tableTitleElement.find('th').remove();

       $headerElement = $('<th></th>');
        $cellElement = $('<input></input>', { type: 'checkbox', id: 'selectAllInput' });
        $headerElement.append($cellElement);
        $tableTitleElement.append($headerElement);

        $headerElement = $('<th></th>');
        $cellElement = 'Course Code';
        $headerElement.append($cellElement);
        $tableTitleElement.append($headerElement);

        $headerElement = $('<th></th>');
        $cellElement = 'Course Name';
        $headerElement.append($cellElement);
        $tableTitleElement.append($headerElement);



        for (index = 0; index < coursesList.length; index++) {
            courses = coursesList[index];
            courseId = courses.CourseId;
            courseName = courses.CourseName;
            courseCode = courses.CourseCode



            $rowElement = $('<tr></tr>');

            $tdelement = $('<td></td>');

            $cellElement = $('<input></input>', { type: 'checkbox', name: 'deleteCheckBoxInput' }).val(courseId).addClass('weba-deleteCheckbox');
            $tdelement.append($cellElement)
            $rowElement.append($tdelement);
            /*   $cellElement = $('<td></td>', { text: categoryId });
             $rowElement.append($cellElement);*/
            $cellElement = $('<td></td>', { text: courseCode });
            $rowElement.append($cellElement);

            $cellElement = $('<td></td>', { text: courseName });
            $rowElement.append($cellElement);
            /*$cellElement = $('<td></td>', { text: noOfSubCategory });
             $rowElement.append($cellElement);*/


            $tableBodyElement.append($rowElement);
        }
    }

</script>
