<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Grading</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Grading
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 pull-left">
            <label>Student Name:&nbsp</label><a href="#">Amelia Goh</a>
        </div>

        <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Rating Scale & Descriptions
                        </a>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                    <ul class="card-block">
                        <li>Exceeds expectations in the area assessed </li>
                        <li>Very good in the area assessed</li>
                        <li>Good in the area assessed</li>
                        <li>Generally effective in the area assessed</li>
                        <li>Does not meet expectations in the area accessed</li>
                    </ul>
                </div>
            </div>
            <!--<div class="card">
                    <div class="card-header" role="tab" id="headingTwo">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Workplace knowlegde, communication and interpersonal skills encompass the following areas
                            </a>
                        </h5>
                    </div>

                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Assessment Criteria</th>
                                            <th>Rating</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <ul class="card-block">
                                                    <li>Plans and organises assigned work.</li>
                                                    <li>Communicates effectively in verbal and/or written communcation.</li>
                                                    <li>Maintains good attendance punctuality.</li>
                                                    <li>Demonstrates commitment, motivation and reliability towards work assignment.</li>
                                                    <li>Able to work effectively with others towards the accomplishment of common goals.</li>
                                                </ul>
                                            </td>
                                            <td>
                                                <div class="btn-group pull-right">
                                                    <button class="btn btn-primary dropdown-toggle" href="#" data-toggle="dropdown">
                                                        <span class='glyphicon glyphicon-plus'></span> <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu stay-open" role="menu" style="padding: 15px; min-width: 300px;">
                                                        <li>1</li>
                                                        <li>2</li>
                                                        <li>3</li>
                                                        <li>4</li>
                                                        <li>5</li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Technical Knowledge & Skills encompass the following areas
                                </a>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Assessment Criteria</th>
                                                <th>Rating</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <ul class="card-block">
                                                        <li>Able to apply relevant skills effectively and proficiently.</li>
                                                        <li>Able to produce quality work in accordance with schedules and timelines.</li>
                                                        <li>Is resourceful and can act and respond independently or with minimal guidance.</li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <div class="btn-group pull-right">
                                                        <button class="btn btn-primary dropdown-toggle" href="#" data-toggle="dropdown">
                                                            <span class='glyphicon glyphicon-plus'></span> <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu stay-open" role="menu" style="padding: 15px; min-width: 300px;">
                                                            <li>1</li>
                                                            <li>2</li>
                                                            <li>3</li>
                                                            <li>4</li>
                                                            <li>5</li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingFour">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Independent learning skills encompass the following areas
                                </a>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Assessment Criteria</th>
                                                <th>Rating</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <ul class="card-block">
                                                        <li>Able to acquire new skills and apply knowledge learnt.</li>
                                                        <li>Is resorceful and able to resolve problem when challenges are encountered</li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <div class="btn-group pull-right">
                                                        <button class="btn btn-primary dropdown-toggle" href="#" data-toggle="dropdown">
                                                            <span class='glyphicon glyphicon-plus'></span> <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu stay-open" role="menu" style="padding: 15px; min-width: 300px;">
                                                            <li>1</li>
                                                            <li>2</li>
                                                            <li>3</li>
                                                            <li>4</li>
                                                            <li>5</li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingFive">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Average rating to overall grade
                            </a>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Assessment Criteria</th>
                                            <th>Rating</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <ul class="card-block">
                                                    <li>Higher or equal to 4.5 -- Distinction</li>
                                                    <li>Higher or equal to 4.0 -- A (Excellent)</li>
                                                    <li>Higher or equal to 3.5 -- B+ (Very good)</li>
                                                    <li>Higher or equal to 3.0 -- B (Good)</li>
                                                    <li>Higher or equal to 2.5 -- C+ (Good Credit)</li>
                                                    <li>Higher or equal to 2.0 -- C (Credit)</li>
                                                    <li>Higher or equal to 1.5 -- D (Pass)</li>
                                                    <li>Less than 1.5 -- F (Fail)</li>
                                                </ul>
                                            </td>
                                            <td>
                                                <div class="btn-group pull-right">
                                                    <button class="btn btn-primary dropdown-toggle" href="#" data-toggle="dropdown">
                                                        <span class='glyphicon glyphicon-plus'></span> <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu stay-open" role="menu" style="padding: 15px; min-width: 300px;">
                                                        <li>Dist</li>
                                                        <li>A</li>
                                                        <li>B+</li>
                                                        <li>B</li>
                                                        <li>C+</li>
                                                        <li>C</li>
                                                        <li>D</li>
                                                        <li>F</li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Assessment Criteria</th>
                                <th>Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingTwo">
                                            <h6 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    1. Workplace knowlegde, communication and interpersonal skills encompass the following areas
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <ul class="card-block">
                                                <li>Plans and organises assigned work.</li>
                                                <li>Communicates effectively in verbal and/or written communcation.</li>
                                                <li>Maintains good attendance punctuality.</li>
                                                <li>Demonstrates commitment, motivation and reliability towards work assignment.</li>
                                                <li>Able to work effectively with others towards the accomplishment of common goals.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group pull-right">
                                        <button class="btn btn-primary dropdown-toggle" href="#" data-toggle="dropdown">
                                            <span class='glyphicon glyphicon-plus'></span> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu stay-open" role="menu" style="padding: 15px; min-width: 300px;">
                                            <li>1</li>
                                            <li>2</li>
                                            <li>3</li>
                                            <li>4</li>
                                            <li>5</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingThree">
                                            <h6 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    2. Technical Knowledge & Skills encompass the following areas
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <ul class="card-block">
                                                <li>Able to apply relevant skills effectively and proficiently.</li>
                                                <li>Able to produce quality work in accordance with schedules and timelines.</li>
                                                <li>Is resourceful and can act and respond independently or with minimal guidance.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group pull-right">
                                        <button class="btn btn-primary dropdown-toggle" href="#" data-toggle="dropdown">
                                            <span class='glyphicon glyphicon-plus'></span> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu stay-open" role="menu" style="padding: 15px; min-width: 300px;">
                                            <li>1</li>
                                            <li>2</li>
                                            <li>3</li>
                                            <li>4</li>
                                            <li>5</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingFour">
                                            <h6 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                                    3. Independent learning skills encompass the following areas
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                                            <ul class="card-block">
                                                <li>Able to acquire new skills and apply knowledge learnt.</li>
                                                <li>Is resorceful and able to resolve problem when challenges are encountered</li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group pull-right">
                                        <button class="btn btn-primary dropdown-toggle" href="#" data-toggle="dropdown">
                                            <span class='glyphicon glyphicon-plus'></span> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu stay-open" role="menu" style="padding: 15px; min-width: 300px;">
                                            <li>1</li>
                                            <li>2</li>
                                            <li>3</li>
                                            <li>4</li>
                                            <li>5</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingFive">
                                            <h6 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                                    4. Average rating to overall grade
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                                            <ul class="card-block">
                                                <li>Higher or equal to 4.5 -- Distinction</li>
                                                <li>Higher or equal to 4.0 -- A (Excellent)</li>
                                                <li>Higher or equal to 3.5 -- B+ (Very good)</li>
                                                <li>Higher or equal to 3.0 -- B (Good)</li>
                                                <li>Higher or equal to 2.5 -- C+ (Good Credit)</li>
                                                <li>Higher or equal to 2.0 -- C (Credit)</li>
                                                <li>Higher or equal to 1.5 -- D (Pass)</li>
                                                <li>Less than 1.5 -- F (Fail)</li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group pull-right">
                                        <button class="btn btn-primary dropdown-toggle" href="#" data-toggle="dropdown">
                                            <span class='glyphicon glyphicon-plus'></span> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu stay-open" role="menu" style="padding: 15px; min-width: 300px;">
                                            <li>1</li>
                                            <li>2</li>
                                            <li>3</li>
                                            <li>4</li>
                                            <li>5</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>

                    </div>
                    <form class="form-group">
                        <div class="form-group">
                            <label class="col-md-8 control-label">Average rating based on the above four assessment criteria:</label>
                            <div class="col-sm-5">
                                <input class="form-control" id="assessmentCriteria" type="text" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Overall Grade:</label>
                            <div class="col-sm-5">
                                <input class="form-control" id="overallGrade" type="text" value="">
                            </div>
                        </div>
                    </form>



                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <div class="form-group ">
                            <div class="form-group">
                                <label class="control-label col-sm-3 requiredField" for="overallComment">Overall Comments:</label>
                                <textarea class="form-control" rows="5" id="overallComment"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="col-12">
                                <button class="btn btn-default" onclick="window.history.go(-1); return false">
                                    Back
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>
</div>
