@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Internship Programme</a>
        </li>
        <li class="breadcrumb-item active">Homepage</li>
    </ol>
    <h3>Welcome</h3>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered" cellspacing="0">
                <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>Student Name</th>
                        <th>Student Info</th>
                        <th>Student Journal</th>
                        <th>Pending Review</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>P1530247</td>
                        <td>Amelia Goh</td>
                        <td>
                            <div class="text-center">
                                <a href="/LO/Student_Info"><i class="fa fa-fw fa-info"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/home/index"><i class="fa fa-fw fa-file"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/home/review"><i class="fa fa-fw fa-exclamation-circle"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>P1550342</td>
                        <td>Cho Qi Xiang</td>
                        <td>
                            <div class="text-center">
                                <a href="/LO/Student_Info"><i class="fa fa-fw fa-info"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/home/index"><i class="fa fa-fw fa-file"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/home/review"><i class="fa fa-fw fa-exclamation-circle"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>P1551322</td>
                        <td>Tan Chia Wei</td>
                        <td>
                            <div class="text-center">
                                <a href="/LO/Student_Info"><i class="fa fa-fw fa-info"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/home/index"><i class="fa fa-fw fa-file"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/home/review"><i class="fa fa-fw fa-exclamation-circle"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-wrapper -->
