<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Add Company</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Add Company
</div>

            <div>
                <form class="form-group">
                    <div class="form-inline">
                        <label class="col-md-2 control-label">Company Name:</label>
                        <div class="col-sm-5">
                            <input class="form-control" id="comapnyName" type="text" value="" readonly>
                        </div>
                    </div>
                    <div class="form-inline">
                        <label class="col-sm-2 control-label">Company Address:</label>
                        <div class="col-sm-5">
                            <input class="form-control" id="companyAddress" type="text" value="" readonly>
                        </div>
                    </div>
                </form>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3"></label>
                <div class="btn pull-right">
                    <button class="btn btn-primary" name="submit" type="submit">
                        Save
                    </button>
                </div>
            </div>
    </div>
</div>