@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet


<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Student - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS -->
    <link href="~/js/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/js/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <!-- Plugin CSS -->
    <link href="~/js/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/sb-admin.css" rel="stylesheet">
    <link href="~/css/fullcalendar.css" rel="stylesheet">
    <link href="~/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/js/datatables/buttons.dataTables.css" rel="stylesheet" />
    <link href="~/js/datatables/editor.dataTables.css" rel="stylesheet" />
    <link href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <!-- Bootstrap core JavaScript -->
    <script src="~/js/jquery/jquery.js"></script>
    <script src="~/js/calendar/moment.min.js"></script>
    <script src="~/js/calendar/fullcalendar.js"></script>
    <script src="~/js/popper/popper.js"></script>
    <script src="~/js/bootstrap/js/bootstrap.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/js/jquery-easing/jquery.easing.js"></script>
    <script src="~/js/datatables/jquery.dataTables.js"></script>
    <script src="~/js/datatables/dataTables.bootstrap4.js"></script>
</head>
<body class="fixed-nav sticky-footer bg-dark sidenav-toggled" id="page-top">

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="#">Welcome, P1551981</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        @*@if (User.IsInRole("STUDENT"))
            {*@
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav collapsed" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Home">
                    <a class="nav-link" href="~/Home/Index">
                        <i class="fa fa-fw fa-home"></i>
                        <span class="nav-link-text">
                            Home
                        </span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Personal Particulars">
                    <a class="nav-link" href="~/Home/Personal">
                        <i class="fa fa-fw fa-user-o"></i>
                        <span class="nav-link-text">
                            Personal Particulars
                        </span>
                    </a>
                </li>
                @if (User.IsInRole("STUDENT"))
                {
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Daily Task">
                        <a class="nav-link" href="~/Home/Daily_Task">
                            <i class="fa fa-fw fa-calendar"></i>
                            <span class="nav-link-text">
                                Daily Task
                            </span>
                        </a>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Attendance Summary">
                        <a class="nav-link" href="~/Home/Attendance_Summary">
                            <i class="fa fa-fw fa-clock-o"></i>
                            <span class="nav-link-text">
                                Attendance Summary
                            </span>
                        </a>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Competency Checklist">
                        <a class="nav-link" href="~/Home/Competency_Checklist">
                            <i class="fa fa-fw fa-check-square-o"></i>
                            <span class="nav-link-text">
                                Competency Checklist
                            </span>
                        </a>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Monthly Reflection">
                        <a class="nav-link" href="~/Home/Monthly_Reflection">
                            <i class="fa fa-fw fa-pencil"></i>
                            <span class="nav-link-text">
                                Monthly Reflection
                            </span>
                        </a>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Guidelines">
                        <a class="nav-link" href="~/Home/Guide">
                            <i class="fa fa-fw fa-info"></i>
                            <span class="nav-link-text">
                                Guidelines
                            </span>
                        </a>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Grading">
                        <a class="nav-link" href="~/Home/Grading">
                            <i class="fa fa-fw fa-graduation-cap"></i>
                            <span class="nav-link-text">
                                Grading
                            </span>
                        </a>
                    </li>
                }else if (User.IsInRole("SUPERVISOR"))
                {


                }
                else if (User.IsInRole("LO"))
                {


                }
                else if (User.IsInRole("SLO"))
                {


                }
                else
                {


                }
                @*<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Daily Task">
                        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseDailyTask" data-parent="#exampleAccordion">
                            <i class="fa fa-fw fa-calendar"></i>
                            <span class="nav-link-text">
                                Daily Task
                            </span>
                        </a>
                        <ul class="sidenav-second-level collapse collapsed" id="collapseDailyTask">
                            <li>
                                <a href="~/task/overview">Task Overview</a>
                            </li>
                            <li>
                                <a href="~/Home/Add_Task">New Task</a>
                            </li>
                            <li>
                                <a href="~/Home/Edit_Task">Edit Task</a>
                            </li>
                        </ul>
                    </li>*@
                @*<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Attendance">
                        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseAttendance" data-parent="#exampleAccordion">
                            <i class="fa fa-fw fa-clock-o"></i>
                            <span class="nav-link-text">
                                Attendance
                            </span>
                        </a>
                        <ul class="sidenav-second-level collapse" id="collapseAttendance">
                            <li>
                                <a href="~/Home/Attendance">View Attendance</a>
                            </li>
                            <li>
                                <a href="~/Home/Key_Attendance">Daily Attendance</a>
                            </li>
                        </ul>
                    </li>*@
                @*<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Guides">
                        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseCompetency" data-parent="#exampleAccordion">
                            <i class="fa fa-fw fa-edit"></i>
                            <span class="nav-link-text">
                                Competency Checklist
                            </span>
                        </a>
                        <ul class="sidenav-second-level collapse" id="collapseCompetency">
                            <li>
                                <a href="#">Report Guide</a>
                            </li>
                            <li>
                                <a href="#">Testing</a>
                            </li>
                            <li>
                                <a href="#">New Task</a>
                            </li>
                            <li>
                                <a href="#">Edit Task</a>
                            </li>
                        </ul>
                    </li>*@
                @*<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Reflection">
                        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseReflection" data-parent="#exampleAccordion">
                            <i class="fa fa-fw fa-check"></i>
                            <span class="nav-link-text">
                                Reflection
                            </span>
                        </a>
                        <ul class="sidenav-second-level collapse" id="collapseReflection">
                            <li>
                                <a href="login.html">Current Reflection</a>
                            </li>
                            <li>
                                <a href="register.html">Reflection History</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
                        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseGuideline" data-parent="#exampleAccordion">
                            <i class="fa fa-fw fa-info"></i>
                            <span class="nav-link-text">
                                Guideline
                            </span>
                        </a>
                        <ul class="sidenav-second-level collapse" id="collapseGuideline">
                            <li>
                                <a href="#">Second Level Item</a>
                            </li>
                            <li>
                                <a href="#">Second Level Item</a>
                            </li>
                            <li>
                                <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Third Level</a>
                                <ul class="sidenav-third-level collapse" id="collapseMulti2">
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>*@
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                @*<li class="nav-item">
                        <form class="form-inline my-2 my-lg-0 mr-lg-2">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </li>*@
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
        @*}*@
    </nav>

    <div class="content-wrapper">
        @RenderBody()

        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright &copy; your website 2017</small>
                </div>
            </div>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
    <!-- /end.content-wrapper -->
    <!-- Scroll to Top Button -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>

    <!-- Logout Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Select "Logout" below if you are ready to end your current session.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <!----   <a class="btn btn-primary" href="login.html">Logout</a>  -->
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </div>
    </div>


    <!-- Reset Modal -->
    <div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resetModalLabel">Create Attendance</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="container">
                        <form>
                            <div class="form-group">
                                <label class="control-label requiredField" for="oldpwd">
                                    Current Password
                                    <span class="asteriskField">
                                        *
                                    </span>
                                </label>
                                <input class="form-control" id="oldpwd" name="oldpwd" type="password">
                            </div>
                            <div class="form-group">
                                <label class="control-label requiredField" for="newpwd">
                                    New Password
                                    <span class="asteriskField">
                                        *
                                    </span>
                                </label>
                                <input class="form-control" id="newpwd" name="newpwd" type="password">
                            </div>
                            <div class="form-group">
                                <label class="control-label requiredField" for="cfmnewpwd">
                                    Confirm New Password
                                    <span class="asteriskField">
                                        *
                                    </span>
                                </label>
                                <input class="form-control" id="cfmnewpwd" name="cfmnewpwd" type="password">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="submit">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <!----   <a class="btn btn-primary" href="login.html">Logout</a>  -->
                </div>
            </div>
        </div>
    </div>

    <!-- Add Competency Checklist Modal -->
    <div class="modal fade" id="addccModal" tabindex="-1" role="dialog" aria-labelledby="addccModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addccModalLabel">Add Competency</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="container">
                        <form>
                            <div class="form-group ">
                                <label class="control-label" for="description">
                                    Description
                                </label>
                                <textarea class="form-control" rows="5" id="description"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="submit">Submit</button>
                    <!----   <a class="btn btn-primary" href="login.html">Logout</a>  -->
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Competency Checklist Modal -->
    <div class="modal fade" id="updateccModal" tabindex="-1" role="dialog" aria-labelledby="updateccModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateccModalLabel">Edit Competency</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="container">
                        <form>
                            <div class="form-group ">
                                <label class="control-label" for="description">
                                    Description
                                </label>
                                <textarea class="form-control" rows="5" id="description"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"  data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="submit">Submit</button>
                    <!----   <a class="btn btn-primary" href="login.html">Logout</a>  -->
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Manage Student Modal -->
    <div class="modal fade" id="updateManageStudentModal" tabindex="-1" role="dialog" aria-labelledby="updateManageStudentModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateManageStudentModalLabel">Edit Student</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form>
                            <div class="form-group">
                                <label class="control-label" for="studentID">Student ID:</label>                                                              
                                <div class="col-sm-6">
                                    <input class="form-control" id="studentID" type="text" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="name">Name:</label>
                                <div class="col-sm-6">
                                    <input class="form-control" id="name" type="text" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="project">Project:</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="project">
                                        <option>Parliament</option>
                                        <option>CAAS</option>
                                        <option>MDA</option>
                                        <option>WIS</option>
                                    </select>
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="control-label" for="liaisonOfficer">Liaison Officer:</label>                                                              
                                <div class="col-sm-6">
                                    <select class="form-control" id="liaisonOfficer">
                                        <option>Mr Vincent Goh</option>
                                        <option>Ms Leong Fong Sow</option>
                                        <option>Mr Lim De Yang</option>
                                        <option>Dr Leong</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="submit">Submit</button>
                    <!----   <a class="btn btn-primary" href="login.html">Logout</a>  -->
                </div>
            </div>
        </div>
    </div>

    <!-- Add Touchpoint Modal -->
    <div class="modal fade" id="addtpModal" tabindex="-1" role="dialog" aria-labelledby="addtpModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addtpModalLabel">Add Touchpoint</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="container">
                        <form>
                            <div class="form-group">
                                <label class="control-label requiredField" for="date">
                                    Date
                                    <span class="asteriskField">
                                        *
                                    </span>
                                </label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar">
                                        </i>
                                    </div>
                                    <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label requiredField" for="timein">
                                    Time
                                    <span class="asteriskField">
                                        *
                                    </span>
                                </label>
                                <div class='input-group date' id='timein'>
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>

                                    <input type='text' class="form-control" />
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="control-label" for="comment">
                                    Comment
                                </label>
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="submit">Create</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <!----   <a class="btn btn-primary" href="login.html">Logout</a>  -->
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Touchpoint Modal -->
    <div class="modal fade" id="updatetpModal" tabindex="-1" role="dialog" aria-labelledby="updatetpModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addtpModalLabel">Edit Touchpoint</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="container">
                        <form>
                            <div class="form-group">
                                <label class="control-label requiredField" for="date">
                                    Date
                                    <span class="asteriskField">
                                        *
                                    </span>
                                </label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar">
                                        </i>
                                    </div>
                                    <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label requiredField" for="timein">
                                    Time
                                    <span class="asteriskField">
                                        *
                                    </span>
                                </label>
                                <div class='input-group date' id='timein'>
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>

                                    <input type='text' class="form-control" />
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="control-label" for="comment">
                                    Comment
                                </label>
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="submit">Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <!----   <a class="btn btn-primary" href="login.html">Logout</a>  -->
                </div>
            </div>
        </div>
    </div>

    <!-- View Event Modal -->
    <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eventModalLabel">6th November 2017</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        @*<div class="form-group ">
                                <label class="control-label col-sm-3 requiredField" for="date">
                                    Date
                                    <span class="asteriskField">
                                        *
                                    </span>
                                </label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar">
                                            </i>
                                        </div>
                                        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text">
                                    </div>
                                </div>
                            </div>*@
                        <div>
                            <div class="form-group ">
                                <textarea class="form-control" rows="5" id="task" readonly>Attendance: Present&#13;&#10;There are no records for this day yet.</textarea>
                            </div>
                        </div>
                        <div class="text-center">
                            <input type="button" class="btn btn-primary" value="Manage Day Record" onclick="location.href='@Url.Action("Day_Task", "Home")'" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Custom scripts for this template -->
    <script src="~/js/sb-admin.js"></script>
    <script src="~/js/datatables/dataTables.buttons.js"></script>
    <script src="~/js/datatables/buttons.html5.js"></script>
    <script src="~/js/datatables/buttons.print.js"></script>
    <script src="~/js/datatables/dataTables.select.js"></script>
    <script src="~/js/datetimepicker/bootstrap-datepicker.js"></script>
    <script src="~/lib/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>
    <script src="~/js/datatables/dataTables.editor.js"></script>

    <script>
        $(document).ready(function () {
            $("#submit").click(function () {
                console.log(convertTime12to24($("#timeoutval").val()));
            });
            //------start custom script-----
            $(".navbar-toggler").click(function () {
                $("body").removeClass("sidenav-toggled")
            });
            //------end custom script-----

            //------start date script-----

            $('#timein').datetimepicker({
                allowInputToggle: true,
                format: 'LT'
            });
            $('#timeout').datetimepicker({
                allowInputToggle: true,
                format: 'LT'
            });
            var date_input = $('input[name=date]'); //our date input has the name "date"
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            date_input.datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            //------end date script-----
            // check if this day has an event before


            function convertTime12to24(time12h) {
                const [time, modifier] = time12h.split(' ');

                let [hours, minutes] = time.split(':');

                if (hours === '12') {
                    hours = '00';
                }

                if (modifier === 'PM') {
                    hours = parseInt(hours, 10) + 12;
                }

                return hours + ':' + minutes;
            }
        });
    </script>
    <style>
        #calendar {
            max-width: 900px;
            padding: 1em;
            margin: 0 auto;
        }
    </style>
</body>

</html>