@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet


<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Student - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS -->
    <link href="~/js/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/js/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Plugin CSS -->
    <link href="~/js/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/sb-admin.css" rel="stylesheet">
    <link href="~/css/fullcalendar.css" rel="stylesheet">
    <!-- Bootstrap core JavaScript -->
    <script src="~/js/jquery/jquery.min.js"></script>
    <script src="~/js/calendar/moment.min.js"></script>
    <script src="~/js/calendar/fullcalendar.js"></script>
    <script src="~/js/popper/popper.min.js"></script>
    <script src="~/js/bootstrap/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/js/jquery-easing/jquery.easing.min.js"></script>
    @*
        <script src="~/js/chart.js/Chart.min.js"></script>*@
    <script src="~/js/datatables/jquery.dataTables.js"></script>
    <script src="~/js/datatables/dataTables.bootstrap4.js"></script>
    <script>

        $(document).ready(function () {

            $('#calendar').fullCalendar('today');
            $('#calendar').fullCalendar({
                //defaultDate: '2017-10-12',
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: [
                    {
                        title: 'All Day Event',
                        start: '2017-10-01'
                    },
                    {
                        title: 'Long Event',
                        start: '2017-10-07',
                        end: '2017-10-10'
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: '2017-10-09T16:00:00'
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: '2017-10-16T16:00:00'
                    },
                    {
                        title: 'Conference',
                        start: '2017-10-11',
                        end: '2017-10-13'
                    },
                    {
                        title: 'Meeting eat eat eat sleep drink bath',
                        start: '2017-10-12T10:30:00',
                        end: '2017-10-12T12:30:00'
                    },
                    {
                        title: 'Lunch',
                        start: '2017-10-12T12:00:00'
                    },
                    {
                        title: 'Meeting',
                        start: '2017-10-12T14:30:00'
                    },
                    {
                        title: 'Happy Hour',
                        start: '2017-10-12T17:30:00'
                    },
                    {
                        title: 'Dinner',
                        start: '2017-10-12T20:00:00'
                    },
                    {
                        title: 'Birthday Party',
                        start: '2017-10-13T07:00:00'
                    },
                    {
                        title: 'Click for Google',
                        url: 'http://google.com/',
                        start: '2017-10-28'
                    }
                ],
                dayClick: function (date, jsEvent, view, event) {
                    //$("#cafeId").val($(this).data('id'));
                    $('#myModal').modal('show');
                    //var task;
                    //if (confirm('Clicked on: ' + date.format() + '\nDo you want to add a task?')) {
                    //    task = prompt("Please enter task", "");
                    //    event.title = task;
                    //    $('#calendar').fullCalendar('addEvent', event);
                    //} else {
                    //    alert('No action was taken');
                    //}

                    //alert('Clicked on: ' + date.format() + '\nDo you want to add a task?');
                    //alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
                    //alert('Current view: ' + view.name);
                    // change the day's background color just for fun
                    //$(this).css('background-color', 'red');
                },
                eventClick: function (event, element) {
                    var task;
                    task = prompt("Please re-enter task", event.title);
                    event.title = task;
                    $('#calendar').fullCalendar('updateEvent', event);
                    //var info;
                    //event.title = "CLICKED!";

                    // $('#calendar').fullCalendar('updateEvent', event);

                    //if (event.title == null || event.title == "") {
                    //    info == "";
                    //    task = prompt("Please enter task", "");
                    //    event.title = task;
                    //} else {
                    //    task = prompt("Please re-enter task", event.title);
                    //    event.title = task;
                    //    $('#calendar').fullCalendar('updateEvent', event);
                    //}
                }
                //dayClick: function () {
                //    alert('a day has been clicked!'); //for clicking
                //}
            });
            function myFunction() {
                var txt;
                var task = prompt("Please enter task", "");
                if (task == null || task == "") {
                    txt = "User cancelled the prompt.";
                } else {
                    txt = "Hello " + person + "! How are you today?";
                }
                document.getElementById("demo").innerHTML = txt;
            }
        });

    </script>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">

<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="#">Welcome, P1551981</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
          
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Internship">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseInternship" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-user-o"></i>
                        <span class="nav-link-text">
                            Internship Programme
                        </span>
                    </a>
                    <ul class="sidenav-second-level collapse collapsed" id="collapseInternship">
                        <li>
                            <a href="~/Home/Index">Homepage</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Logbook">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseLogbook" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-calendar"></i>
                        <span class="nav-link-text">
                            Daily Task
                        </span>
                    </a>
                    <ul class="sidenav-second-level collapse collapsed" id="collapseLogbook">
                        <li>
                            <a href="~/Home/Daily_Task">Task Overview</a>
                        </li>
                        <li>
                            <a href="~/Home/Index">View Task and Grading</a>
                        </li>
                        <li>
                            <a href="~/Home/Add_Task">New Task</a>
                        </li>
                        <li>
                            <a href="~/Home/Edit_Task">Edit Task</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Service">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseService" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-clock-o"></i>
                        <span class="nav-link-text">
                            Attendance
                        </span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseService">
                        <li>
                            <a href="#">Apply for Leave Of Absence (LOA)</a>
                        </li>
                        <li>
                            <a href="~/Home/Attendance">View Attendance</a>
                        </li>
                        <li>
                            <a href="~/Home/Key_Attendance">Daily Attendance</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Guides">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseGuides" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-edit"></i>
                        <span class="nav-link-text">
                            Competency Checklist
                        </span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseGuides">
                        <li>
                            <a href="#">Report Guide</a>
                        </li>
                        <li>
                            <a href="#">Testing</a>
                        </li>
                        <li>
                            <a href="#">New Task</a>
                        </li>
                        <li>
                            <a href="#">Edit Task</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-check"></i>
                        <span class="nav-link-text">
                            Reflection
                        </span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseExamplePages">
                        <li>
                            <a href="login.html">Login Page</a>
                        </li>
                        <li>
                            <a href="register.html">Registration Page</a>
                        </li>
                        <li>
                            <a href="forgot-password.html">Forgot Password Page</a>
                        </li>
                        <li>
                            <a href="blank.html">Blank Page</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-info"></i>
                        <span class="nav-link-text">
                            Guideline
                        </span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseMulti">
                        <li>
                            <a href="#">Second Level Item</a>
                        </li>
                        <li>
                            <a href="#">Second Level Item</a>
                        </li>
                        <li>
                            <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Third Level</a>
                            <ul class="sidenav-third-level collapse" id="collapseMulti2">
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
                    <a class="nav-link" href="#">
                        <i class="fa fa-fw fa-link"></i>
                        <span class="nav-link-text">
                            Link
                        </span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" href="#" id="messagesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-envelope"></i>
                        <span class="d-lg-none">
                            Messages
                            <span class="badge badge-pill badge-primary">12 New</span>
                        </span>
                        <span class="new-indicator text-primary d-none d-lg-block">
                            <i class="fa fa-fw fa-circle"></i>
                            <span class="number">12</span>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="messagesDropdown">
                        <h6 class="dropdown-header">New Messages:</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>David Miller</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end of the box so they don't overflow over to the sides!</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>Jane Smith</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00 instead of 4:00. Thanks!</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>John Doe</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">I've sent the final files over to you for review. When you're able to sign off of them let me know and we can discuss distribution.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item small" href="#">
                            View all messages
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" href="#" id="alertsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-bell"></i>
                        <span class="d-lg-none">
                            Alerts
                            <span class="badge badge-pill badge-warning">6 New</span>
                        </span>
                        <span class="new-indicator text-warning d-none d-lg-block">
                            <i class="fa fa-fw fa-circle"></i>
                            <span class="number">6</span>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">New Alerts:</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <span class="text-success">
                                <strong>
                                    <i class="fa fa-long-arrow-up"></i>
                                    Status Update
                                </strong>
                            </span>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <span class="text-danger">
                                <strong>
                                    <i class="fa fa-long-arrow-down"></i>
                                    Status Update
                                </strong>
                            </span>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <span class="text-success">
                                <strong>
                                    <i class="fa fa-long-arrow-up"></i>
                                    Status Update
                                </strong>
                            </span>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item small" href="#">
                            View all alerts
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </div>

    </nav>

    <div class="content-wrapper">
            @RenderBody()

            <footer class="sticky-footer">
                <div class="container">
                    <div class="text-center">
                        <small>copyright &copy; your website 2017</small>
                    </div>
                </div>
            </footer>
</div>
    <!-- /end.content-wrapper -->
    <!-- Scroll to Top Button -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    
    <!-- Logout Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Select "Logout" below if you are ready to end your current session.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <!----   <a class="btn btn-primary" href="login.html">Logout</a>  -->
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </div>
    </div>


    <!-- Custom scripts for this template -->
    <script src="~/js/sb-admin.js"></script>
    <style>
        /*body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }*/

        #calendar {
            max-width: 900px;
            padding: 1em;
            margin: 0 auto;
        }
    </style>
    @RenderSection("scripts", required: false)
</body>

</html>