@{
    ViewData["Title"] = "View Attendance Page";
}

<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item">
            <a href="~/Home/Student_Journal">Student Journal</a>
        </li>
        <li class="breadcrumb-item active">Attendance History</li>
    </ol>
    <div class="card" style="border-width:0px;">
        <div class="card-body">
            <div class="form-group">
                <div class="pull-left">
                    <label>Student Name:&nbsp</label><select class="form-control" id="selectstudent">
                        <option>Amelia Goh</option>
                        <option>Cho Qi Xiang</option>
                        <option>Tan Chia Wei</option>
                    </select>
                </div>
                <div class="col-xs-12 pull-right">
                    <label>View By:&nbsp</label>
                    <select class="form-control" id="exampleSelect1">
                        <option>Week 1</option>
                        <option>Week 2</option>
                        <option>Week 3</option>
                        <option>Week 4</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header d-inline">
            <i class="fa fa-calendar-check-o fa-2x pull-left"></i> <h3>Attendance Taking</h3>
</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time in</th>
                            <th>Time Out</th>
                            <th>Remarks</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    @*<tfoot>
                            <tr>
                                <th>Date</th>
                                <th>Time in</th>
                                <th>Time Out</th>
                                <th>Remarks</th>
                                <th>Edit</th>
                            </tr>
                        </tfoot>*@
                    <tbody>
                        <tr>
                            <td>2011/04/27</td>
                            <td>10:00</td>
                            <td>18:00</td>
                            <td>PH</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
    <div class="card mb-3">
        <div class="card-header d-inline">
            <i class="fa fa-calendar fa-2x pull-left"></i> <h3>Attendance Overall</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Public Holidays</th>
                            <th>MCs</th>
                            <th>Company Off-Day</th>
                            <th>Leave of Absence</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <form class="form-inline">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Total no. of days required:</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="requiredDays" type="text" value="80" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">No. of working days:</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="doneDays" type="text" value="-" readonly>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
    <!--end with attendance taking-->
    <div class="card-body">
        <div class="form-group">
            <div class="col-12">
                <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/Student_Journal'">
                    Back
                </button>
            </div>
        </div>
    </div>
    <br />
</div>
<!-- /.container-fluid -->
<!-- /.content-wrapper -->
<script>
    $(document).ready(function () {
        var table = $('#dataTable').DataTable({
            dom: "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-4'l><'col-sm-8'p>>",
            ajax: {
                url: '/Api/Task_Record',
                dataSrc: ''
            },
            columns: [
                { data: "DayRecordId" },
                { data: "Description" },
                { data: "Description" },
                { data: "Description" },
                {
                    data: null,
                    "bSortable": false,
                    "mRender": function (o) { return '<button class="btn btn-sm btn-primary">View</button>' } //note under condition if no comments was given the column would be blank
                }
            ],
            language: {
                emptyTable: "No Attendance was found, please create one.",
            }
        });
        $('#dataTable tbody').on('click', 'button.btn-primary', function (e) {
            $('#commentModal').modal('show');
        });
    });
</script>