@{
    ViewData["Title"] = "View Attendance Page";
}

<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item">
            <a href="~/Home/Student_Journal">Student Journal</a>
        </li>
        <li class="breadcrumb-item active">Attendance History</li>
    </ol>
    <div class="card" style="border-width:0px;">
        <div class="card-body">
            <div class="form-group">
                <div class="pull-left">
                    <label>Student Name:&nbsp</label><select class="form-control" id="selectstudent">
                        <option>Amelia Goh</option>
                        <option>Cho Qi Xiang</option>
                        <option>Tan Chia Wei</option>
                    </select>
                </div>
                <div class="col-xs-12 pull-right">
                    <label>View By:&nbsp</label>
                    <select class="form-control" id="selectMonthRecord">
                        <option>Week 1</option>
                        <option>Week 2</option>
                        <option>Week 3</option>
                        <option>Week 4</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header d-inline">
            <i class="fa fa-calendar-check-o fa-2x pull-left"></i> <h3>Attendance Taking</h3>
</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time in</th>
                            <th>Time Out</th>
                            <th>Remarks</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    @*<tfoot>
                            <tr>
                                <th>Date</th>
                                <th>Time in</th>
                                <th>Time Out</th>
                                <th>Remarks</th>
                                <th>Edit</th>
                            </tr>
                        </tfoot>*@
                    <tbody>
                        <tr>
                            <td>2011/04/27</td>
                            <td>10:00</td>
                            <td>18:00</td>
                            <td>PH</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
    <div class="card mb-3">
        <div class="card-header d-inline">
            <i class="fa fa-calendar fa-2x pull-left"></i> <h3>Attendance Overall</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Public Holidays</th>
                            <th>MCs</th>
                            <th>Company Off-Day</th>
                            <th>Leave of Absence</th>
                        </tr>
                    </thead>
                    <tbody id="attendanceHistoryTBody">
                        
                    </tbody>
                </table>
            </div>
            <div>
                <form class="form-inline">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Total no. of days required:</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="requiredDays" type="text" value="80" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">No. of working days:</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="workingDays" type="text" value="-" readonly>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
    <!--end with attendance taking-->
    <div class="card-body">
        <div class="form-group">
            <div class="col-12">
                <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/Student_Journal'">
                    Back
                </button>
            </div>
        </div>
    </div>
    <br />
</div>
<!-- /.container-fluid -->
<!-- /.content-wrapper -->
<script>
    var months;
    var selectedMonthData;
    loadStudents();
    var internshipId = getCookie("selectedInternship");
    loadMonths(internshipId);

    $('#selectstudent').change(function () {
        setCookie("selectedInternship", $(this).val());
        internshipId = getCookie("selectedInternship");
        console.dir("CHANGE STUDENT TO: " + internshipId);
        loadMonths(internshipId);
    });
    $('#selectMonthRecord').change(function () {
        selectedMonthData = monthRecords[$(this).val()];
        loadData(selectedMonthData);
    });

    var table = $('#dataTable').DataTable({
        dom: "<'row'<'col-sm-12'tr>>" +
        "<'row'<'col-sm-4'l><'col-sm-8'p>>",
        columns: [
            {
                data: "Date",
                mRender: function (o) { return moment(o).format("DD/MM/YYYY"); }
            },
            {
                data: "ArrivalTime",
                mRender: function (o) { return moment(o).format("hh:mm A"); }
            },
            {
                data: "DepartureTime",
                mRender: function (o) { return moment(o).format("hh:mm A"); }
            },
            { data: "Remarks" },
            {
                "bSortable": false,
                "mData": function (data, type, dataToSet) {
                    if (data.SupervisorRemarks != "") {
                        return data.TaskRecordId;
                    } else {
                        return null;
                    }
                },
                "mRender": function (o) {
                    if (o != null) {
                        return '<button class="btn btn-sm btn-primary" onClick="showComment(' + o + ')">View</button>'
                    } else {
                        return ''
                    }

                } //note under condition if no remarks was given the column would be blank
            }
        ],
        language: {
            emptyTable: "No Attendance was found.",
        }
    });

    function showComment(taskId) {
        selectedMonthData = monthRecords[$('#selectMonthRecord').val()];
        var dayobj
        for (i = 0; i < selectedMonthData.DayRecords.length; i++) {
            var adayobj = selectedMonthData.TaskRecords[i];
            if (adayobj.TaskRecordId == taskId) {
                dayobj = adayobj;
                break;
            }
        }
        console.dir(taskobj);
        $('#commentModalLabel').text(moment(taskobj.Date).format("DD/MM/YYYY"));
        $('#commentTask').val(taskobj.SupervisorRemarks);
        $('#commentModal').modal('show');
    }

    function loadMonths(internshipId) {
        $.ajax({
            url: '/Api/Month_Record/getMonthsAttendance/' + internshipId,
            method: 'GET',
            dataType: 'json',
            cache: false,
            success: function (data) {
                var workingDays = data.BusinessDay;
                var totalWorkingDays = 0; 
                var MC = 0;
                var off = 0;
                var leave = 0;
                var PH = 0;
                $('#selectMonthRecord').find('option').remove();
                for (i = 0; i < data.monthObjList.length; i++) {
                    totalWorkingDays = totalWorkingDays + data.monthObjList[i].DayRecords.length;
                    var selectMonthRecord;
                    var newOption = $('<option>').text('Week ' + (((i + 1) * 4) - 3) + ' to Week ' + (i + 1) * 4).val(i);
                   // var newOption = $('<option>').text('Month ' + (i + 1)).val(i);
                    $('#selectMonthRecord').append(newOption);

                    for (k = 0; k < data.monthObjList[i].DayRecords.length; k++) {
                        // console.dir(data[i].DayRecords[k].Remarks);
                        if (data.monthObjList[i].DayRecords[k].Remarks == "MC") {
                            MC++;

                        }
                        if (data.monthObjList[i].DayRecords[k].Remarks == "COMPANY OFF") {
                            off++;

                        }
                        if (data.monthObjList[i].DayRecords[k].Remarks == "LOA") {
                            leave++;

                        }
                        if (data.monthObjList[i].DayRecords[k].Remarks == "PH") {
                            leave++;
                            workingDays--;

                        }

                    }//End of k for loop
                }
                $dataTable2 = $('#attendanceHistoryTBody');
                $rowElement = $('<tr></tr>');
                $cellElement = $('<td></td>', { text: PH });
                $rowElement.append($cellElement);
                $cellElement = $('<td></td>', { text: MC });
                $rowElement.append($cellElement);
                $cellElement = $('<td></td>', { text: off });
                $rowElement.append($cellElement);
                $cellElement = $('<td></td>', { text: leave });
                $rowElement.append($cellElement);
                $dataTable2.append($rowElement);

                $('#requiredDays').val(workingDays);
                $('#workingDays').val(totalWorkingDays);

                console.dir(data.monthObjList);
                monthRecords = data.monthObjList;
                loadData(monthRecords[0]);
            },
            fail: function (data) {
                alert(data.Message);
            }
        });
    }

    function loadData(monthData) {
        console.dir(monthData);
        $('#dataTable').dataTable().fnClearTable();
        if (monthData.DayRecords.length > 0) {
            $('#dataTable').dataTable().fnAddData(monthData.DayRecords);
        }
    }

    function loadStudents() {
        $.ajax({
            url: '/Api/Internship_Record/Sup_GetStudentInternship_Record',
            method: 'GET',
            dataType: 'json',
            cache: false,
            success: function (data) {
                console.dir(data);
                $('#selectstudent').find('option').remove();
                for (i = 0; i < data.length; i++) {
                    var student = data[i];
                    var newOption = $('<option></option>').text(student.StudentName).val(student.InternshipRecordId);
                    $('#selectstudent').append(newOption);
                }
                $('#selectstudent').val("" + internshipId);
            },
            fail: function (data) {
                alert(data.Message);
            }
        });
    }

    function getCookie(name) {
        var dc = document.cookie;
        var prefix = name + "=";
        var begin = dc.indexOf("; " + prefix);
        if (begin == -1) {
            begin = dc.indexOf(prefix);
            if (begin != 0) return null;
        } else {
            begin += 2;
        }
        var end = document.cookie.indexOf(";", begin);
        if (end == -1) {
            end = dc.length;
        }
        return unescape(dc.substring(begin + prefix.length, end));
    }

    function setCookie(inName, inValue) {
        var exdate = new Date();
        var expiredays = 1;
        exdate.setHours(exdate.getHours() + 4);
        exdate.setDate(exdate.getDate());
        document.cookie = inName + "=" + inValue + ";path=/" + ((expiredays == null) ? "" : ";expires=" + exdate.toGMTString());
    };
</script>