@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Homepage</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header d-inline">
            <i class="fa fa-home fa-2x pull-left"></i> <h3>Homepage</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" cellspacing="0" id="studenttable">
                    <thead>
                        <tr>
                            <th>Student ID</th>
                            <th>Student Name</th>
                            <th>Student Info</th>
                            <th>Student Journal</th>
                            <th>Pending Review</th> 
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        <!-- /.container-fluid -->
    </div>
<!-- /.content-wrapper -->

<script>

    $.ajax({
        url: '/Api/Internship_Record/Sup_GetStudentInternship_Record',
        method: 'GET',
        dataType: 'json',
        cache: false,
        success: function (data) {

            for (i = 0; i < data.length; i++) { 
                var student = data[i];

                var newrow = $('<tr></tr>');
                var newcell = $('<td></td>').text(student.StudentId);
                newrow.append(newcell);
                newcell = $('<td></td>').text(student.StudentName);
                newrow.append(newcell);
                newcell = $('<td></td>');
                newcell.append($('<a onclick="redirectStudentInfo(' + student.InternshipRecordId + ')"><button class="btn btn-success btn-labeled role="button"> <span class="btn-label"><i class="fa fa-info-circle"></i></span>Info</button>'));
                newrow.append(newcell);
                newcell = $('<td></td>');
                newcell.append($('<a onclick="redirectStudentJournal(' + student.InternshipRecordId + ')"><button class="btn btn-primary btn-labeled role="button"> <span class="btn-label"><i class="fa fa-folder"></i></span>Student Journal</button>'));
                newrow.append(newcell);
                newcell = $('<td></td>');
                if (student.Review) {
                    newcell.append($('<a onclick="redirectReviewStudent(' + student.InternshipRecordId + ')"><button class="btn btn-primary btn-labeled role="button"> <span class="btn-label"><i class="fa fa-spinner"></i></span>Review</button>'));
                }
                newrow.append(newcell);
                $('#studenttable').append(newrow);
            }
            console.dir(data);
        },
        fail: function (data) {
            alert(data.Message);
        }
    });

    function redirectStudentInfo(internshipId) { 
        setCookie("selectedInternship", internshipId);
        location.href = 'http://' + window.location.host + '/home/student_info';
    }

    function redirectStudentJournal(internshipId) { 
        setCookie("selectedInternship", internshipId);
        location.href = 'http://' + window.location.host + '/home/student_journal';
    }

    function redirectReviewStudent(internshipId) {
        setCookie("selectedInternship", internshipId);
        location.href = 'http://' + window.location.host + '/home/review';
    }

    function setCookie(inName, inValue) {
        var exdate = new Date();
        var expiredays = 1;
        exdate.setHours(exdate.getHours() + 4);
        exdate.setDate(exdate.getDate());
        document.cookie = inName + "=" + inValue + ";path=/" + ((expiredays == null) ? "" : ";expires=" + exdate.toGMTString());
    };
</script>
