@{
    ViewData["Title"] = "View Reflection Page";
}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item">
            <a href="~/Home/Student_Journal">Student Journal</a>
        </li>
        <li class="breadcrumb-item active">Reflection History</li>
    </ol>
    <div class="card" style="border-width:0px;">
        <div class="card-body">
            <div class="form-group">
                <div class="pull-left">
                    <label>Student Name:&nbsp</label><select class="form-control" id="selectstudent">
                    </select>
                </div>
                <div class="col-xs-12 pull-right">
                    <label>View By:&nbsp</label>
                    <select class="form-control" id="selectMonthRecord">
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="container text-left">
            <br />
            <div>
                <h5>Soft Skills</h5>
            </div>
            <hr />
            <div class="col-md-10 col-sm-10 col-xs-12">
                <p>In terms of workplace knowledge, communication and interpersonal skills, reflect on:</p>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="form-group">
                    <label class="control-label col-sm-8 requiredField" for="softskilldonewell">(a) Areas you have done well.</label>
                    <textarea class="form-control" rows="5" id="softskilldonewell" readonly></textarea>
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="form-group">
                    <label class="control-label col-sm-8 requiredField" for="softskillimprove">(b) Areas you would like to improve.</label>
                    <textarea class="form-control" rows="5" id="softskillimprove" readonly></textarea>
                </div>
            </div>
            <br />
            <div>
                <h5>Technical Skills</h5>
            </div>
            <hr>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <p>Reflect on:</p>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="form-group">
                    <label class="control-label col-sm-8 requiredField" for="hardskillapply">(a) How you have applied what you have learnt in school and workplace</label>
                    <textarea class="form-control" rows="5" id="hardskillapply" readonly></textarea>
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="form-group">
                    <label class="control-label col-sm-8 requiredField" for="hardskilldonewell">(b) Areas you have done well.</label>
                    <textarea class="form-control" rows="5" id="hardskilldonewell" readonly></textarea>
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="form-group ">
                    <label class="control-label col-sm-8 requiredField" for="hardskillimprove">(c) Areas you would like to improve.</label>
                    <textarea class="form-control" rows="5" id="hardskillimprove" readonly></textarea>
                </div>
            </div>
            @*<br />
            <div>
                <h5>Feedback</h5>
            </div>
            <hr>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="form-group ">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="feedback">Reflection Feedback:</label>
                        <textarea class="form-control" rows="5" id="feedback" readonly></textarea>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
        <div class="card-body">
             <div class="form-group">
                    <div class="col-12">
                        <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/Student_Journal'">
                            Back
                        </button>
                    </div>
                </div>
        </div>
    <br />
</div>

<script>
    var months;
    var selectedMonthData;
    loadStudents();
    var internshipId = getCookie("selectedInternship");
    $('#selectstudent').val(internshipId);
    loadMonths(internshipId);

    $('#selectstudent').change(function () {
        setCookie("selectedInternship", $(this).val());
        loadMonths(getCookie("selectedInternship"));
    });

    $('#selectMonthRecord').change(function () {
        selectedMonthData = monthRecords[$(this).val()];
        loadData(selectedMonthData);
    });

    function loadMonths(internshipId) {
        $.ajax({
            url: '/Api/Month_Record/InternshipMonthRecords/' + internshipId,
            method: 'GET',
            dataType: 'json',
            cache: false,
            success: function (data) {
                for (i = 0; i < data.length; i++) {
                    $('#selectMonthRecord').innerHTML = "";
                    var selectMonthRecord
                    var newOption = $('<option>').text('Month ' + (i + 1)).val(i);
                    $('#selectMonthRecord').append(newOption);
                }
                console.dir(data);
                monthRecords = data;
                loadData(monthRecords[0]);
            },
            fail: function (data) {
                alert(data.Message);
            }
        });
    }

    function loadData(selectedMonth) {
        $('#softskilldonewell').val(selectedMonth.SoftSkillsCompetencyDoneWell);
        $('#softskillimprove').val(selectedMonth.SoftSkillsCompetencyImprove);
        $('#hardskillapply').val(selectedMonth.TechnicalCompetencyApplied);
        $('#hardskilldonewell').val(selectedMonth.TechnicalCompetencyDoneWell);
        $('#hardskillimprove').val(selectedMonth.TechnicalCompetencyImprove);
    }

    function loadStudents() {
        $.ajax({
            url: '/Api/Internship_Record/Sup_GetStudentInternship_Record',
            method: 'GET',
            dataType: 'json',
            cache: false,
            success: function (data) {
                console.dir(data);
                for (i = 0; i < data.length; i++) {
                    var student = data[i];
                    $('#selectstudent').innerHTML = "";
                    var newOption = $('<option></option>').text(student.StudentName).val(student.InternshipRecordId);
                    $('#selectstudent').append(newOption);
                }
            },
            fail: function (data) {
                alert(data.Message);
            }
        });
    }

    function getCookie(name) {
        var dc = document.cookie;
        var prefix = name + "=";
        var begin = dc.indexOf("; " + prefix);
        if (begin == -1) {
            begin = dc.indexOf(prefix);
            if (begin != 0) return null;
        } else {
            begin += 2;
        }
        var end = document.cookie.indexOf(";", begin);
        if (end == -1) {
            end = dc.length;
        }
        return unescape(dc.substring(begin + prefix.length, end));
    }

    function setCookie(inName, inValue) {
        var exdate = new Date();
        var expiredays = 1;
        exdate.setHours(exdate.getHours() + 4);
        exdate.setDate(exdate.getDate());
        document.cookie = inName + "=" + inValue + ";path=/" + ((expiredays == null) ? "" : ";expires=" + exdate.toGMTString());
    };
</script>