@{
    ViewData["Title"] = "Review Page";
}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item active">Review</li>
    </ol>
    <div class="card" style="border-width:0px;">
        <div class="card-body">
            <div class="col-xs-12 pull-right">
                <label>View By:&nbsp</label>
                <select class="form-control" id="selectMonthRecord"></select>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#attendance" role="tab" data-toggle="tab" style="color:#008B8B;">Attendance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#reflection" role="tab" data-toggle="tab" style="color:#008B8B;">Reflection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#task" role="tab" data-toggle="tab" style="color:#008B8B;">Daily Task</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#competency" role="tab" data-toggle="tab" style="color:#008B8B;">Competency Checklist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#mentoring" role="tab" data-toggle="tab" style="color:#008B8B;">Mentoring</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#grading" role="tab" data-toggle="tab" style="color:#008B8B;">Grading</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="attendance">
                <div class="container text-left">
                    <br />
                    <div>
                        <h5>Attendance</h5>
                    </div>
                    <hr />
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable_attendance" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Time in</th>
                                        <th>Time Out</th>
                                        <th>Remarks</th>
                                        <th width="5%">Comments</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2011/04/27</td>
                                        <td>10:00</td>
                                        <td>18:00</td>
                                        <td>PH</td>
                                        <td><input id="comments"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <div>
                        <h5>Attendance Overall</h5>
                    </div>
                    <hr />
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTableAttendanceOverall" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Public Holidays</th>
                                        <th>MCs</th>
                                        <th>Company Off-Day</th>
                                        <th>Leave of Absence</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <form class="form-inline">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Total no. of days required:</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="requiredDays" type="text" value="80" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">No. of working days:</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="doneDays" type="text" value="-" readonly>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="reflection">
                <div class="container text-left">
                    <br />
                    <div>
                        <h5>Soft Skill Competency</h5>
                    </div>
                    <hr />
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <p>In terms of workplace knowledge, communication and interpersonal skills, reflect on:</p>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <div class="form-group">
                            <label class="control-label col-sm-8 requiredField" for="softskilldonewell">(a) Areas you have done well.</label>
                            <textarea class="form-control" rows="5" id="softskilldonewell" readonly></textarea>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <div class="form-group">
                            <label class="control-label col-sm-8 requiredField" for="softskillimprove">(b) Areas you would like to improve.</label>
                            <textarea class="form-control" rows="5" id="softskillimprove" readonly></textarea>
                        </div>
                    </div>
                    <br />
                    <div>
                        <h5>Technical Competency</h5>
                    </div>
                    <hr>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <p>Reflect on:</p>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <div class="form-group">
                            <label class="control-label col-sm-8 requiredField" for="hardskillapply">(a) How you have applied what you have learnt in school and workplace</label>
                            <textarea class="form-control" rows="5" id="hardskillapply" readonly></textarea>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <div class="form-group">
                            <label class="control-label col-sm-8 requiredField" for="hardskilldonewell">(b) Areas you have done well.</label>
                            <textarea class="form-control" rows="5" id="hardskilldonewell" readonly></textarea>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <div class="form-group ">
                            <label class="control-label col-sm-8 requiredField" for="hardskillimprove">(c) Areas you would like to improve.</label>
                            <textarea class="form-control" rows="5" id="hardskillimprove" readonly></textarea>
                        </div>
                    </div>
                    <br />
                    <div>
                        <h5>Feedback</h5>
                    </div>
                    <hr>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <div class="form-group">
                            <label class="control-label col-sm-3 requiredField" for="reflectionfeedback">Overall Comments:</label>
                            <textarea class="form-control" rows="5" id="reflectionfeedback"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="task">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable_task" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th width="10%">Date</th>
                                    <th>Task Recorded</th>
                                    <th width="5%">Remarks</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="competency">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tblCompetencies" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Competency</th>
                                    <th>Tick if performed</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="mentoring" class="tab-pane fade">
                <div class="container">
                    <br />
                    <div class="text-left">
                        <h5>Mentoring Detail</h5>
                    </div>
                    <hr />
                    <div class="col-12">
                        <div class="col-6 pull-left">
                            <div class="form-group">
                                <label class="control-label" for="date">
                                    Session Date
                                </label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar">
                                        </i>
                                    </div>
                                    <input class="form-control" id="datelocked" name="datelocked" placeholder="DD/MM/YYYY" type="text" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="timein">
                                    Time started
                                </label>
                                <div class='input-group date' id='timein'>
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input type='text' class="form-control" id="MentorSessionDateTimeStart" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-6 pull-right">
                            <div class="form-group">
                                <label class="control-label" for="timeout">
                                    Time ended
                                </label>
                                <div class='input-group date' id='timeout'>
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input type='text' class="form-control" id="MentorSessionDateTimeEnd" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label" for="comment">Please note down what you have learnt from the mentoring session. The areas of learning may include, but not limited to, an overview of the company structure, nature of business and work requirements; jobs prospects and career paths within the industry; or work experience of your mentor in the industry</label>
                            <textarea class="form-control" rows="5" id="MentorSessionReflection" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div id="grading" class="tab-pane fade">
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:black;">
                                        Rating Scale & Descriptions
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <ul class="card-block">
                                    <li>Exceeds expectations in the area assessed </li>
                                    <li>Very good in the area assessed</li>
                                    <li>Good in the area assessed</li>
                                    <li>Generally effective in the area assessed</li>
                                    <li>Does not meet expectations in the area accessed</li>
                                </ul>
                            </div>
                        </div>
                        <table class="table table-bordered" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Assessment Criteria</th>
                                    <th>Rating</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingTwo">
                                                <h6 class="mb-0">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color:black;">
                                                        1. Workplace knowlegde, communication and interpersonal skills encompass the following areas
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                <ul class="card-block">
                                                    <li>Plans and organises assigned work.</li>
                                                    <li>Communicates effectively in verbal and/or written communcation.</li>
                                                    <li>Maintains good attendance punctuality.</li>
                                                    <li>Demonstrates commitment, motivation and reliability towards work assignment.</li>
                                                    <li>Able to work effectively with others towards the accomplishment of common goals.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <select class="form-control" id="CommunicationGrading">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingThree">
                                                <h6 class="mb-0">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color:black;">
                                                        2. Technical Knowledge & Skills encompass the following areas
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                                <ul class="card-block">
                                                    <li>Able to apply relevant skills effectively and proficiently.</li>
                                                    <li>Able to produce quality work in accordance with schedules and timelines.</li>
                                                    <li>Is resourceful and can act and respond independently or with minimal guidance.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <select class="form-control" id="TechnicalGrading">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingFour">
                                                <h6 class="mb-0">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree" style="color:black;">
                                                        3. Independent learning skills encompass the following areas
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                                                <ul class="card-block">
                                                    <li>Able to acquire new skills and apply knowledge learnt.</li>
                                                    <li>Is resorceful and able to resolve problem when challenges are encountered</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <select class="form-control" id="IndependenceGrading">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingFive">
                                                <h6 class="mb-0">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree" style="color:black;">
                                                        4. Overall Performance
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                                                <ul class="card-block">
                                                    <li>I am satisfied with the overall performance and contributions of this stdent</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <select class="form-control" id="PerformanceGrading">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingFive">
                                <h6 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseThree" style="color:black;">
                                        Average rating to overall grade
                                    </a>
                                </h6>
                            </div>
                            <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                                <ul class="card-block">
                                    <li>Higher or equal to 4.5 -- Distinction</li>
                                    <li>Higher or equal to 4.0 -- A (Excellent)</li>
                                    <li>Higher or equal to 3.5 -- B+ (Very good)</li>
                                    <li>Higher or equal to 3.0 -- B (Good)</li>
                                    <li>Higher or equal to 2.5 -- C+ (Good Credit)</li>
                                    <li>Higher or equal to 2.0 -- C (Credit)</li>
                                    <li>Higher or equal to 1.5 -- D (Pass)</li>
                                    <li>Less than 1.5 -- F (Fail)</li>
                                </ul>
                            </div>
                        </div>
                        <form class="form-group">
                            <div class="form-group">
                                <label class="col-md-8 control-label">Average rating based on the above four assessment criteria:</label>
                                <div class="col-sm-5">
                                    <input class="form-control" id="OverallGrading" type="text" value="" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Overall Grade:</label>
                                <div class="col-sm-5">
                                    <input class="form-control" id="OverallGrade" type="text" value="" disabled>
                                </div>
                            </div>
                        </form>

                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-sm-3 requiredField" for="overallComment">Overall Comments:</label>
                                <textarea class="form-control" rows="5" id="overallComment"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="form-group">
        <div class="col-12">
            <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/Index'">
                Back
            </button>
            <div class="pull-right">
                <button class="btn btn-primary pull-right" name="submit" id="btnApprove">
                    Approve Records
                </button>
            </div>
        </div>
    </div>
</div>
&nbsp;
<!--Day comment Modal -->
<div class="modal fade" id="dayModal" tabindex="-1" role="dialog" aria-labelledby="dayModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dayModalLabel">Add/Edit Comment for day</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <p id="dayModalDescription"></p>
                    <form>
                        <div class="form-group ">
                            <label>Comment:</label>
                            <textarea class="form-control" rows="5" id="commentDay"></textarea>
                        </div>
                    </form>
                    <button class="btn btn-default" data-dismiss="modal" id="btnCancel1">Cancel</button>
                    <button class="btn btn-primary pull-right" id="btnSaveDayComment">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- comment for task Modal -->
<div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskModalLabel">Add/Edit Comment for task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <p id="taskModalDescription"></p>
                    <form>
                        <div class="form-group ">
                            <label>Comment:</label>
                            <textarea class="form-control" rows="5" id="commentTask"></textarea>
                        </div>
                    </form>
                    <button class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                    <button class="btn btn-primary pull-right" id="btnSaveTaskComment">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var months;
    var internshipId = getCookie("selectedInternship");
    $('#selectstudent').val(internshipId);

    //Initialize the datatables
    var attendancetable = $('#dataTable_attendance').DataTable({
        dom: "<'row'<'col-sm-12'tr>>" +
        "<'row'<'col-sm-4'l><'col-sm-8'p>>",
        columns: [
            {
                data: "Date",
                mRender: function (o) { return moment(o).format("DD/MM/YYYY"); }
            },
            {
                data: "ArrivalTime",
                mRender: function (o) { return moment(o).format("hh:mm A"); }
            },
            {
                data: "DepartureTime",
                mRender: function (o) { return moment(o).format("hh:mm A"); }
            },
            { data: "Remarks" },
            {
                data: "DayId",
                "mRender": function (o) {
                    return '<button class="btn btn-sm btn-success onClick="showDayComment(' + o + ')"><i class="fa fa-pencil-square-o" aria-hidden="true" ></i> Edit Comment</button>'

                }
            }
        ],
        language: {
            emptyTable: "No Attendance was found.",
        }
    });

    var tasktable = $('#dataTable_task').DataTable({
        dom: "<'row'<'col-sm-12'tr>>" +
        "<'row'<'col-sm-4'l><'col-sm-8'p>>",
        columns: [
            {
                data: "Date",
                mRender: function (o) { return moment(o).format("DD/MM/YYYY"); }
            },
            { data: "Description" },
            {
                data: "TaskRecordId",
                "mRender": function (o) {
                    return '<button class="btn btn-sm btn-primary" onClick="showTaskComment(' + o + ')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Comment</button>'

                } //note under condition if no remarks was given the column would be blank
            }
        ],
        language: {
            emptyTable: "No Task was found.",
        }
    });

    //Load the competencies
    $.ajax({
        url: '/api/competencies/getInternshipCompetncies/' + internshipId,
        method: 'GET',
        dataType: 'json',
        success: function (competencies) {
            for (i = 0; i < competencies.length; i++) {
                var competency = competencies[i];
                var newRow = $('<tr></tr>');
                var newCell = $('<td>');
                newCell.html(competency.Description);
                newRow.append(newCell);
                var newCell = $('<td>');
                var newCheckboxItem = $('<input name="CompetencyCheck" type="checkbox" value="' + competency.CompetencyId + '" disabled>');
                newCell.append(newCheckboxItem);
                newRow.append(newCell);
                $('#tblCompetencies').append(newRow);
            }
        }
    });

    //Get the data
    $.ajax({
        url: '/api/Month_Record/DataForReview/' + internshipId,
        method: 'GET',
        dataType: 'json',
        success: function (data) {
            months = data;
            for (i = 0; i < data.length; i++) {
                $('#selectMonthRecord').innerHTML = "";
                var newOption = $('<option>').text('Month ' + months[i].MonthNumber).val(i);
                $('#selectMonthRecord').append(newOption);
            }
            console.dir(data);
            loadData(months[0]);
        }
    });

    $('#btnApprove').click(function () {
        var a = parseFloat($('#CommunicationGrading').val());
        var b = parseFloat($('#TechnicalGrading').val());
        var c = parseFloat($('#IndependenceGrading').val());
        var d = parseFloat($('#PerformanceGrading').val());
        var feedback = $('#overallComment').val();


        var average = (a + b + c + d) / 4;
        var grade = getGrade(average);

        var gradingFormData = new GradingFormData(a, b, c, d, feedback);

        var selectedMonth = months[$('#selectMonthRecord').val()];

        console.dir(gradingFormData);

        swal({
            title: 'Confirm grading?',
            html: "You are about to approve this student's month records and give him/her a grade of <strong>"+average+"("+grade+")</strong><br/>THIS CANNOT BE UNDONE.",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#007bff',
            confirmButtonText: 'Approve'
        }).then(function () {
            $.ajax({
                url: '/Api/Month_Record/gradeMonth/' + selectedMonth.MonthId,
                method: 'PUT',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                cache: false,
                data: "'" + JSON.stringify(gradingFormData) + "'",
                success: function (data) {
                    swal({
                        type: 'success',
                        title: 'Graded!',
                        text: 'The grade has been applied to the student!'
                    }).then(function () {
                        object.closest('tr').remove();
                        window.location.href = "/";
                    });
                },
                fail: function (data) {
                    swal({
                        type: 'error',
                        title: 'Oops!',
                        text: data.Message
                    });
                }
            });
        })
    });

    $('#btnSaveTaskComment').click(function () {
        var webFormData = new WebFormData($('#commentTask').val());

        $.ajax({
            url: '/api/Task_Record/updateComment/' + $(this).val(),
            method: 'PUT',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            cache: false,
            data: "'" + JSON.stringify(webFormData) + "'",
            success: function (data) {
                swal({
                    type: 'success',
                    title: 'Saved!',
                    text: data.Message
                }).then(
                    function () {
                        window.location.reload();
                    });
            },
            error: function (data) {
                swal({
                    type: 'error',
                    title: 'Error',
                    text: data.Message
                });
            }
        });
    });

    $('#btnSaveDayComment').click(function () {
        var webFormData = new WebFormData($('#commentDay').val());

        $.ajax({
            url: '/api/Day_Record/updateComment/' + $(this).val(),
            method: 'PUT',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            cache: false,
            data: "'" + JSON.stringify(webFormData) + "'",
            success: function (data) {
                swal({
                    type: 'success',
                    title: 'Saved!',
                    text: data.Message
                }).then(
                    function () {
                        window.location.reload();
                    });
            },
            error: function (data) {
                swal({
                    type: 'error',
                    title: 'Error',
                    text: data.Message
                });
            }
        });
    });

    function loadData(monthData) {
        //Attendance
        $('#dataTable_attendance').dataTable().fnClearTable();
        if (monthData.DayRecords.length > 0) {
            $('#dataTable_attendance').dataTable().fnAddData(monthData.DayRecords);
        }
        //Daily Task
        $('#dataTable_task').dataTable().fnClearTable();
        if (monthData.TaskRecords.length > 0) {
            $('#dataTable_task').dataTable().fnAddData(monthData.TaskRecords);
        }
        //Reflection
        $('#softskilldonewell').val(monthData.SoftSkillsCompetencyDoneWell);
        $('#softskillimprove').val(monthData.SoftSkillsCompetencyImprove);
        $('#hardskillapply').val(monthData.TechnicalCompetencyApplied);
        $('#hardskilldonewell').val(monthData.TechnicalCompetencyDoneWell);
        $('#hardskillimprove').val(monthData.TechnicalCompetencyImprove);

        //CompetencyChecklist
        $("input[name='CompetencyCheck']").each(function () {
            if (monthData.CompetencyCheckeds.length > 0) {
                for (i = 0; i < monthData.CompetencyCheckeds.length; i++) {
                    var ccid = monthData.CompetencyCheckeds[i].CompetencyId;
                    if ($(this).val() == ccid) {
                        $(this).prop('checked', true);
                    } else {
                        $(this).prop('checked', false);
                    }
                }
            } else {
                $(this).prop('checked', false);
            }
        });

        //Mentoring
        $('#datelocked').val(moment(new Date(monthData.MentorSessionDateTimeStart)).format('DD/MM/YYYY'));
        $('#MentorSessionDateTimeStart').val(moment(new Date(monthData.MentorSessionDateTimeStart)).format('hh:mm A'));
        $('#MentorSessionDateTimeEnd').val(moment(new Date(monthData.MentorSessionDateTimeEnd)).format('hh:mm A'));
        $('#MentorSessionReflection').val(monthData.MentorSessionReflection);

        //Grading
        calculateGrade();
    }

    $('#selectMonthRecord').change(function () {
        selectedMonthData = months[$(this).val()];
        loadData(selectedMonthData);
    });

    $('#CommunicationGrading').change(function () { calculateGrade(); });
    $('#TechnicalGrading').change(function () { calculateGrade(); });
    $('#IndependenceGrading').change(function () { calculateGrade(); });
    $('#PerformanceGrading').change(function () { calculateGrade(); });

    function showTaskComment(taskId) {
        selectedMonthData = months[$('#selectMonthRecord').val()];
        var taskobj
        for (i = 0; i < selectedMonthData.TaskRecords.length; i++) {
            var ataskobj = selectedMonthData.TaskRecords[i];
            if (ataskobj.TaskRecordId == taskId) {
                taskobj = ataskobj;
                break;
            }
        }
        console.dir(taskobj);
        $('#taskModalDescription').text(moment(taskobj.Date).format("DD/MM/YYYY") + ' - ' + taskobj.Description);
        $('#commentTask').val(taskobj.Remarks);
        $('#btnSaveTaskComment').val(taskId);
        $('#taskModal').modal('show');
    }

    function showDayComment(dayId) {
        selectedMonthData = months[$('#selectMonthRecord').val()];
        var dayobj
        for (i = 0; i < selectedMonthData.DayRecords.length; i++) {
            var aDayObj = selectedMonthData.DayRecords[i];
            if (aDayObj.DayId == dayId) {
                dayobj = aDayObj;
                break;
            }
        }
        console.dir(dayobj);
        $('#dayModalDescription').text(moment(dayobj.Date).format("DD/MM/YYYY") + ' - Present: ' + dayobj.IsPresent);
        $('#commentDay').val(dayobj.SupervisorRemarks);
        $('#btnSaveDayComment').val(dayId);
        $('#dayModal').modal('show');
    }

    function WebFormData(comment) {
        this.Comment = comment;
    }

    function GradingFormData(CommunicationGrading, TechnicalGrading, IndependenceGrading, PerformanceGrading, OverallFeedback) { 
        this.CommunicationGrading = CommunicationGrading;
        this.TechnicalGrading = TechnicalGrading;
        this.IndependenceGrading = IndependenceGrading;
        this.PerformanceGrading = PerformanceGrading;
        this.OverallFeedback = OverallFeedback;
    }

    function calculateGrade() {
        var a = parseFloat($('#CommunicationGrading').val());
        var b = parseFloat($('#TechnicalGrading').val());
        var c = parseFloat($('#IndependenceGrading').val());
        var d = parseFloat($('#PerformanceGrading').val());

        var average = (a + b + c + d) / 4;
        $('#OverallGrading').val(average);
        $('#OverallGrade').val(getGrade(average));

    }

    function getGrade(average) {
        console.dir(average);
        if (average >= 4.5)
            return 'DIST';
        else if (average >= 4.0)
            return 'A';
        else if (average >= 3.5)
            return 'B+';
        else if (average >= 3.0)
            return 'B';
        else if (average >= 2.5)
            return 'C+';
        else if (average >= 2.0)
            return 'C';
        else if (average >= 1.5)
            return 'D';
        else if (average < 1.5)
            return 'F';
    }

    function getCookie(name) {
        var dc = document.cookie;
        var prefix = name + "=";
        var begin = dc.indexOf("; " + prefix);
        if (begin == -1) {
            begin = dc.indexOf(prefix);
            if (begin != 0) return null;
        } else {
            begin += 2;
        }
        var end = document.cookie.indexOf(";", begin);
        if (end == -1) {
            end = dc.length;
        }
        return unescape(dc.substring(begin + prefix.length, end));
    }

    function setCookie(inName, inValue) {
        var exdate = new Date();
        var expiredays = 1;
        exdate.setHours(exdate.getHours() + 4);
        exdate.setDate(exdate.getDate());
        document.cookie = inName + "=" + inValue + ";path=/" + ((expiredays == null) ? "" : ";expires=" + exdate.toGMTString());
    };
</script>
