@{
    ViewData["Title"] = "Student Info Page";
}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item active">Student Info</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header d-inline">
            <i class="fa fa-user fa-2x pull-left"></i> <h3>Student's Particular</h3>
        </div>
        <div class="container">
            <form>
                <br />
                <div class="form-inline">
                    <label class="col-md-2">Student Name:</label>
                    <input type="text" class="form-control col-sm-5" id="name" placeholder="Student Name" name="name" readonly>
                </div>
                <div class="form-inline">
                    <label class="col-md-2 control-label">Course:</label>
                    <input type="text" class="form-control col-sm-5" id="course" placeholder="Course" name="course" readonly>
                </div>
                <div class="form-inline">
                    <label class="col-sm-2 control-label">School:</label>
                    <input type="text" class="form-control col-sm-5" id="school" placeholder="School" name="school" readonly>
                </div>
                <div class="form-inline">
                    <label class="col-sm-2 control-label">Mobile no:</label>
                    <input type="text" class="form-control col-sm-5" id="mobile" placeholder="Mobile Number" name="mobile" readonly>
                </div>
                <div class="form-inline">
                    <label class="col-sm-2 control-label">Email Address:</label>
                    <input type="email" class="form-control col-sm-5" id="email" placeholder="Email Address" name="email" readonly>
                </div>
                <br />
            </form>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header d-inline">
            <i class="fa fa-user-secret fa-2x pull-left"></i> <h3>Liaison Officer's Particulars</h3>
        </div>
        <div class="container">
            <form class="form-group">
                <br />
                <div class="form-inline">
                    <label class="col-sm-2 control-label">Liaison Officer:</label>
                    <input type="text" class="form-control col-sm-5" id="LOName" placeholder="Liaison Officer" name="loname" readonly>
                </div>
                <div class="form-inline">
                    <label class="col-sm-2 control-label">Mobile No:</label>
                    <input type="text" class="form-control col-sm-5" id="LOMobile" placeholder="Mobile Number" name="lonumber" readonly>
                </div>

                <div class="form-inline">
                    <label class="col-sm-2 control-label">Email Address:</label>
                    <input type="text" class="form-control col-sm-5" id="LOEmail" placeholder="Email Address" name="loemailaddress" readonly>
                </div>
            </form>
        </div>
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="col-12">
                <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/Index'">
                    Back
                </button>
            </div>
        </div>
    </div>
</div>
<br />

<script>
    var internshipId = getCookie("selectedInternship");

    if (internshipId != null) {
        $.ajax({
            url: '/Api/Internship_record/StudentInfo/' + internshipId,
            method: 'GET',
            dataType: 'json',
            cache: false,
            success: function (data) {
                console.dir(data);
                $('#name').val(data.StudentName);
                $('#course').val(data.StudentCourse);
                $('#school').val(data.StudentSchool);
                $('#mobile').val(data.StudentMobileNo);
                $('#email').val(data.StudentEmail);
                $('#LOName').val(data.LOName);
                $('#LOMobile').val(data.LOMobileNo);
                $('#LOEmail').val(data.LOEmail);
            },
            fail: function (data) {
                alert(data.Message);
            }
        });
    } else { 
        location.href = window.location.host;
    }
    


    function getCookie(name) {
        var dc = document.cookie;
        var prefix = name + "=";
        var begin = dc.indexOf("; " + prefix);
        if (begin == -1) {
            begin = dc.indexOf(prefix);
            if (begin != 0) return null;
        } else {
            begin += 2;
        }
        var end = document.cookie.indexOf(";", begin);
        if (end == -1) {
            end = dc.length;
        }
        return unescape(dc.substring(begin + prefix.length, end));
    }
</script>