@{
    ViewData["Title"] = "Student Journal Page";
}

    <div class="container-fluid">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index">Homepage</a>
            </li>
            <li class="breadcrumb-item active">Student Journal</li>
        </ol>
        <div class="card" style="border-width:0px;">
            <div class="card-body">
                <div class="form-group">
                    <div class="pull-left form-inline">
                        <label>Student Name:&nbsp</label><select class="form-control" id="selectstudent">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <h2 class="section-heading text-center text-primary">TO DO</h2>
        <hr class="theme" />
        <section id="toDo">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box mt-5 mx-auto" onclick="location.href='http://' + window.location.host +'/Home/company_checklist'">
                            <i class="fa fa-4x fa-building text-primary mb-3 sr-icons"></i>
                            <h3 class="mb-3" style="text-decoration:underline;">Company</h3>
                            <p class="text-muted mb-0">Check on this checklist to ensure student(s) are progressing well.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
        </section>
        <h2 class="section-heading text-center text-primary">FOR VIEWING</h2>
        <hr class="theme" />
        <section id="forViewing">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box mt-5 mx-auto" onclick="location.href='http://' + window.location.host +'/Home/Task_History'">
                            <i class="fa fa-4x fa-calendar text-primary mb-3 sr-icons"></i>
                            <h3 class="mb-3" style="text-decoration:underline;">Daily Tasks</h3>
                            <p class="text-muted mb-0">View student's daily tasks.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box mt-5 mx-auto" onclick="location.href='http://' + window.location.host +'/Home/attendance_history'">
                            <i class="fa fa-4x fa-clock-o text-primary mb-3 sr-icons"></i>
                            <h3 class="mb-3" style="text-decoration:underline;">Attendance</h3>
                            <p class="text-muted mb-0">View student's daily attendance.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box mt-5 mx-auto" onclick="location.href='http://' + window.location.host +'/Home/competency_history'">
                            <i class="fa fa-4x fa-check-square text-primary mb-3 sr-icons"></i>
                            <h3 class="mb-3" style="text-decoration:underline;">Checklist</h3>
                            <p class="text-muted mb-0">View student's monthly competency checklist.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box mt-5 mx-auto" onclick="location.href='http://' + window.location.host +'/Home/reflection_history'">
                            <i class="fa fa-4x fa-pencil-square text-primary mb-3 sr-icons"></i>
                            <h3 class="mb-3" style="text-decoration:underline;">Reflection</h3>
                            <p class="text-muted mb-0">View student's monthly reflection</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box mt-5 mx-auto" onclick="location.href='http://' + window.location.host +'/Home/mentoring_history'">
                            <i class="fa fa-4x fa-eye text-primary mb-3 sr-icons"></i>
                            <h3 class="mb-3" style="text-decoration:underline;">Mentoring</h3>
                            <p class="text-muted mb-0">View student's records of mentoring session.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box mt-5 mx-auto" onclick="location.href='http://' + window.location.host +'/Home/grading'">
                            <i class="fa fa-4x fa-graduation-cap text-primary mb-3 sr-icons"></i>
                            <h3 class="mb-3" style="text-decoration:underline;">Grading</h3>
                            <p class="text-muted mb-0">View student's grades.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr />
        <div class="card-body">
            <div class="form-group">
                <div class="col-12">
                    <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/Index'">
                        Back
                    </button>
                </div>
            </div>
        </div>

        <br>
    </div>
    <!-- /.container-fluid -->
<!-- /.content-wrapper -->
<script>
    loadStudents();
    var internshipId = getCookie("selectedInternship");
    $('#selectstudent').val(internshipId);

    $('#selectstudent').change(function () {
        setCookie("selectedInternship", $(this).val());
    });

    function loadStudents() {
        $.ajax({
            url: '/Api/Internship_Record/Sup_GetStudentInternship_Record',
            method: 'GET',
            dataType: 'json',
            cache: false,
            success: function (data) {
                console.dir(data);
                $('#selectstudent').find('option').remove();
                for (i = 0; i < data.length; i++) {
                    var student = data[i];
                    var newOption = $('<option></option>').text(student.StudentName).val(student.InternshipRecordId);
                    $('#selectstudent').append(newOption);
                }
                $('#selectstudent').val("" + internshipId);
            },
            fail: function (data) {
                alert(data.Message);
            }
        });
    }

    function getCookie(name) {
        var dc = document.cookie;
        var prefix = name + "=";
        var begin = dc.indexOf("; " + prefix);
        if (begin == -1) {
            begin = dc.indexOf(prefix);
            if (begin != 0) return null;
        } else {
            begin += 2;
        }
        var end = document.cookie.indexOf(";", begin);
        if (end == -1) {
            end = dc.length;
        }
        return unescape(dc.substring(begin + prefix.length, end));
    }

    function setCookie(inName, inValue) {
        var exdate = new Date();
        var expiredays = 1;
        exdate.setHours(exdate.getHours() + 4);
        exdate.setDate(exdate.getDate());
        document.cookie = inName + "=" + inValue + ";path=/" + ((expiredays == null) ? "" : ";expires=" + exdate.toGMTString());
    };

</script>