<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Batch</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Batch
        </div>
        <div class="card-body">

            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary">Add Batch</button>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Batch No.</th>
                            <th>Course Name</th>
                            <th>SLO Assigned</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>AY13/14</td>
                            <td>DIT</td>
                            <td>Mr Tan</td>
                            <td>19/10/2017</td>
                            <td>10/2/2018</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>AY13/14</td>
                            <td>DBIT</td>
                            <td>Mr Tan</td>
                            <td>19/10/2017</td>
                            <td>10/2/2018</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>AY13/14</td>
                            <td>DISM</td>
                            <td>Mr Tan</td>
                            <td>19/10/2017</td>
                            <td>10/2/2018</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--end with attendance taking-->
</div>