<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Edit Batch</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Edit Batch
        </div>
        <div>
            <form class="form-group">
                <div class="form-inline">
                    <label class="col-md-2 control-label">Batch Name:</label>
                    <div class="col-sm-3">
                        <input class="form-control" id="batchNo" type="text" value="">
                    </div>
                </div>
                <div class="form-inline">
                    <label class="col-md-2 control-label">Course Assigned:</label>
                    <input class="form-control" id="courseAssigned" type="text" value="" readonly>
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ui class="dropdown-menu" id="dropCourse">
                        @*<a class="dropdown-item" href="#">DIT</a>
                            <a class="dropdown-item" href="#">DBIT</a>
                            <a class="dropdown-item" href="#">DISM</a>
                            <a class="dropdown-item" href="#">DDA</a>*@
                    </ui>
                </div>
                <div class="form-inline">
                    <label class="col-md-2 control-label">SLO Assigned:</label>
                    <input class="form-control" id="assignedSlo" type="text" value="" readonly>
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ui class="dropdown-menu" id="dropSLO">
                        @*<a class="dropdown-item" href="#">Ms Teo Seok Lin</a>
                            <a class="dropdown-item" href="#">Mr Tan Yao Tian</a>
                            <a class="dropdown-item" href="#">Ms Goh Ling Ling</a>
                            <a class="dropdown-item" href="#">Mr Ong Lai</a>*@
                    </ui>
                </div>
            </form>
            <form class="form-group">
                <div class="form-inline">
                    <label class="col-sm-2 control-label" for="date">
                        Date
                        <span class="asteriskField">
                            *
                        </span>
                    </label>
                    <div class="input-group col-sm-2">
                        <input class="form-control startDate" id="date" name="date" placeholder="DD/MM/YYYY" type="text">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar">
                            </i>
                        </div>
                    </div>
                </div>
                <div class="form-inline">
                    <label class="col-sm-2 control-label" for="date">
                        Date
                        <span class="asteriskField">
                            *
                        </span>
                    </label>
                    <div class="input-group col-sm-2">
                        <input class="form-control endDate" id="date" name="date" placeholder="DD/MM/YYYY" type="text">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar">
                            </i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"></label>
            <div class="btn pull-right">
                <button class="btn btn-secondary" name="delete" type="button">
                    Delete
                </button>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"></label>
            <div class="btn pull-right">
                <button class="btn btn-primary" name="submit" type="submit" id="btnSave">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    var g_batchId = getBatchIdFromAddressBar();
    getDropDown();

    function getBatchIdFromAddressBar() {

        var urlArray = window.location.href.split('/');
        var batchId = urlArray[urlArray.length - 1];
        return batchId;
    }
    function getDropDown() {
        $getUserHandler = jQuery.ajax({

            url: '/API/Batches/GetUserCourseInformation',
            method: 'get',
            dataType: 'json',
            cache: false

        });
        $getUserHandler.done(function (data, textStatus, jqXHR) {
            $SLODownElement = $('#dropSLO');
            $CourseDownElement = $('#dropCourse')
            for (i = 0; i < data.UserList.length; i++) {
                // $tableBodyElement = $('.dropdown-menu');
                Name = data.UserList[i].Name;
                Emails = data.UserList[i].Email;
                $dropElement = $('<a>', { text: Name }).attr('class', 'dropdown-item').attr('name', 'SLO').attr('value', Emails);
                $drop2Element = $('<li>');
                $drop2Element.append($dropElement);
                //$dropElement = $('<input>').attr('type', 'radio').val(visibilityId).attr('name', 'visibilityIdInput');
                $SLODownElement.append($drop2Element);
            }
            for (k = 0; k < data.CourseList.length; k++) {
                CourseId = data.CourseList[k].CourseId;
                CourseCode = data.CourseList[k].CourseCode;
                $dropElement = $('<a>', { text: CourseCode }).attr('class', 'dropdown-item').attr('name', 'Course').attr('value', CourseId);
                $drop2Element = $('<li>');
                $drop2Element.append($dropElement);
                $CourseDownElement.append($drop2Element)
            }
            $('#dropCourse li > a').on('click', function () {
                // $('#courseAssigned').val($(this).text());
                $('#courseAssigned').val($(this).text());
                $('#courseAssigned').attr('value', $(this).attr('value'));

            });

            $('#dropSLO li > a').on('click', function () {
                $('#assignedSlo').val($(this).text());
                $('#assignedSlo').attr('value', $(this).attr('value'));
            });

            getBatchDetails(g_batchId);
        }); // End of .Done Handler

    }
    function getBatchDetails(inBatchId) {

        $loadProductHandler = jQuery.ajax({
            method: 'get',
            dataType: 'json',
            cache: false,
            url: '/API/Batches/GetOneBatches/' + inBatchId
        })
        $loadProductHandler.done(function (data, textStatus, jqXHR) {

            var oneBatch = data;

            $SLODownElement = $('#dropSLO');
            $CourseDownElement = $('#dropCourse')

            batchId = data.BatchId;
            batchName = data.BatchName;
            description = data.Description;
            startDate = new Date(data.StartDate);
            finalStartDate = moment(startDate).format('MM/DD/YYYY');
            // newDate = startDate.format('DD MMMM YYYY');
            endDate = new Date(data.EndDate);
            finalEndDate = moment(endDate).format('MM/DD/YYYY');
            fullName = data.FullName;
            email = data.Email;
            courseCode = data.CourseCode;
            courseId = data.CourseId;

            $('#batchNo').val(batchName);
            $('#courseCode').val(courseCode);
            $('#assignedSlo').val(fullName);
            $('#assignedSlo').attr('value', email);
            $('#courseAssigned').val(courseCode);
            $('#courseAssigned').attr('value', courseId)
            $('.startDate').val(finalStartDate);
            $('.endDate').val(finalEndDate);
            //for (i = 0; i < data.length; i++) {
            //    // $tableBodyElement = $('.dropdown-menu');
            //    Name = data[i].Name;
            //    Emails = data[i].Email;
            //    $dropElement = $('<a>', { text: Name }).attr('class', 'dropdown-item').attr('name', 'SLO').attr('value', Emails);
            //    $drop2Element = $('<li>');
            //    $drop2Element.append($dropElement);
            //    //$dropElement = $('<input>').attr('type', 'radio').val(visibilityId).attr('name', 'visibilityIdInput');
            //    $SLODownElement.append($drop2Element);
            //}
            //for (k = 0; k < data.length; k++) {
            //    CourseId = data.CourseList[k].CourseId;
            //    CourseCode = data.CourseList[k].CourseCode;
            //    $dropElement = $('<a>', { text: CourseCode }).attr('class', 'dropdown-item').attr('name', 'Course').attr('value', CourseId);
            //    $drop2Element = $('<li>');
            //    $drop2Element.append($dropElement);
            //    $CourseDownElement.append($drop2Element)
            //}
            //$('#dropCourse li > a').on('click', function () {
            //    // $('#courseAssigned').val($(this).text());
            //    $('#courseAssigned').val($(this).text());
            //    $('#courseAssigned').attr('value', $(this).attr('value'));

            //});

            //$('#dropSLO li > a').on('click', function () {
            //    $('#assignedSlo').val($(this).text());
            //    $('#assignedSlo').attr('value', $(this).attr('value'));
            //});


        });
    }

</script>