<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Edit Batch Info</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Edit Batch Info
        </div>
        <div class="card-body">
            <div class="form-group">
                <label class="control-label col-md-3"></label>
                <div class="btn pull-right">
                    <button class="btn btn-secondary" name="submit" type="submit">
                       Upload CSV
                    </button>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Student ID</th>
                                <th>Student Name</th>
                                <th>Liaison Officer</th>
                                <th>Project</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>P1530247</td>
                                <td>Amelia Goh</td>
                                <td>Mr Vincent Goh</td>
                                <td>
                                    Parliament
                                </td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>P1532829</td>
                                <td>Cho Qi Xiang</td>
                                <td>Ms Leong Fong Sow</td>
                                <td>
                                    CAAS
                                </td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>P1551322</td>
                                <td>Tan Chia Wei</td>
                                <td>Mr Lim De Yang</td>
                                <td>
                                    MDA
                                </td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>P1551635</td>
                                <td>Loo Jia Wei</td>
                                <td>Dr Leong</td>
                                <td>
                                    WIS
                                </td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <label class="control-label col-md-3"></label>
                        <div class="btn pull-right">
                            <button class="btn btn-primary" name="submit" type="submit">
                                Save
                            </button>
                        </div>

                    </div>

                </div>
                <!--end with attendance taking-->
            </div>
    </div>
</div>
