<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Batch Information</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Batch Information
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Batch Name</th>
                            <th>Diploma Name</th>
                            <th>Competency Checklist</th>
                            <th>Manage Students</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>AY16/17S2</td>
                            <td>Diploma in Information Technology</td>
                            <td><a href="/SLO/CompetencyChecklist"><i class="fa fa-check-square"></i></a></td>
                            <td>
                                <a href="/SLO/ManageStudent"><i class="fa fa-male"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>AY16/17S2</td>
                            <td>Diploma in Business Information Technology</td>
                            <td><a href="/SLO/CompetencyChecklist"><i class="fa fa-check-square"></i></a></td>
                            <td>
                                <a href="/SLO/ManageStudent"><i class="fa fa-male"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>AY16/17S2</td>
                            <td>Diploma in Security Management</td>
                            <td><a href="/SLO/CompetencyChecklist"><i class="fa fa-check-square"></i></a></td>
                            <td>
                                <a href="/SLO/ManageStudent"><i class="fa fa-male"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>AY16/17S2</td>
                            <td>Diploma in Digital Animation</td>
                            <td><a href="/SLO/CompetencyChecklist"><i class="fa fa-check-square"></i></a></td>
                            <td>
                                <a href="/SLO/ManageStudent"><i class="fa fa-male"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--end with attendance taking-->
</div>