<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">View Batch Info</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> View Batch Info
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Student ID</th>
                            <th>Student Name</th>
                            <th>Liaison Officer</th>
                            <th>Project</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>P1530247</td>
                            <td>Amelia Goh</td>
                            <td>Mr Vincent Goh</td>
                            <td>
                                Parliament
                            </td>
                        </tr>
                        <tr>
                            <td>P1532829</td>
                            <td>Cho Qi Xiang</td>
                            <td>Ms Leong Fong Sow</td>
                            <td>
                                CAAS
                            </td>
                        </tr>
                        <tr>
                            <td>P1551322</td>
                            <td>Tan Chia Wei</td>
                            <td>Mr Lim De Yang</td>
                            <td>
                                MDA
                            </td>
                        </tr>
                        <tr>
                            <td>P1551635</td>
                            <td>Loo Jia Wei</td>
                            <td>Dr Leong</td>
                            <td>
                                WIS
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--end with attendance taking-->
</div>