@{
    ViewData["Title"] = "Attendance Page";
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item">
            <a href="~/Home/Student_Journal">Student Journal</a>
        </li>
        <li class="breadcrumb-item active">Attendance History</li>
    </ol>
    <div class="card" style="border-width:0px;">
        <div class="card-body">
            <div class="form-group">
                <div class="pull-left">
                    <label>Student Name:&nbsp</label><select class="form-control" id="selectstudent">
              
                    </select>
                </div>
                <div class="col-xs-12 pull-right">
                    <label>View By:&nbsp</label>
                    <select class="form-control" id="selectWeek">
                        <option>Week 1</option>
                        <option>Week 2</option>
                        <option>Week 3</option>
                        <option>Week 4</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header d-inline">
            <i class="fa fa-calendar-check-o fa-2x pull-left"></i> <h3>Attendance Taking</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time in</th>
                            <th>Time Out</th>
                            <th>Remarks</th>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*<tr>
                                <td>2011/04/27</td>
                                <td>10:00</td>
                                <td>18:00</td>
                                <td>PH</td>
                                <td></td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>

    <!--end with attendance taking-->


    <div class="card mb-3">
        <div class="card-header d-inline">
            <i class="fa fa-calendar fa-2x pull-left"></i> <h3>Attendance Overall</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Public Holidays</th>
                            <th>MCs</th>
                            <th>Company Off-Day</th>
                            <th>Leave of Absence</th>
                        </tr>
                    </thead>
                    <tbody id="attendanceHistoryTBody">
                        
                    </tbody>
                </table>
            </div>
            <div>
                <form class="form-inline">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Total no. of days required:</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="requiredDays" type="text" value="80" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">No. of working days:</label>
                        <div class="col-sm-10">

                            <input class="form-control" id="workingDays" type="text" value="-" readonly>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="col-12">
                <button class="btn btn-default" onclick="location.href='http://' + window.location.host +'/Home/Student_Journal'">
                    Back
                </button>
            </div>
        </div>
    </div>
    <br />
</div>
<!-- comment Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="attendanceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="attendanceModalLabel">11 October 2017</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container">
                    <form>
                        <div class="form-group ">
                            <label>Comment:</label>
                            <textarea class="form-control" rows="5" id="commentTask" readonly>Went to meeting, and prepared meeting report.</textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var g_getLocalStorage;
    var g_dayData;
    $(document).ready(function () {
        var cookies = document.cookie.split("; ");
        var dayData;
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i];
            var eqPos = cookie.indexOf("=");
            var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
            //console.dir(getCookie(name));
            var cookievalue = getCookie(name);

            if (name != "selectedStudent" && name != "InternshipRecordId") {
                $studentInputElement = $('#selectstudent');
                $optionElement = $('<option>').text(name).attr('value', cookievalue);
                $studentInputElement.append($optionElement);

            } else {
                $('#selectstudent').val(cookievalue);

            }

        }
        g_getLocalStorage = sessionStorage.getItem($('#selectstudent').val());
        g_dayData = loadAttendanceData(g_getLocalStorage);
        //g_taskData.then(function (data) {
        //    loadDataTable(data);
        //});
        selectedWeek();
        
        // Activate an inline edit on click of a table cell
        $('#dataTable tbody').on('click', 'button.btn-primary', function (e) {
            var selected = $(this).val();
            g_dayData.then(function (data) {
                var task = data.monthObjList[$('#selectWeek').val()];
                for (i = 0; i < task.DayRecords.length; i++) {
                    if (task.DayRecords[i].DayId == selected) {
                        $('#commentTask').val(task.DayRecords[i].SupervisorRemarks);
                        
                    }

                }
                $('#commentModal').modal('show');
            });
        });
        $('#selectstudent').on('change', function (e) {
            //console.dir('test');
            setCookie();
            g_getLocalStorage = sessionStorage.getItem($('#selectstudent').val());
            g_dayData = loadAttendanceData(g_getLocalStorage);
            selectedWeek();
        });
        $('#selectWeek').on('change', function (e) {
            //console.dir('testing');
            //g_getLocalStorage = sessionStorage.getItem($('#selectstudent').val());
            selectedWeek();
        });
    });// End document ready function

    function getCookie(name) {
        var dc = document.cookie;
        var prefix = name + "=";
        var begin = dc.indexOf("; " + prefix);
        if (begin == -1) {
            begin = dc.indexOf(prefix);
            if (begin != 0) return null;
        } else {
            begin += 2;
        }
        var end = document.cookie.indexOf(";", begin);
        if (end == -1) {
            end = dc.length;
        }
        return unescape(dc.substring(begin + prefix.length, end));
    }//End of getCookie Function
    function setCookie() {
        var inName = "selectedStudent";
        var inValue = $('#selectstudent').val();
        //setCookie("selectedStudent", ("#selectstudent").val());
        var exdate = new Date();
        var expiredays = 1;
        exdate.setHours(exdate.getHours() + 4);
        exdate.setDate(exdate.getDate());
        document.cookie = inName + "=" + inValue + ";path=/" + ((expiredays == null) ? "" : ";expires=" + exdate.toGMTString());
    };
    function loadAttendanceData(inLocalStorage) {
        return $.ajax({
            url: '/Api/Month_Record/getMonthsAttendance/' + inLocalStorage,
            method: 'GET',
            dataType: 'json',
            cache: false,
            success: function (data) {
                var workingDays = data.BusinessDay;
                var totalWorkingDays = 0; 
                var MC = 0;
                var off = 0;
                var leave = 0;
                var PH = 0;
                $('#selectWeek').find('option').remove();
                for (i = 0; i < data.monthObjList.length; i++) {
                    totalWorkingDays = totalWorkingDays + data.monthObjList[i].DayRecords.length;
                    var selectMonthRecord
                    var newOption = $('<option>').text('Week ' + (((i + 1) * 4) - 3) + ' to Week ' + (i + 1) * 4).val(i);
                    $('#selectWeek').append(newOption);
                    for (k = 0; k < data.monthObjList[i].DayRecords.length; k++) {
                        // console.dir(data[i].DayRecords[k].Remarks);
                        if (data.monthObjList[i].DayRecords[k].Remarks == "MC") {
                            MC++;

                        }
                        if (data.monthObjList[i].DayRecords[k].Remarks == "COMPANY OFF") {
                            off++;

                        }
                        if (data.monthObjList[i].DayRecords[k].Remarks == "LOA") {
                            leave++;

                        }
                        if (data.monthObjList[i].DayRecords[k].Remarks == "PH") {
                            leave++;
                            workingDays--;

                        }

                    }//End of k for loop
                }//End of for loop
                $dataTable2 = $('#attendanceHistoryTBody');
                $rowElement = $('<tr></tr>');
                $cellElement = $('<td></td>', { text: PH });
                $rowElement.append($cellElement);
                $cellElement = $('<td></td>', { text: MC });
                $rowElement.append($cellElement);
                $cellElement = $('<td></td>', { text: off });
                $rowElement.append($cellElement);
                $cellElement = $('<td></td>', { text: leave });
                $rowElement.append($cellElement);
                $dataTable2.append($rowElement);



                $('#requiredDays').val(workingDays);
                $('#workingDays').val(totalWorkingDays);
            }//End of success
        });//End of Ajax
    }//End of function LoadAttendanceData
    function loadDataTable(data) {
        var g_table = $('#dataTable').DataTable({
            dom: "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-4'l><'col-sm-8'p>>",
            destroy: true,
            data: data.DayRecords,
            columns: [
                {
                    data: "Date",
                    mRender: function (o) { return moment(o).format("DD/MM/YYYY") }
                }, {
                    data: "ArrivalTime",
                    mRender: function (o) { return moment(o).format("h:mm A") }

                }, {
                    data: "DepartureTime",
                    mRender: function (o) { return moment(o).format("h:mm A") }

                }, {
                    data: "Remarks"

                }, {
                    //data: "TaskRecordId",
                    "bSortable": false,
                    "mRender": function (data, type, row) {
                        var button = row.SupervisorRemarks == "" ? '<button class="btn btn-sm btn-danger" disabled>No Remarks</button>' : '<button class="btn btn-sm btn-primary" id="btnViewComment" value="' + row.DayId + '">View</button>'
                        return button;
                    } //note under condition if no remarks was given the column would be blank
                }
            ],
            language: {
                emptyTable: "No Attendance was found, please create one.",
            }
        });//End of DataTable
    }// End of loadDataTable Function
 
    function selectedWeek() {
        g_dayData.then(function (data) {
            var selectedWeek = $('#selectWeek').val();
            $('#dataTable').dataTable().fnClearTable();
            loadDataTable(data.monthObjList[selectedWeek]);
        })
    }

</script>
