<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item">
            <a href="~/Home/Student_Journal">Student Journal</a>
        </li>
        <li class="breadcrumb-item active">Company Checklist</li>
    </ol>
    <div class="card" style="border-width:0px;">
        <div class="card-body">
            <div class="form-group">
                <div class="pull-left">
                    <label>Student Name:&nbsp</label><select class="form-control" id="selectstudent">
                    </select>
                </div>
            </div>
        </div>
    </div>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header d-inline">
            <i class="fa fa-table fa-2x pull-left"></i> <h3>Checklist for Company</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th>1. Orientation</th>
                            <th>Tick if performed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>a. Brief the student policies, functions and operations, rules and regulations, and safely and security matters</td>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox" name="checkboxQ1" id="q1" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>b. Interoduce the student to fellow-colleagues and other important contacts within the organisation for him/her to be effective in his/her work</td>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox" name="checkboxQ2" id="q2" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>2. Supervision</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>a. Plan and discuss with the SP Liaison Officer on the internship requirements to ensure learning objectives are (This is recommended to be carried out prior or at the start of the internship)</td>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox" name="checkboxQ3" id="q3" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>b. Discuss with the student on the internship requirements. (This is recommended to be carried out at the start of the inrernship)</td>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox" name="checkboxQ4" id="q4" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>c. Guide the student to meet requirements and learning objectives. This includes guiding the student on the tasks, setting performance expectations and encouraging student to ask questions to clarify job resposibilities.</td>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox" name="checkboxQ5" id="q5" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>d. Provide periodic feedback to student on his/her performance</td>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox" name="checkboxQ6" id="q6" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>e. Meet and discuss with the SP Liaison Officer on student's progress and performance during company visits.</td>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox" name="checkboxQ7" id="q7" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>f. Provide final assessment on student's performance</td>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox" name="checkbox8" id="q8" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>3. Mentorship</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>a. Provide student an overview of the company structure, nature of business and work requirements.</td>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox" name="checkboxQ9" id="q9" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>b. Share about job propects, career paths and trends within the industry. This can be done through sharing of work experience, relevant resources, networking contacts, as appropriate.</td>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox" name="checkboxQ10" id="q10" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>b. Motivate the student with your work experience and career journey in the industry. This includes, but not limited to, providing the student and understanding on the right kind of professional and personal ethics, attiudes and values to adopt to be effective</td>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox" name="checkboxQ11" id="q11" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="col-12">
                <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/Student_Journal'">
                    Back
                </button>
                &nbsp;
            </div>
        </div>
    </div>
    </div>
    <!--end with attendance taking-->
    <script>
        $("div input").attr("disabled", "disabled");

        $(document).ready(function () {
            var cookies = document.cookie.split("; ");

            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i];
                var eqPos = cookie.indexOf("=");
                var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                //console.dir(getCookie(name));
                var cookievalue = getCookie(name);

                if (name != "selectedStudent") {
                    $studentInputElement = $('#selectstudent');
                    $optionElement = $('<option>').text(name).attr('value', cookievalue);
                    $studentInputElement.append($optionElement);

                } else {
                    $('#selectstudent').val(cookievalue);
                    $('#studentId').text(cookievalue);

                }
            }//End of for loop
            g_getLocalStorage = sessionStorage.getItem($('#selectstudent').val());
            getCompanyChecklist(g_getLocalStorage);


        });//End of document ready

        function getCookie(name) {
            var dc = document.cookie;
            var prefix = name + "=";
            var begin = dc.indexOf("; " + prefix);
            if (begin == -1) {
                begin = dc.indexOf(prefix);
                if (begin != 0) return null;
            } else {
                begin += 2;
            }
            var end = document.cookie.indexOf(";", begin);
            if (end == -1) {
                end = dc.length;
            }
            return unescape(dc.substring(begin + prefix.length, end));
        }

        function setCookie() {
            var inName = "selectedStudent";
            var inValue = $('#selectstudent').val();
            //setCookie("selectedStudent", ("#selectstudent").val());
            var exdate = new Date();
            var expiredays = 1;
            exdate.setHours(exdate.getHours() + 4);
            exdate.setDate(exdate.getDate());
            document.cookie = inName + "=" + inValue + ";path=/" + ((expiredays == null) ? "" : ";expires=" + exdate.toGMTString());
        };
        function getCompanyChecklist(inStudentId) {
            $.ajax({
                url: '/api/Internship_Record/ViewCompanyChecklist/' + inStudentId,
                method: 'GET',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                cache: false,
                success: function (data) {
                    $('#q1').prop('checked', data.CompanyCheck1a);
                    $('#q2').prop('checked', data.CompanyCheck1b);
                    $('#q3').prop('checked', data.CompanyCheck2a);

                    $('#q4').prop('checked', data.CompanyCheck2b);
                    $('#q5').prop('checked', data.CompanyCheck2c);
                    $('#q6').prop('checked', data.CompanyCheck2d);
                    $('#q7').prop('checked', data.CompanyCheck2e);
                    $('#q8').prop('checked', data.CompanyCheck2f);

                    $('#q9').prop('checked', data.CompanyCheck3a);
                    $('#q10').prop('checked', data.CompanyCheck3b);
                    $('#q11').prop('checked', data.CompanyCheck3c);
                },//End of success
                error: function (data) {
                    swal({
                        type: 'error',
                        title: 'Error',
                        text: data.Message
                    });
                }//End of error
            });//End of ajax call

        }//end of getCOmpanyCheckList function
    </script>