@{
    ViewData["Title"] = "Final Grading Page";
}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item">
            <a href="~/Home/Student_Journal">Student Journal</a>
        </li>
        <li class="breadcrumb-item active">Grading</li>
    </ol>
    <div class="card" style="border-width:0px;">
        <div class="card-body">
            <div class="form-group">
                <div class="pull-left">
                    <label>Student Name:&nbsp</label><select class="form-control" id="selectstudent">

                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header d-inline">
            <i class="fa fa-pencil fa-2x pull-left"></i> <h3>Grading</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" cellspacing="0">
                    <tbody>
                        <tr>
                            <td width="85%"><h3>Final Grading by SLO</h3></td>
                            <td>
                                <input class="form-control" id="totaldays" type="text" readonly>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Assessment Criteria</th>
                            <th>Grade (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="85%"><h3>Supervisor's Grade</h3></td>
                            <td>
                                <input class="form-control" id="supervisorgrade" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td width="85%"><h3>Poster</h3></td>
                            <td>
                                <input class="form-control" id="postergrade" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td width="85%"><h3>Presentation</h3></td>
                            <td>
                                <input class="form-control" id="presentationgrade" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td width="85%"><h3>Student Journal</h3></td>
                            <td>
                                <input class="form-control" id="studentjournalgrade" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td width="85%"><h3>Overall Performance</h3></td>
                            <td>
                                <input class="form-control" id="overallperformancegrade" type="text">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="pull-right">
                    <div class="form-group">
                        <label class="col-md-8 control-label">Average marks based on the above assessments:</label>
                        <div class="col-sm-12">
                            <input class="form-control" id="assessment" type="text" value="" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-8 control-label">Computed Average:</label>
                        <div class="col-sm-12">
                            <input class="form-control" id="computedaverage" type="text" value="" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-8 control-label">Grade:</label>
                        <div class="col-sm-12">
                            <input class="form-control" id="grade" type="text" value="" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="form-group">
        <div class="col-12">
            <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/Index'">
                Back
            </button>
            <div class="pull-right">
                <button class="btn btn-primary pull-right" name="submit" id="submit">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>
&nbsp;
<script>
    var cookies = document.cookie.split("; ");

    for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i];
        var eqPos = cookie.indexOf("=");
        var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
        //console.dir(getCookie(name));
        var cookievalue = getCookie(name);

        if (name != "selectedStudent") {
            $studentInputElement = $('#selectstudent');
            $optionElement = $('<option>').text(name).attr('value', cookievalue);
            $studentInputElement.append($optionElement);

        } else {
            $('#selectstudent').val(cookievalue);
            $('#studentId').text(cookievalue);

        }
    }//End of for loop
    
    function getCookie(name) {
        var dc = document.cookie;
        var prefix = name + "=";
        var begin = dc.indexOf("; " + prefix);
        if (begin == -1) {
            begin = dc.indexOf(prefix);
            if (begin != 0) return null;
        } else {
            begin += 2;
        }
        var end = document.cookie.indexOf(";", begin);
        if (end == -1) {
            end = dc.length;
        }
        return unescape(dc.substring(begin + prefix.length, end));
    }

    function setCookie() {
        var inName = "selectedStudent";
        var inValue = $('#selectstudent').val();
        //setCookie("selectedStudent", ("#selectstudent").val());
        var exdate = new Date();
        var expiredays = 1;
        exdate.setHours(exdate.getHours() + 4);
        exdate.setDate(exdate.getDate());
        document.cookie = inName + "=" + inValue + ";path=/" + ((expiredays == null) ? "" : ";expires=" + exdate.toGMTString());
    }


</script>