@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Homepage</li>
    </ol>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>Student Name</th>
                        <th>Student Info</th>
                        <th>Student Journal</th>
                        <th>Pending Review</th>
                        <th>Final Grade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>P1530247</td>
                        <td>Amelia Goh</td>
                        <td>
                            <div class="text-center">
                                <a href="/home/Student_Info"><i class="fa fa-fw fa-info"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/home/index"><i class="fa fa-fw fa-file"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/home/review"><i class="fa fa-fw fa-exclamation-circle"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/home/grading"><i class="fa fa-fw fa-graduation-cap"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>P1550342</td>
                        <td>Cho Qi Xiang</td>
                        <td>
                            <div class="text-center">
                                <a href="/hone/Student_Info"><i class="fa fa-fw fa-info"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/home/index"><i class="fa fa-fw fa-file"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/home/review"><i class="fa fa-fw fa-exclamation-circle"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/home/grading"><i class="fa fa-fw fa-graduation-cap"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>P1551322</td>
                        <td>Tan Chia Wei</td>
                        <td>
                            <div class="text-center">
                                <a href="/home/Student_Info"><i class="fa fa-fw fa-info"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/home/index"><i class="fa fa-fw fa-file"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/home/review"><i class="fa fa-fw fa-exclamation-circle"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/home/grading"><i class="fa fa-fw fa-graduation-cap"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-wrapper -->
<script>
    $(document).ready(function () {
        var table = $('#dataTable').DataTable({
            dom: 't',
            ajax: {
                url: '/Api/Internship_Record/Lo_GetStudentInternship_Record',
                dataSrc: ''
            },
            columns: [
                {
                    data: "StudentId",
                    className: "StudentId"
                },
                {
                    data: "StudentName",
                    className: "StudentName"
                },
                {
                    data: "StudentId",
                    "bSortable": false,
                    "mRender": function (o) {
                        return '<a href="/home/Student_Info" style="color:black;" id="studentInfo" value="' + o + '" onClick="studentInfo($(this))"><button class="btn btn-success btn-labeled role="button"> <span class="btn-label"><i class="fa fa-info-circle"></i></span>Info</button>'
                    }
                },
                {
                    data: "StudentJournal",
                    "bSortable": false,
                    "mRender": function (data, type, dataToSet) {
                        return '<a href="/home/student_journal" style="color:black;" id="studentJournal" value="' + data + '" onClick="studentJournal(\'' + dataToSet.StudentName + '\' , \'' + dataToSet.StudentId + '\')"><button class="btn btn-primary btn-labeled role="button"> <span class="btn-label"><i class="fa fa-file"></i></span>Student Journal</button>'
                    }
                },
                {
                    data: null,
                    "bSortable": false,
                    "mRender": function (data, type, dataToSet) { return '<a href="/home/review" style="color:black;" onClick="studentJournal(\'' + dataToSet.StudentName + '\' , \'' + dataToSet.StudentId + '\')"><button class="btn btn-primary btn-labeled role="button"> <span class="btn-label"><i class="fa fa-spinner"></i></span>Review</button>' }
                },
                {
                    data: null,
                    "bSortable": false,
                    "mRender": function (data, type, dataToSet){ return '<a href="/home/final_grading" style="color:black;" onClick="studentJournal(\'' + dataToSet.StudentName + '\' , \'' + dataToSet.StudentId + '\')"><button class="btn btn-primary btn-labeled role="button"> <span class="btn-label"><i class="fa fa-graduation-cap"></i></span>Final Grading</button>' }
                   // "mRender": function (data, type, dataToSet) { return '<a href="/home/final_grading" style="color:black;" onClick="studentJournal(\'' + dataToSet.StudentName + '\' , \'' + dataToSet.StudentId + '\')"><i class="fa fa-fw fa-graduation-cap"></i></a>' }
                }
            ],
            language: {
                emptyTable: "No Student Journal was found, please try again by relogin.",
            }
        });
        $('#dataTable tbody').on('click', 'button.btn-primary', function (e) {
            $('#commentModal').modal('show');
        });
    });
    function studentInfo(inValue) {
        var studentValue = inValue.attr('value');
        removeCookie();
        setCookie("StudentInfo" , studentValue);
    };
    function studentJournal(inName , inId) {
        removeCookie();
        $.each($('table tbody tr td.StudentId'), function (index) {
            setCookie($(this).closest('td').next('td').text(), $(this).text());
        });
        $.each($('table tbody tr td #studentJournal'), function (index) {
            sessionStorage.setItem($(this).closest('td').prev('td').prev('td').prev('td').text(), $(this).attr('value'));
        });
        setCookie("selectedStudent", inId);

    };
    function removeCookie() {
        var cookies = document.cookie.split("; ");

        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i];
            var eqPos = cookie.indexOf("=");
            var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
            document.cookie = name + "=;path=/" + ";expires=Thu, 01 Jan 1970 00:00:00 GMT";
        }
    }
    function setCookie(inName, inValue) {
        var exdate = new Date();
        var expiredays = 1;
        exdate.setHours(exdate.getHours() + 4);
        exdate.setDate(exdate.getDate());
        document.cookie = inName + "=" + inValue + ";path=/" + ((expiredays == null) ? "" : ";expires=" + exdate.toGMTString());
    };
</script>