@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Homepage</li>
    </ol>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>Student Name</th>
                        <th>Student Info</th>
                        <th>Student Journal</th>
                        <th>Pending Review</th>
                        <th>Final Grade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>P1530247</td>
                        <td>Amelia Goh</td>
                        <td>
                            <div class="text-center">
                                <a href="/home/Student_Info"><i class="fa fa-fw fa-info"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/home/index"><i class="fa fa-fw fa-file"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/home/review"><i class="fa fa-fw fa-exclamation-circle"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/home/grading"><i class="fa fa-fw fa-graduation-cap"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>P1550342</td>
                        <td>Cho Qi Xiang</td>
                        <td>
                            <div class="text-center">
                                <a href="/hone/Student_Info"><i class="fa fa-fw fa-info"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/home/index"><i class="fa fa-fw fa-file"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/home/review"><i class="fa fa-fw fa-exclamation-circle"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/home/grading"><i class="fa fa-fw fa-graduation-cap"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>P1551322</td>
                        <td>Tan Chia Wei</td>
                        <td>
                            <div class="text-center">
                                <a href="/home/Student_Info"><i class="fa fa-fw fa-info"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/home/index"><i class="fa fa-fw fa-file"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/home/review"><i class="fa fa-fw fa-exclamation-circle"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/home/grading"><i class="fa fa-fw fa-graduation-cap"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-wrapper -->
<script>
    $(document).ready(function () {
        var table = $('#dataTable').DataTable({
            dom: 't',
            ajax: {
                url: '/Api/Task_Record',
                dataSrc: ''
            },
            columns: [
                { data: "DayRecordId" },
                { data: "Description" },
                {
                    data: null,
                    "bSortable": false,
                    "mRender": function (o) { return '<a href="/home/Student_Info" style="color:black;"><i class="fa fa-fw fa-info""></i></a>' } 
                },
                {
                    data: null,
                    "bSortable": false,
                    "mRender": function (o) { return '<a href="/home/student_journal" style="color:black;"><i class="fa fa-fw fa-file"></i></a>' } 
                },
                {
                    data: null,
                    "bSortable": false,
                    "mRender": function (o) { return '<a href="/home/review" style="color:black;"><i class="fa fa-fw fa-exclamation-circle"></i></a>' } 
                },
                {
                    data: null,
                    "bSortable": false,
                    "mRender": function (o) { return '<a href="/home/final_grading" style="color:black;"><i class="fa fa-fw fa-graduation-cap"></i></a>' } 
                }
            ],
            language: {
                emptyTable: "No Attendance was found, please create one.",
            }
        });
        $('#dataTable tbody').on('click', 'button.btn-primary', function (e) {
            $('#commentModal').modal('show');
        });
    });
</script>