<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item">
            <a href="~/Home/Student_Journal">Student Journal</a>
        </li>
        <li class="breadcrumb-item active">Internship Survey</li>
    </ol>
    <div class="card" style="border-width:0px;">
        <div class="card-body">
            <div class="form-group">
                <div class="pull-left">
                    <label>Student Name:&nbsp</label><select class="form-control" id="selectstudent">

                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card" id="survey">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#one" role="tab" data-toggle="tab">1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#two" role="tab" data-toggle="tab">2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#three" role="tab" data-toggle="tab">3</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="one">
                <div class="card-body">
                    <div class="col-12">
                            <label class="control-label" for="q1">Has the internship been useful or relevant to you?</label>
                            <select class="form-control col-md-2 col-sm-2 col-xs-12 pull-right" id="q1">
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                    </div>
                    <br />
                    <div class="col-12">
                        <label class="control-label" for="q2">Has the internship improved your understanding of your subjects of study?</label>
                        <select class="form-control col-md-2 col-sm-2 col-xs-12 pull-right" id="q2">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <br />
                    <div class="col-12">
                        <label class="control-label" for="q3">Has the internship provided you with experiences about working life, human relationship skills etc.?</label>
                        <select class="form-control col-md-2 col-sm-2 col-xs-12 pull-right" id="q3">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <br />
                    <div class="col-12">
                        <label class="control-label" for="q4">Would you recommend this establishment for future internship?</label>
                        <select class="form-control col-md-2 col-sm-2 col-xs-12 pull-right" id="q4">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <br />
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="two">
                <div class="card-body">
                    <div class="col-12">
                        <label class="control-label" for="q5">What did you enjoy most about this internship?</label>
                        <textarea class="form-control" rows="5" id="q5" maxlength="300"></textarea>
                        <small id="maxchars" class="form-text text-muted pull-right">300 maximum characters</small>
                    </div>
                    <br />
                    <div class="col-12">
                        <label class="control-label" for="q6">What did you enjoy least about this internship?</label>
                        <textarea class="form-control" rows="5" id="q6" maxlength="300"></textarea>
                        <small id="maxchars" class="form-text text-muted pull-right">300 maximum characters</small>
                    </div>
                    <br />
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="three">
                <div class="card-body">
                    <div class="col-12">
                        <label class="control-label" for="q5">What is your biggest takeaway from this internship</label>
                        <textarea class="form-control" rows="5" id="q5" maxlength="300"></textarea>
                        <small id="maxchars" class="form-text text-muted pull-right">300 maximum characters</small>
                    </div>
                    <br />
                    <div class="col-12">
                        <label class="control-label" for="q6">Will you pursue a career in this industry? Why yes or why not?</label>
                        <textarea class="form-control" rows="5" id="q6" maxlength="300"></textarea>
                        <small id="maxchars" class="form-text text-muted pull-right">300 maximum characters</small>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="form-group">
        <div class="col-12">
            <button class="btn btn-default pull-left" onclick="window.history.go(-1); return false">
                Back
            </button>
        </div>
    </div>
</div>
&nbsp;
<script>
    $(document).ready(function () {
        var cookies = document.cookie.split("; ");
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i];
            var eqPos = cookie.indexOf("=");
            var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
            //console.dir(getCookie(name));
            var cookievalue = getCookie(name);

            if (name != "selectedStudent") {
                $studentInputElement = $('#selectstudent');
                $optionElement = $('<option>').text(name).attr('value', cookievalue);
                $studentInputElement.append($optionElement);

            } else {
                $('#selectstudent').val(cookievalue);

            }

        }//End of for loop
        g_getLocalStorage = sessionStorage.getItem($('#selectstudent').val());
        getStudentSurvey(g_getLocalStorage);

        $("#survey div.card-body select").attr("disabled", "disabled"); //disable dropdown
        $("#survey div.card-body textarea").attr("readonly", "true"); //disable textarea
    });//End of document ready function

    function getCookie(name) {
        var dc = document.cookie;
        var prefix = name + "=";
        var begin = dc.indexOf("; " + prefix);
        if (begin == -1) {
            begin = dc.indexOf(prefix);
            if (begin != 0) return null;
        } else {
            begin += 2;
        }
        var end = document.cookie.indexOf(";", begin);
        if (end == -1) {
            end = dc.length;
        }
        return unescape(dc.substring(begin + prefix.length, end));
    }//End of getCookie Function
    function setCookie() {
        var inName = "selectedStudent";
        var inValue = $('#selectstudent').val();
        var exdate = new Date();
        var expiredays = 1;
        exdate.setHours(exdate.getHours() + 4);
        exdate.setDate(exdate.getDate());
        document.cookie = inName + "=" + inValue + ";path=/" + ((expiredays == null) ? "" : ";expires=" + exdate.toGMTString());
    };//End of setCookie

    function getStudentSurvey(inStudentId) {
        $.ajax({
            url: '/api/Internship_Record/ViewInternshipSurvey/' + inStudentId,
            method: 'GET',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            cache: false,
            success: function (data) {
                data.FeedbackUseful ? $('#q1').val('Yes') : $('#q1').val('No')
                data.FeedbackImproved ? $('#q2').val('Yes') : $('#q2').val('No')
                data.FeedbackExperiences ? $('#q3').val('Yes') : $('#q3').val('No')
                data.FeedbackRecommend ? $('#q4').val('Yes') : $('#q4').val('No')
                $('#q5').val(data.FeedbackEnjoy);
                $('#q6').val(data.FeedbackLeastEnjoy);
                $('#q7').val(data.FeedbackTakeaway);
                $('#q7').val(data.FeedbackCareer);
                
            },//End of success
            error: function (data) {
                swal({
                    type: 'error',
                    title: 'Error',
                    text: data.Message
                });
            }//End of error
        });//End of ajax call
    }
</script>
