<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item">
            <a href="~/Home/Student_Journal">Student Journal</a>
        </li>
        <li class="breadcrumb-item active">Internship Survey</li>
    </ol>
    <div class="card" style="border-width:0px;">
        <div class="card-body">
            <div class="form-group">
                <div class="pull-left">
                    <label>Student Name:&nbsp</label><select class="form-control" id="selectstudent">
                        <option>Amelia Goh</option>
                        <option>Cho Qi Xiang</option>
                        <option>Tan Chia Wei</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card" id="survey">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#one" role="tab" data-toggle="tab">1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#two" role="tab" data-toggle="tab">2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#three" role="tab" data-toggle="tab">3</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="one">
                <div class="card-body">
                    <div class="col-12">
                            <label class="control-label" for="q1">Has the internship been useful or relevant to you?</label>
                            <select class="form-control col-md-2 col-sm-2 col-xs-12 pull-right" id="q1">
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                    </div>
                    <br />
                    <div class="col-12">
                        <label class="control-label" for="q2">Has the internship improved your understanding of your subjects of study?</label>
                        <select class="form-control col-md-2 col-sm-2 col-xs-12 pull-right" id="q2">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <br />
                    <div class="col-12">
                        <label class="control-label" for="q3">Has the internship provided you with experiences about working life, human relationship skills etc.?</label>
                        <select class="form-control col-md-2 col-sm-2 col-xs-12 pull-right" id="q3">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <br />
                    <div class="col-12">
                        <label class="control-label" for="q4">Would you recommend this establishment for future internship?</label>
                        <select class="form-control col-md-2 col-sm-2 col-xs-12 pull-right" id="q4">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <br />
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="two">
                <div class="card-body">
                    <div class="col-12">
                        <label class="control-label" for="q5">What did you enjoy most about this internship?</label>
                        <textarea class="form-control" rows="5" id="q5" maxlength="300"></textarea>
                        <small id="maxchars" class="form-text text-muted pull-right">300 maximum characters</small>
                    </div>
                    <br />
                    <div class="col-12">
                        <label class="control-label" for="q6">What did you enjoy least about this internship?</label>
                        <textarea class="form-control" rows="5" id="q6" maxlength="300"></textarea>
                        <small id="maxchars" class="form-text text-muted pull-right">300 maximum characters</small>
                    </div>
                    <br />
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="three">
                <div class="card-body">
                    <div class="col-12">
                        <label class="control-label" for="q5">What is your biggest takeaway from this internship</label>
                        <textarea class="form-control" rows="5" id="q5" maxlength="300"></textarea>
                        <small id="maxchars" class="form-text text-muted pull-right">300 maximum characters</small>
                    </div>
                    <br />
                    <div class="col-12">
                        <label class="control-label" for="q6">Will you pursue a career in this industry? Why yes or why not?</label>
                        <textarea class="form-control" rows="5" id="q6" maxlength="300"></textarea>
                        <small id="maxchars" class="form-text text-muted pull-right">300 maximum characters</small>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="form-group">
        <div class="col-12">
            <button class="btn btn-default pull-left" onclick="window.history.go(-1); return false">
                Back
            </button>
        </div>
    </div>
</div>
&nbsp;
<script>
    $(document).ready(function () {
        var attendancetable = $('#dataTable_attendance').DataTable({
            "scrollY": '250px',
            "scrollCollapse": true,
            "paging": false,
            //--disable the sorting--
            dom: 'rtp',
            ajax: {
                url: '/Api/Task_Record',
                dataSrc: ''
            },
            columns: [
                { data: "DayRecordId" },
                { data: "Description" },
                { data: "Description" },
                { data: "Description" },
                {
                    data: null,
                    "bSortable": false,
                    "mRender": function (o) { return '<input id="comments">' }
                }
            ]
        });

        var tasktable = $('#dataTable_task').DataTable({
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": false,
            "bInfo": false,
            "bAutoWidth": false,
            "asStripClasses": null,
            pageLength: 5,
            //--disable the sorting--
            dom: 'rtip',
            ajax: {
                url: '/Api/Task_Record',
                dataSrc: ''
            },
            order: [[1, 'asc']],
            columns: [
                { data: "DayRecordId", "sTitle": "Date", "sWidth": "10%" },
                { data: "Description", "sTitle": "Task Recorded", "sWidth": "80%" },
                {
                    data: null,
                    "sTitle": "Remarks",
                    "bSortable": false,
                    "mRender": function (o) { return '<input id="remarks">' }
                }
            ],
            language: {
                emptyTable: "No task was found, please create one.",
            }
        });

        var tasktable = $('#dataTable').DataTable({
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": false,
            "bInfo": false,
            "bAutoWidth": false,
            "asStripClasses": null,
            pageLength: 5,
            //--disable the sorting--
            dom: 'rtip'
        });

        //$('#addattendance').on('click', function (e) {
        //    $('#attendanceModal').modal('show');
        //});
        $("#survey div.card-body select").attr("disabled", "disabled"); //disable dropdown
        $("#survey div.card-body textarea").attr("readonly", "true"); //disable textarea
    });
</script>
