
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item">
            <a href="~/Home/Student_Journal">Student Journal</a>
        </li>
        <li class="breadcrumb-item active">Mentor Session History</li>
    </ol>
    <div class="card" style="border-width:0px;">
        <div class="card-body">
            <div class="form-group">
                <div class="pull-left">
                    <label>Student Name:&nbsp</label><select class="form-control" id="selectstudent">

                    </select>
                </div>
                <div class="pull-right">
                    <div>
                        <label for="exampleFormControlSelect1">Session #:</label>
                        <select class="form-control" id="sessionNumber">
 
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header d-inline">
            <i class="fa fa-table fa-2x pull-left"></i> <h3>Mentoring Details</h3>
        </div>
        <div class="card-body">
            <div class="col-12">
                <div class="col-6 pull-left">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Session #</label>
                        <select class="form-control" id="MentorSessionNumber" disabled>

                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="date">
                            Session Date
                        </label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar">
                                </i>
                            </div>
                            <input class="form-control col-sm-12" id="date" name="date" placeholder="DD/MM/YYYY" type="text" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="timein">
                            Time started
                        </label>
                        <div class='input-group date' id='timein'>
                            <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                            </div>

                            <input type='text' class="form-control" id="MentorSessionDateTimeStart" readonly/>
                        </div>
                    </div>
                </div>
                <div class="col-6 pull-right">
                        <div class="form-group">
                            <label class="control-label" for="timeout">
                                Time ended
                            </label>
                            <div class='input-group date' id='timeout'>
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <input type='text' class="form-control" id="MentorSessionDateTimeEnd" readonly />
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
    <div class="card mb-3">
        <div class="card-header d-inline">
            <i class="fa fa-table fa-2x pull-left"></i> <h3>Reflection</h3>
        </div>
        <div class="card-body">
            <div class="col-12">
                <div class="form-group">
                    <label class="control-label" for="comment">Please note down what you have learnt from the mentoring session. The areas of learning may include, but not limited to, an overview of the company structure, nature of business and work requirements; jobs prospects and career paths within the industry; or work experience of your mentor in the industry</label>
                    <textarea class="form-control" rows="5" id="MentorSessionReflection" readonly></textarea>
                </div>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>

    <!--end with attendance taking-->
    <div class="card-body">
        <div class="form-group">
            <div class="col-12">
                <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/Student_Journal'">
                    Back
                </button>
            </div>
        </div>
    </div>
    <br />
</div>

<script>
    var monthRecords;
   // $(document).ready(function () {
        var cookies = document.cookie.split("; ");

        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i];
            var eqPos = cookie.indexOf("=");
            var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
            //console.dir(getCookie(name));
            var cookievalue = getCookie(name);

            if (name != "selectedStudent") {
                $studentInputElement = $('#selectstudent');
                $optionElement = $('<option>').text(name).attr('value', cookievalue);
                $studentInputElement.append($optionElement);

            } else {
                $('#selectstudent').val(cookievalue);
                $('#studentId').text(cookievalue);

            }
        }//End of for loop
        g_getLocalStorage = sessionStorage.getItem($('#selectstudent').val());
        monthRecords = getMentoringHistory(g_getLocalStorage);
        $('#sessionNumber').on('change', function (e) {
            monthRecords.then(function (data) {
                var sessionNumber = $('#sessionNumber').val();
                var selectedSession = data[sessionNumber];
                // var newOption = $('<option>').text((data.length)).val(data.length);                var newOption = $('<option>').text(($('#sessionNumber').val() + 1)).val(($('#sessionNumber').val() + 1));
                $('#MentorSessionNumber').append(newOption);
                $('#date').val(moment(new Date(selectedSession.MentorSessionDateTimeStart)).format('DD/MM/YYYY'));
                $('#MentorSessionDateTimeStart').val(moment(new Date(selectedSession.MentorSessionDateTimeStart)).format('hh:mm A'));
                $('#MentorSessionDateTimeEnd').val(moment(new Date(selectedSession.MentorSessionDateTimeEnd)).format('hh:mm A'));
                $('#MentorSessionReflection').val(selectedSession.MentorSessionReflection);


            });//End of then Function


        });//End of change function 

        $('#selectstudent').on('change', function (e) {
            //console.dir('test');
            setCookie();
            g_getLocalStorage = sessionStorage.getItem($('#selectstudent').val());
            monthRecords = getMentoringHistory(g_getLocalStorage);
            //g_taskData = loadTaskData(g_getLocalStorage);
            //loadWeekOption();
        });
   // });


    function getCookie(name) {
        var dc = document.cookie;
        var prefix = name + "=";
        var begin = dc.indexOf("; " + prefix);
        if (begin == -1) {
            begin = dc.indexOf(prefix);
            if (begin != 0) return null;
        } else {
            begin += 2;
        }
        var end = document.cookie.indexOf(";", begin);
        if (end == -1) {
            end = dc.length;
        }
        return unescape(dc.substring(begin + prefix.length, end));
    }

    function setCookie() {
        var inName = "selectedStudent";
        var inValue = $('#selectstudent').val();
        //setCookie("selectedStudent", ("#selectstudent").val());
        var exdate = new Date();
        var expiredays = 1;
        exdate.setHours(exdate.getHours() + 4);
        exdate.setDate(exdate.getDate());
        document.cookie = inName + "=" + inValue + ";path=/" + ((expiredays == null) ? "" : ";expires=" + exdate.toGMTString());
    }
    function getMentoringHistory(inStudentId) {
        return $.ajax({
            url: '/api/month_record/InternshipMonthRecords/' + inStudentId,
            method: 'GET',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            cache: false,
            success: function (data) {
                var selectedSession = data[0];
                var newOption = $('<option>').text((data.length)).val(data.length);                
                $('#MentorSessionNumber').append(newOption);
                $('#date').val(moment(new Date(selectedSession.MentorSessionDateTimeStart)).format('DD/MM/YYYY'));
                $('#MentorSessionDateTimeStart').val(moment(new Date(selectedSession.MentorSessionDateTimeStart)).format('hh:mm A'));
                $('#MentorSessionDateTimeEnd').val(moment(new Date(selectedSession.MentorSessionDateTimeEnd)).format('hh:mm A'));
                $('#MentorSessionReflection').val(selectedSession.MentorSessionReflection);
                for (i = 0; i < data.length; i++) {
                    var selectMonthRecord
                    var newOption = $('<option>').text((i + 1)).val(i);
                    $('#sessionNumber').append(newOption);
                }
            },//End of success
            error: function (data) {
                swal({
                    type: 'error',
                    title: 'Error',
                    text: data.Message
                });
            }//End of error
        });//End of ajax call

    }//end of getCOmpanyCheckList function
</script>
