<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item active">Personal Particulars</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card">
        <div class="card-header d-inline">
            <i class="fa fa-pencil fa-2x pull-left"></i> <h3>Personal Particulars</h3>
        </div>
        <div class="card-body">
                <div class="form-group">
                    <label class="control-label" for="name">
                        Name:
                    </label>
                    <input type='text' class="form-control" id="nameInput" readonly/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="contact">
                        Contact:
                    </label>
                    <input type='text' class="form-control" id="contactInput" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">
                        Email:
                    </label>
                    <input type='text' class="form-control" id="emailInput" />
                </div>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="form-group">
        <div class="col-12">
            <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/Index'">
                Back
            </button>
            <button class="btn btn-primary pull-right" name="submit" type="submit" id="btnUpdate">
                Update Details
            </button>
        </div>
    </div>
</div>
<br />
<script>
    $.ajax({
        url: '/api/UserManager/GetPersonal/',
        method: 'GET',
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        cache: false,
        success: function (data) {
            $('#nameInput').val(data.FullName);
            $('#contactInput').val(data.PhoneNumber)
            $('#emailInput').val(data.Email)
        },//End of success
        error: function (data) {
            swal({
                type: 'error',
                title: 'Error',
                text: data.Message
            });
        }//End of error
    });//End of ajax call

    $('#btnUpdate').on('click', function (e) {
        var contactNumber = $('#contatInput').val();
        var email = $('#emailInput').val();

        var webFormData = new WebFormData(contactNumber, email);

        $.ajax({
            url: '/API/UserManager/UpdatePersonal',
            method: 'PUT',
            contentType: "application/json",
            cache: false,
            data: "'" + JSON.stringify(webFormData) + "'",
            success: function (data) {
                swal({
                    type: 'success',
                    title: 'Saved',
                    text: data.Message
                }).then(
                    function () {
                        window.location.reload();
                    });
            },
            error: function (data) {
                swal({
                    type: 'error',
                    title: 'Error',
                    text: data.Message
                });
            }//End of error 
        });//End of ajax


    });//End of btnUpdate
    function WebFormData(inContactNumber, inEmail) {
        this.PhoneNumber = inContactNumber;
        this.Email = inEmail;
    }
</script>