@{
    ViewData["Title"] = "Personal Particulars Page";
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item active">Personal Particulars</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card">
        <div class="card-header d-inline">
            <i class="fa fa-pencil fa-2x pull-left"></i> <h3>Personal Particulars</h3>
        </div>
        <div class="card-body">
                <div class="form-group">
                    <label class="control-label" for="name">
                        Name:
                    </label>
                    <input type='text' class="form-control" id="name" readonly/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="contact">
                        Contact:
                    </label>
                    <input type='text' class="form-control" id="contact" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">
                        Email:
                    </label>
                    <input type='text' class="form-control" id="email" />
                </div>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="form-group">
        <div class="col-12">
            <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/Index'">
                Back
            </button>
            <button class="btn btn-primary pull-right" name="submit" type="submit">
                Update Details
            </button>
        </div>
    </div>
</div>
<br />
<script>
    $('#promptreset').on('click', function (e) {
        $('#resetModal').modal('show');
        console.log("hi")
    });
</script>