@{
    ViewData["Title"] = "Personal Particulars Page";
}
<div class="container-fluid">
    <!-- Example DataTables Card-->
    <section id="contact">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Personal Particulars</h2>
            <hr />
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Name</label>
                                <input class="form-control" id="nameInput" type="text" placeholder="Name" required="required" data-validation-required-message="Please enter a name." readonly>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Contact</label>
                                <input class="form-control" id="contactInput" type="number" placeholder="Contact" required="required" data-validation-required-message="Please enter a contact.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Email</label>
                                <input class="form-control" id="emailInput" type="email" placeholder="Email" required="required" data-validation-required-message="Please enter email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                            <div class="col-12">
                                <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/Index'">
                                    Back
                                </button>
                                <button class="btn btn-primary pull-right" name="submit" id="btnUpdate" type="submit">
                                    Update Details
                                </button>
                            </div>
                        </div>
                        <br />
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<br />
<script>
    $('.floating-label-form-group input').change(function (e) {
        $('body .floating-label-form-group').addClass("floating-label-form-group-with-value", !!$(e.target).val());
    });
    $.ajax({
        url: '/api/Accounts/loggedInUserDetails',
        method: 'GET',
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        cache: false,
        success: function (data) {
            console.dir(data);
            $('#nameInput').val(data.FullName).trigger('change');
            $('#contactInput').val(data.PhoneNumber);
            $('#emailInput').val(data.Email);
        },//End of success
        error: function (data) {
            swal({
                type: 'error',
                title: 'Error',
                text: data.Message
            });
        }//End of error
    });//End of ajax call


    $(function () {
        $('#contactForm').find('input').not('[type=submit]').jqBootstrapValidation({
            preventSubmit: true,
            submitSuccess: function ($form, event) {
                var contactNumber = $('#contactInput').val();
                var email = $('#emailInput').val();

                var webFormData = new WebFormData(contactNumber, email);

                $.ajax({
                    url: '/API/Accounts/updateParticulars',
                    method: 'PUT',
                    contentType: "application/json",
                    cache: false,
                    data: "'" + JSON.stringify(webFormData) + "'",
                    success: function (data) {
                        swal({
                            type: 'success',
                            title: 'Saved',
                            text: data.Message
                        }).then(
                            function () {
                                window.location.reload();
                            });
                    },
                    error: function (data) {
                        swal({
                            type: 'error',
                            title: 'Error',
                            text: data.Message
                        });
                    }//End of error
                });//End of ajax
            },
            submitError: function ($form, event, errors) {

            }
        });

    });//End of jqBootstrapValidatio



    function WebFormData(inContactNumber, inEmail) {
        this.PhoneNumber = inContactNumber;
        this.Email = inEmail;
    }
</script>