<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item active">Review</li>
    </ol>
    <div class="card" style="border-width:0px;">
        <div class="card-body">
            <div class="form-group">
                <div class="pull-left">
                    <label>Student Name:&nbsp</label><select class="form-control" id="selectstudent">
                        <option>Amelia Goh</option>
                        <option>Cho Qi Xiang</option>
                        <option>Tan Chia Wei</option>
                    </select>
                </div>
                @*<div class="col-md-2 col-sm-2 col-xs-12 pull-right">
                        <select class="form-control" id="exampleSelect1">
                            <option>Week 1 - 4</option>
                            <option>Week 4 - 8</option>
                            <option>Week 8 - 12</option>
                            <option>Week 12 - 16</option>
                        </select>
                    </div>*@
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#attendance" role="tab" data-toggle="tab">Attendance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#reflection" role="tab" data-toggle="tab">Reflection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#task" role="tab" data-toggle="tab">Daily Task</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#competency" role="tab" data-toggle="tab">Competency Checklist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#mentoring" role="tab" data-toggle="tab">Mentoring</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#grading" role="tab" data-toggle="tab">Grading</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="attendance">
                <div class="container text-left">
                    <br />
                    <div>
                        <h5>Attendance</h5>
                    </div>
                    <hr />
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable_attendance" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Time in</th>
                                        <th>Time Out</th>
                                        <th>Remarks</th>
                                        <th width="5%">Comments</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2011/04/27</td>
                                        <td>10:00</td>
                                        <td>18:00</td>
                                        <td>PH</td>
                                        <td><input id="comments"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <div>
                        <h5>Attendance Overall</h5>
                    </div>
                    <hr />
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTableAttendanceOverall" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Public Holidays</th>
                                        <th>MCs</th>
                                        <th>Company Off-Day</th>
                                        <th>Leave of Absence</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <form class="form-inline">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Total no. of days required:</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="requiredDays" type="text" value="80" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">No. of working days:</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="doneDays" type="text" value="-" readonly>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="reflection">
                <div class="container text-left">
                    <br />
                    <div>
                        <h5>Soft Skill Competency</h5>
                    </div>
                    <hr />
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <p>In terms of workplace knowledge, communication and interpersonal skills, reflect on:</p>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <div class="form-group">
                            <label class="control-label col-sm-8 requiredField" for="softskill1">(a) Areas you have done well.</label>
                            <textarea class="form-control" rows="5" id="softskill1" readonly></textarea>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <div class="form-group">
                            <label class="control-label col-sm-8 requiredField" for="softskill2">(b) Areas you would like to improve.</label>
                            <textarea class="form-control" rows="5" id="softskill2" readonly></textarea>
                        </div>
                    </div>
                    <br />
                    <div>
                        <h5>Technical Competency</h5>
                    </div>
                    <hr>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <p>Reflect on:</p>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <div class="form-group">
                            <label class="control-label col-sm-8 requiredField" for="hardskill1">(a) How you have applied what you have learnt in school and workplace</label>
                            <textarea class="form-control" rows="5" id="hardskill1" readonly></textarea>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <div class="form-group">
                            <label class="control-label col-sm-8 requiredField" for="hardskill2">(b) Areas you have done well.</label>
                            <textarea class="form-control" rows="5" id="hardskill2" readonly></textarea>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <div class="form-group ">
                            <label class="control-label col-sm-8 requiredField" for="hardskill3">(c) Areas you would like to improve.</label>
                            <textarea class="form-control" rows="5" id="hardskill3" readonly></textarea>
                        </div>
                    </div>
                    <br />
                    <div>
                        <h5>Feedback</h5>
                    </div>
                    <hr>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <div class="form-group">
                            <label class="control-label col-sm-3 requiredField" for="reflectionfeedback">Overall Comments:</label>
                            <textarea class="form-control" rows="5" id="reflectionfeedback" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="task">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable_task" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th width="10%">Date</th>
                                    <th>Task Recorded</th>
                                    <th width="5%">Remarks</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="competency">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tablecompetency" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>A. Domain Immersation</th>
                                    <th>Tick if performed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        1. Describe and explain respectively domain knowledge
                                        <ul>
                                            <li>
                                                Understand existing business operations
                                            </li>
                                            <li>
                                                Identify roles and responsibilities of company staff members
                                            </li>
                                            <li>
                                                Understand a project/system business requirements
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <input type="checkbox" name="checkboxQ1" id="q1" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>B. Project/System Analysis & Design</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>
                                        2. Participate and contribute to the review, analysis and verification of business and software requirements
                                        <ul>
                                            <li>
                                                Assist project team for project requirements gathering and analysis
                                            </li>
                                            <li>
                                                Assist in gathering of user requirements, which can be any activity such as design of questionnaire, logistics planning
                                            </li>
                                            <li>
                                                Identify and document an application problem or symptoms from users(when there is reported software bug)
                                            </li>
                                            <li>
                                                Propose solutions to an application problem with designated supervisors or mentors
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <input type="checkbox" name="checkboxQ2" id="q2" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        3. Prepare technical documentation and reports on requirements and analysis
                                        <ul>
                                            <li>
                                                Report the workflow of a business requirement, in the form of UML(Sequence, State etc. diagrams) or any in company standard documentation format
                                            </li>
                                            <li>
                                                Report or present a problem resolution/design to the users
                                            </li>
                                            <li>
                                                Document constraints or possible impacts in the application, during any code or functionality changes from bugfix or change request
                                            </li>
                                            <li>
                                                Perform an impact analysis (i.e. what could happen to the users, like loss of what data) of the risks involved in the reported application problem/error
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <input type="checkbox" name="checkboxQ3" id="q3" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>b. Discuss with the student on the internship requirements. (This is recommended to be carried out at the start of the inrernship)</td>
                                    <td>
                                        <div class="checkbox">
                                            <input type="checkbox" name="checkboxQ4" id="q4" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>c. Guide the student to meet requirements and learning objectives. This includes guiding the student on the tasks, setting performance expectations and encouraging student to ask questions to clarify job resposibilities.</td>
                                    <td>
                                        <div class="checkbox">
                                            <input type="checkbox" name="checkboxQ5" id="q5" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>d. Provide periodic feedback to student on his/her performance</td>
                                    <td>
                                        <div class="checkbox">
                                            <input type="checkbox" name="checkboxQ6" id="q6" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>e. Meet and discuss with the SP Liaison Officer on student's progress and performance during company visits.</td>
                                    <td>
                                        <div class="checkbox">
                                            <input type="checkbox" name="checkboxQ7" id="q7" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>f. Provide final assessment on student's performance</td>
                                    <td>
                                        <div class="checkbox">
                                            <input type="checkbox" name="checkbox8" id="q8" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>3. Mentorship</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>a. Provide student an overview of the company structure, nature of business and work requirements.</td>
                                    <td>
                                        <div class="checkbox">
                                            <input type="checkbox" name="checkboxQ9" id="q9" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>b. Share about job propects, career paths and trends within the industry. This can be done through sharing of work experience, relevant resources, networking contacts, as appropriate.</td>
                                    <td>
                                        <div class="checkbox">
                                            <input type="checkbox" name="checkboxQ10" id="q10" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>b. Motivate the student with your work experience and career journey in the industry. This includes, but not limited to, providing the student and understanding on the right kind of professional and personal ethics, attiudes and values to adopt to be effective</td>
                                    <td>
                                        <div class="checkbox">
                                            <input type="checkbox" name="checkboxQ11" id="q11" />
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="mentoring" class="tab-pane fade">
                <div class="container">
                    <br />
                    <div class="text-left">
                        <h5>Mentoring Detail</h5>
                    </div>
                    <hr />
                    <div class="col-12">
                        <div class="col-6 pull-left">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Session #</label>
                                <select class="form-control" id="exampleFormControlSelect1" disabled>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="date">
                                    Session Date
                                </label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar">
                                        </i>
                                    </div>
                                    <input class="form-control" id="date" name="date" placeholder="DD/MM/YYYY" type="text" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="timein">
                                    Time started
                                </label>
                                <div class='input-group date' id='timein'>
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>

                                    <input type='text' class="form-control" id="timeinval" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-6 pull-right">
                            <div class="form-group">
                                <label class="control-label" for="timeout">
                                    Time ended
                                </label>
                                <div class='input-group date' id='timeout'>
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input type='text' class="form-control" id="timeoutval" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label" for="comment">Please note down what you have learnt from the mentoring session. The areas of learning may include, but not limited to, an overview of the company structure, nature of business and work requirements; jobs prospects and career paths within the industry; or work experience of your mentor in the industry</label>
                            <textarea class="form-control" rows="5" id="comment" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div id="grading" class="tab-pane fade">
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Rating Scale & Descriptions
                                    </a>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <ul class="card-block">
                                    <li>Exceeds expectations in the area assessed </li>
                                    <li>Very good in the area assessed</li>
                                    <li>Good in the area assessed</li>
                                    <li>Generally effective in the area assessed</li>
                                    <li>Does not meet expectations in the area accessed</li>
                                </ul>
                            </div>
                        </div>
                        <table class="table table-bordered" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Assessment Criteria</th>
                                    <th>Rating</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingTwo">
                                                <h6 class="mb-0">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                        1. Workplace knowlegde, communication and interpersonal skills encompass the following areas
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                <ul class="card-block">
                                                    <li>Plans and organises assigned work.</li>
                                                    <li>Communicates effectively in verbal and/or written communcation.</li>
                                                    <li>Maintains good attendance punctuality.</li>
                                                    <li>Demonstrates commitment, motivation and reliability towards work assignment.</li>
                                                    <li>Able to work effectively with others towards the accomplishment of common goals.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <select class="form-control" id="rating1" disabled="disabled">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingThree">
                                                <h6 class="mb-0">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                        2. Technical Knowledge & Skills encompass the following areas
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                                <ul class="card-block">
                                                    <li>Able to apply relevant skills effectively and proficiently.</li>
                                                    <li>Able to produce quality work in accordance with schedules and timelines.</li>
                                                    <li>Is resourceful and can act and respond independently or with minimal guidance.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <select class="form-control" id="rating2" disabled="disabled">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingFour">
                                                <h6 class="mb-0">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                                        3. Independent learning skills encompass the following areas
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                                                <ul class="card-block">
                                                    <li>Able to acquire new skills and apply knowledge learnt.</li>
                                                    <li>Is resorceful and able to resolve problem when challenges are encountered</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <select class="form-control" id="rating3" disabled="disabled">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingFive">
                                                <h6 class="mb-0">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                                        4. Average rating to overall grade
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                                                <ul class="card-block">
                                                    <li>Higher or equal to 4.5 -- Distinction</li>
                                                    <li>Higher or equal to 4.0 -- A (Excellent)</li>
                                                    <li>Higher or equal to 3.5 -- B+ (Very good)</li>
                                                    <li>Higher or equal to 3.0 -- B (Good)</li>
                                                    <li>Higher or equal to 2.5 -- C+ (Good Credit)</li>
                                                    <li>Higher or equal to 2.0 -- C (Credit)</li>
                                                    <li>Higher or equal to 1.5 -- D (Pass)</li>
                                                    <li>Less than 1.5 -- F (Fail)</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <select class="form-control" id="grading" disabled="disabled">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>

                        </div>
                        <form class="form-group">
                            <div class="form-group">
                                <label class="col-md-8 control-label">Average rating based on the above four assessment criteria:</label>
                                <div class="col-sm-5">
                                    <input class="form-control" id="assessmentCriteria" type="text" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Overall Grade:</label>
                                <div class="col-sm-5">
                                    <input class="form-control" id="overallGrade" type="text" readonly>
                                </div>
                            </div>
                        </form>



                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-sm-3 requiredField" for="overallComment">Overall Comments:</label>
                                <textarea class="form-control" rows="5" id="overallComment" readonly></textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="form-group">
        <div class="col-12">
            <button class="btn btn-default pull-left" onclick="window.history.go(-1); return false">
                Back
            </button>
        </div>
    </div>
</div>
&nbsp;
<!-- comment Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="attendanceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="attendanceModalLabel">11 October 2017</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container">
                    <form>
                        <div class="form-group ">
                            <label>Comment:</label>
                            <textarea class="form-control" rows="5" id="reviewtask" readonly>Went to meeting, and prepared meeting report.</textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var attendancetable = $('#dataTable_attendance').DataTable({
            dom: "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-4'l><'col-sm-8'p>>",
            ajax: {
                url: '/Api/Task_Record',
                dataSrc: ''
            },
            columns: [
                { data: "DayRecordId" },
                { data: "Description" },
                { data: "Description" },
                { data: "Description" },
                {
                    data: null,
                    "bSortable": false,
                    "mRender": function (o) { return '<button class="btn btn-sm btn-primary">View</button>' }
                }
            ]
        });
        $('#dataTable_attendance tbody').on('click', 'button.btn-primary', function (e) {
            $('#commentModal').modal('show');
        });
        //end of attendance script

        var tasktable = $('#dataTable_task').DataTable({
            dom: "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-4'l><'col-sm-8'p>>",
            ajax: {
                url: '/Api/Task_Record',
                dataSrc: ''
            },
            columns: [
                { data: "DayRecordId" },
                { data: "Description" },
                {
                    data: null,
                    "bSortable": false,
                    "mRender": function (o) { return '<button class="btn btn-sm btn-primary">View</button>' } //note under condition if no remarks was given the column would be blank
                }
            ],
            language: {
                emptyTable: "No Task was found, please create one.",
            }
        });
        $('#dataTable tbody').on('click', 'button.btn-primary', function (e) {
            $('#commentModal').modal('show');
        });

        //$('#addattendance').on('click', function (e) {
        //    $('#attendanceModal').modal('show');
        //});
        $("#tablecompetency input").attr("disabled", "disabled"); //disable input for table competency
    });
</script>
