@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item">
            <a href="~/Home/Student_Journal">Student Journal</a>
        </li>
        <li class="breadcrumb-item active">Daily Task</li>
    </ol>
    <div class="card" style="border-width:0px;">
        <div class="card-body">
            <div class="form-group">
                <div class="pull-left">
                    <label>Student Name:&nbsp</label>
                    <select class="form-control" id="selectstudent">
                        <option>Amelia Goh</option>
                        <option>Cho Qi Xiang</option>
                        <option>Tan Chia Wei</option>
                    </select>
                </div>
                <div class="col-xs-12 pull-right">
                    <label>View By:&nbsp</label>
                    <select class="form-control" id="selectWeek">
                        @*<option>Week 1</option>
                            <option>Week 2</option>
                            <option>Week 3</option>
                            <option>Week 4</option>*@
                    </select>
                </div>
            </div>
        </div>
    </div>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header d-inline">
            <i class="fa fa-table fa-2x pull-left"></i> <h3>Daily Tasks</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="10%">Date</th>
                            <th>Task Recorded</th>
                            <th width="5%">Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*<tr>
                                <td>1</td>
                                <td>I love to Slack</td>
                                <td><input type='text' class="form-control" id="remarks" /></td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
    <!--end with attendance taking-->
    <div class="card-body">
        <div class="form-group">
            <div class="col-12">
                <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/Student_Journal'">
                    Back
                </button>
            </div>
        </div>
    </div>
    <br />
</div>

<!-- comment Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="attendanceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="attendanceModalLabel">11 October 2017</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container">
                    <form>
                        <div class="form-group ">
                            <label>Comment:</label>
                            <textarea class="form-control" rows="5" id="review" readonly>Went to meeting, and prepared meeting report.</textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<!-- /.content-wrapper -->
<script>
    var g_getLocalStorage;
    var g_taskData;
    var g_WeekNo = [];
    //var g_table;
    $(document).ready(function () {

        var cookies = document.cookie.split("; ");

        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i];
            var eqPos = cookie.indexOf("=");
            var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
            //console.dir(getCookie(name));
            var cookievalue = getCookie(name);

            if (name != "selectedStudent") {
                $studentInputElement = $('#selectstudent');
                $optionElement = $('<option>').text(name).attr('value', cookievalue);
                $studentInputElement.append($optionElement);

            } else {
                $('#selectstudent').val(cookievalue);

            }

        }

        g_getLocalStorage = sessionStorage.getItem($('#selectstudent').val());

        g_taskData = loadTaskData(g_getLocalStorage);
        loadWeekOption();


        $('#selectstudent').on('change', function (e) {
            //console.dir('test');
            setCookie();
            g_getLocalStorage = sessionStorage.getItem($('#selectstudent').val());
            g_taskData = loadTaskData(g_getLocalStorage);
            loadWeekOption();
        });
        $('#selectWeek').on('change', function (e) {
            //console.dir('testing');
            //g_getLocalStorage = sessionStorage.getItem($('#selectstudent').val());
            selectedWeek();
        });

    });//End of Document Ready function

    function getCookie(name) {
        var dc = document.cookie;
        var prefix = name + "=";
        var begin = dc.indexOf("; " + prefix);
        if (begin == -1) {
            begin = dc.indexOf(prefix);
            if (begin != 0) return null;
        } else {
            begin += 2;
        }
        var end = document.cookie.indexOf(";", begin);
        if (end == -1) {
            end = dc.length;
        }
        return unescape(dc.substring(begin + prefix.length, end));
    }
    function setCookie() {
        var inName = "selectedStudent";
        var inValue = $('#selectstudent').val();
        //setCookie("selectedStudent", ("#selectstudent").val());
        var exdate = new Date();
        var expiredays = 1;
        exdate.setHours(exdate.getHours() + 4);
        exdate.setDate(exdate.getDate());
        document.cookie = inName + "=" + inValue + ";path=/" + ((expiredays == null) ? "" : ";expires=" + exdate.toGMTString());
    };
    function loadTaskData(inLocalStorage) {
        //var testAfterAjax;
        return $.ajax({
            url: '/Api/Task_Record/getTaskRecordsUnderInternRecord/' + inLocalStorage,
            method: 'GET',
            dataType: 'json',
            cache: false,
            success: function (data) {
                //for (i = 0; i < data.length; i++) {
                //    if (data[i].Remarks != null) {
                //        sessionStorage.setItem(data[i].TaskRecordId, data[i].Remarks);
                //    }
                //}//End of for loop
            }//End of success
        });//End of Ajax
    }
    function loadDataTable(data) {
        var g_table = $('#dataTable').DataTable({
            dom: "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-4'l><'col-sm-8'p>>",
            destroy: true,
            data: data,
            columns: [
                {
                    data: "Date",
                    "mRender": function (o) { return moment(o).format("DD/MM/YYYY") }
                },
                { data: "Description" },
                {
                    //data: "TaskRecordId",
                    "bSortable": false,
                    "mRender": function (data, type, row) {
                        return '<button class="btn btn-sm btn-primary" value="' + row.TaskRecordId + '">View</button>'
                    } //note under condition if no remarks was given the column would be blank
                }
            ],
            language: {
                emptyTable: "No Task was found, please create one.",
            }
        });//End of DataTable
        $('#dataTable tbody').on('click', 'button[class="btn btn-sm btn-primary"]', function (e) {
           // console.dir("FUCK ME");
            var $row = $(this).closest('tr');

            // Get row data
            var data = g_table.row($row).data();
            $('#commentModal').modal('show');
            $('#review').text(sessionStorage.getItem($(this).val()) == null ? "No Remarks" : sessionStorage.getItem($(this).val()));
           // console.dir(data);
        });
    }
    function loadWeekOption() {
        $("#selectWeek option").remove();
        g_taskData.then(function (data) {
            var g_Month = [];
            var g_MonthRecordId = [];
            for (i = 0; i < data.length; i++) {
                if (g_Month.includes(Math.ceil(data[i].WeekNo / 4))) {
                    //Do nothing
                } else {

                    g_Month.push(Math.ceil(data[i].WeekNo / 4));
                    g_MonthRecordId.push(data[i].MonthRecordId);
                }

            };
            for (k = 0; k < g_Month.length; k++) {
                var tempWeek = g_Month[k] * 4;

                var tempWeekText = "Week " + (tempWeek - 3) + " - " + tempWeek;
                $weekInputElement = $('#selectWeek');
                $weekOptionElement = $('<option>').text(tempWeekText).attr('value', g_MonthRecordId[k]);
                $weekInputElement.append($weekOptionElement);

            }
            selectedWeek();
        });//End of Then function

    }
    function selectedWeek() {
        g_taskData.then(function (data) {
            var finalData = [];
            var selectedWeek = $('#selectWeek').val().split(',').map(Number);
            for (i = 0; i < data.length; i++) {
                if (selectedWeek.includes(data[i].MonthRecordId)) {
                    finalData.push(data[i]);

                }
            }//End of for loop
            loadDataTable(finalData);
        })
    }

</script>