<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item active">Touchpoint</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-pencil"></i> Touchpoint
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 pull-left">
                    <label>Student Name:&nbsp</label><a href="#">Amelia Goh</a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 pull-right">
                    <button class="btn btn-secondary form-control" id="addtp">
                        Add
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Comment</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="col-12">
                    <button class="btn btn-default" onclick="window.history.go(-1); return false">
                        Back
                    </button>
                </div>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
</div>

    <!-- Add Touchpoint Modal -->
<div class="modal fade" id="addtpModal" tabindex="-1" role="dialog" aria-labelledby="addtpModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addtpModalLabel">Add Touchpoint</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container">
                    <form>
                        <div class="form-group">
                            <label class="control-label requiredField" for="date">
                                Date
                                <span class="asteriskField">
                                    *
                                </span>
                            </label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar">
                                    </i>
                                </div>
                                <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label requiredField" for="timein">
                                Time
                                <span class="asteriskField">
                                    *
                                </span>
                            </label>
                            <div class='input-group date' id='timein'>
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>

                                <input type='text' class="form-control" />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label" for="comment">
                                Comment
                            </label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submit">Create</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <!----   <a class="btn btn-primary" href="login.html">Logout</a>  -->
            </div>
        </div>
    </div>
</div>

<!-- Edit Touchpoint Modal -->
<div class="modal fade" id="updatetpModal" tabindex="-1" role="dialog" aria-labelledby="updatetpModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addtpModalLabel">Edit Touchpoint</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container">
                    <form>
                        <div class="form-group">
                            <label class="control-label requiredField" for="date">
                                Date
                                <span class="asteriskField">
                                    *
                                </span>
                            </label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar">
                                    </i>
                                </div>
                                <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label requiredField" for="timein">
                                Time
                                <span class="asteriskField">
                                    *
                                </span>
                            </label>
                            <div class='input-group date' id='timein'>
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>

                                <input type='text' class="form-control" />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label" for="comment">
                                Comment
                            </label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submit">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <!----   <a class="btn btn-primary" href="login.html">Logout</a>  -->
            </div>
        </div>
    </div>
</div>
@*<script>
        $(document).ready(function () {

            var editor = new $.fn.dataTable.Editor(table);

            //var t = $('#dataTable').DataTable();
            var counter = 1;

            var table = $('#dataTable').DataTable({
                ajax: {
                    url: '/Api/Task_Record',
                    dataSrc: ''
                },
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": false,
                "bSort": false,
                "bInfo": false,
                "bAutoWidth": false,
                "asStripClasses": null,
                //--disable the sorting--
                dom: 'lrt',
                "aoColumns": [
                    { "mData": "DayRecordId", "sWidth": "10%" },
                    { "mData": "Description", "sTitle": "Description", "sWidth": "80%" },
                    {
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o) { return '<button class="btn btn-sm btn-danger" id="deletebtn"><i class="fa fa-times"></i></button>' }
                    }
                ],
                language: {
                    emptyTable: "No task was found, please create one.",
                }
            });
            $('#dataTable tbody').on('click', 'button.btn-danger', function (e) {
                console.log("button 1 is click");
            });
        });
    </script>*@
<script>
    var editor;
    $(document).ready(function () {
        var table = $('#dataTable').DataTable({
            "paging": true,
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": false,
            "bInfo": true,
            "bAutoWidth": false,
            "asStripClasses": null,
            //--disable the sorting--
            dom: 'rtip',
            ajax: {
                url: '/Api/Task_Record',
                dataSrc: ''
            },
            order: [[1, 'asc']],
            columns: [
                { data: "DayRecordId" },
                { data: "DayRecordId", "sWidth": "10%" },
                { data: "Description", "sWidth": "60%" },
                {
                    data: null,
                    "sWidth": "10%",
                    "bSortable": false,
                    "mRender": function (o) { return '<button class="btn btn-sm btn-primary"><i class="fa fa-pencil-square-o"></i></button>&nbsp<button class="btn btn-sm btn-danger" id="deletebtn"><i class="fa fa-trash"></i></button>' }
                }
            ],
            language: {
                emptyTable: "No task was found, please create one.",
            }
        });

        $('#addtp').on('click', function (e) {
            $('#addtpModal').modal('show');
        });
        
        $('#dataTable tbody').on('click', 'button.btn-primary', function (e) {
            $('#updatetpModal').modal('show');
        });
    });
</script>