<div class="container-fluid">
    <!-- Example DataTables Card-->
    <section id="contact">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Add Batch</h2>
            <hr />
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Batch Name</label>
                                <input class="form-control" id="batchname" type="text" placeholder="Batch Name" required="required" data-validation-required-message="Please enter a batch name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Course Name</label>
                                <div class='input-group' id='findcourse'>
                                    <input type='text' class="form-control" id="selectCourse" placeholder="Course Name" required="required" style="background-color:white" onclick="findCourseModal()" data-validation-required-message="Please select a course." readonly />
                                    <div class="input-group-addon" onclick="findCourseModal()" style="background-color:white;border:none;">
                                        <i class="fa fa-search"></i>
                                    </div>
                                </div>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Assign SLO</label>
                                <div class='input-group' id='findSLO'>
                                    <input type='text' class="form-control" id="selectSLO" placeholder="Assign SLO" required="required" style="background-color:white" onclick="findSLOAssignedModal()" data-validation-required-message="Please select a senior liaison officer." readonly />
                                    <div class="input-group-addon" onclick="findSLOAssignedModal()" style="background-color:white;border:none;">
                                        <i class="fa fa-search"></i>
                                    </div>
                                </div>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Start Date</label>
                                <div class='input-group'>
                                    <input type='text' class="form-control" id="selectstartdate" placeholder="Start Date" required="required" style="background-color:white" name="date" data-validation-required-message="Please select a start date." readonly />
                                    <div class="input-group-addon" name="date" style="background-color:white;border:none;">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>End Date</label>
                                <div class='input-group'>
                                    <input type='text' class="form-control" id="selectenddate" placeholder="End Date" required="required" style="background-color:white" name="date" data-validation-required-message="Please select an end date." readonly />
                                    <div class="input-group-addon" name="date" style="background-color:white;border:none;">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                            <div class="col-12">
                                <button class="btn btn-default pull-left" onclick="window.history.go(-1); return false">
                                    Back
                                </button>
                                <button class="btn btn-primary pull-right" name="submit" type="submit">
                                    Save
                                </button>
                            </div>
                        </div>
                        <br />
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Course Modal -->
<div class="modal fade" id="courseModal" tabindex="-1" role="dialog" aria-labelledby="courseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="courseModalLabel">Course Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="col-12">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" placeholder="Search...">
                                <div class="input-group-addon">
                                    <i class="fa fa-search">
                                    </i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" id="task">AY16/17 S2\\\n AY16/17 S1</textarea>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <div class="form-inline">
                                    <label>Selected: &nbsp;</label>
                                    <input class="form-control" value="AY16/17 S1" readonly>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="submit">Confirm</button>
                <!----   <a class="btn btn-primary" href="login.html">Logout</a>  -->
            </div>
        </div>
    </div>
</div>

<!-- SLO Modal -->
<div class="modal fade" id="sloModal" tabindex="-1" role="dialog" aria-labelledby="sloModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sloModalLabel">SLO Assigned</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="col-12">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" placeholder="Search...">
                                <div class="input-group-addon">
                                    <i class="fa fa-search">
                                    </i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" id="task">AY16/17 S2\\\n AY16/17 S1</textarea>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <div class="form-inline">
                                    <label>Selected: &nbsp;</label>
                                    <input class="form-control" value="AY16/17 S1" readonly>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="submit">Confirm</button>
                <!----   <a class="btn btn-primary" href="login.html">Logout</a>  -->
            </div>
        </div>
    </div>
</div>
<script>
    function findCourseModal() {
        $('#courseModal').modal('show');
        //http://www.dyn-web.com/tutorials/forms/select/multi-selected.php
        //please take a look at this for reference
    }
    function findSLOAssignedModal() {
        $('#sloModal').modal('show');
        //http://www.dyn-web.com/tutorials/forms/select/multi-selected.php
        //please take a look at this for reference
    }
    $getUserHandler = jQuery.ajax({

        url: '/API/Batches/GetUserCourseInformation',
        method: 'get',
        dataType: 'json',
        cache: false

    });
    $getUserHandler.done(function (data, textStatus, jqXHR) {
        $SLODownElement = $('#dropSLO');
        $CourseDownElement = $('#dropCourse')
        for (i = 0; i < data.UserList.length; i++) {
            // $tableBodyElement = $('.dropdown-menu');
            Name = data.UserList[i].Name;
            Emails = data.UserList[i].Email;
            $dropElement = $('<a>', { text: Name }).attr('class', 'dropdown-item').attr('name', 'SLO').attr('value', Emails);
            $drop2Element = $('<li>');
            $drop2Element.append($dropElement);
            //$dropElement = $('<input>').attr('type', 'radio').val(visibilityId).attr('name', 'visibilityIdInput');
            $SLODownElement.append($drop2Element);
        }
        for (k = 0; k < data.CourseList.length; k++) {
            CourseId = data.CourseList[k].CourseId;
            CourseCode = data.CourseList[k].CourseCode;
            $dropElement = $('<a>', { text: CourseCode }).attr('class', 'dropdown-item').attr('name', 'Course').attr('value', CourseId);
            $drop2Element = $('<li>');
            $drop2Element.append($dropElement);
            $CourseDownElement.append($drop2Element)
        }
        $('#dropCourse li > a').on('click', function () {
            // $('#courseAssigned').val($(this).text());
            $('#courseAssigned').val($(this).text());
            $('#courseAssigned').attr('value', $(this).attr('value'));

        });

        $('#dropSLO li > a').on('click', function () {
            $('#assignedSlo').val($(this).text());
            $('#assignedSlo').attr('value', $(this).attr('value'));
        });
    }); // End of .Done Handler

    function WebFormData(inBatchName, inBatchDescription, inCourseAssigned, inSLOAssigned, inStartDate, inEndDate) {
        this.BatchName = inBatchName;
        this.BatchDescription = inBatchDescription;
        this.CourseAssigned = inCourseAssigned;
        this.SLOAssigned = inSLOAssigned;
        this.StartDate = inStartDate;
        this.EndDate = inEndDate;

    }
    $('#btnSave').on('click', function () {

        var collectedBatchName = $('#batchNo').val();
        var collectedBatchDescription = $('#batchDescription').val();
        var collectedCourseAssigned = $('#courseAssigned').attr('value');
        var collectedSLOAssigned = $('#assignedSlo').attr('value');
        var collectedStartDate = new Date($('#startDate').val());
        var collectedEndDate = new Date($('#endDate').val());

        var webFormData = new WebFormData(collectedBatchName, collectedBatchDescription, collectedCourseAssigned, collectedSLOAssigned, collectedStartDate, collectedEndDate);
        var webFormDatainString = JSON.stringify(webFormData);
        $saveBatchHandler = jQuery.ajax({
            url: '/API/Batches/SaveNewBatchInformation/',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            data: "'" + webFormDatainString + "'"

        });
        $saveBatchHandler.done(function (data, textStatus, jqXHR) {


        });//



    });



</script>