<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Company</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Company
        </div>
        <div class="card-body">

            <div class="btn-group pull-right">
                <a asp-controller="Home" asp-action="CreateCompany" ><input href=""  type="button" class="btn btn-primary" value="Add Company" id="addcomapnyButton"/></a>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Company Name</th>
                            <th>Address</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody id="companyTableBody">
                        <tr>
                            <td>Websparks Pte Ltd</td>
                            <td>52 Horne Rd</td>
                            <td><a href="/mypath"><i class="fa fa-pencil"></i></a></td>
                        </tr>
                        <tr>
                            <td>TripleDots Technology</td>
                            <td>73 Ayer Rajar</td>
                            <td><a href="/mypath"><i class="fa fa-pencil"></i></a></td>
                        </tr>
                        <tr>
                            <td>RapidCloud</td>
                            <td>RedHill Rd 14</td>
                            <td><a href="/mypath"><i class="fa fa-pencil"></i></a></td>
                        </tr>
                        <tr>
                            <td>Aventure Pte Ltd</td>
                            <td>Commonwealth</td>
                            <td><a href="/mypath"><i class="fa fa-pencil"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>


<script>

    $getCompanyHandler = jQuery.ajax({

        url: '/API/Companies/',
        method: 'get',
        dataType: 'json',
        cache: false

    });
    $getCompanyHandler.done(function (data, textStatus, jqXHR) {
        //var test = data;

        $tableBodyElement = $('#companyTableBody');
        for (i = 0; i < data.length; i++) {

            company = data[i];

            companyId = company.CompanyId;
            companyName = company.CompanyName;
            companyAddress = company.CompanyAddress;

            //courseName = batch.CourseName[0].CourseName;

            $rowElement = $('<tr></tr>');
            $cellElement = $('<td></td>', { text: companyName });
            $rowElement.append($cellElement);

            $cellElement = $('<td></td>', { text: companyAddress });
            $rowElement.append($cellElement);
           

            $pencilElement = $('<i></i>').attr('class', 'fa fa-pencil');
            $ahrefElement = $('<a></a>').attr('href', '~/../EditCompany/' + companyId);
            $ahrefElement.append($pencilElement);
            $cellElement = $('<td></td>');
            $cellElement.append($ahrefElement);
            $rowElement.append($cellElement);
            
            $tableBodyElement.append($rowElement);
        }
    });
</script>