@{
    ViewData["Title"] = "Edit Batch Page";
}
<div class="container-fluid">
    <!-- Example DataTables Card-->
    <section id="contact">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Edit Batch</h2>
            <hr />
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Batch Name</label>
                                <input class="form-control" id="batchname" type="text" placeholder="Batch Name" required="required" data-validation-required-message="Please enter a batch name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Course Name</label>
                                <div class='input-group' id='findcourse'>
                                    <input type='text' class="form-control" id="selectCourse" placeholder="Course Name" required="required" style="background-color:white" onclick="findCourseModal()" data-validation-required-message="Please select a course." readonly />
                                    <div class="input-group-addon" onclick="findCourseModal()" style="background-color:white;border:none;">
                                        <i class="fa fa-search"></i>
                                    </div>
                                </div>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Assign SLO</label>
                                <div class='input-group' id='findSLO'>
                                    <input type='text' class="form-control" id="selectSLO" placeholder="Assign SLO" required="required" style="background-color:white" onclick="findSLOAssignedModal()" data-validation-required-message="Please select a senior liaison officer." readonly />
                                    <div class="input-group-addon" onclick="findSLOAssignedModal()" style="background-color:white;border:none;">
                                        <i class="fa fa-search"></i>
                                    </div>
                                </div>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Start Date</label>
                                <div class='input-group'>
                                    <input type='text' class="form-control" id="selectstartdate" placeholder="Start Date" required="required" style="background-color:white" name="date" data-validation-required-message="Please select a start date." readonly />
                                    <div class="input-group-addon" name="date" style="background-color:white;border:none;">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>End Date</label>
                                <div class='input-group'>
                                    <input type='text' class="form-control" id="selectenddate" placeholder="End Date" required="required" style="background-color:white" name="date" data-validation-required-message="Please select an end date." readonly />
                                    <div class="input-group-addon" name="date" style="background-color:white;border:none;">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                            <div class="col-12">
                                <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/ViewBatch'">
                                    Back
                                </button>
                                <button class="btn btn-primary pull-right" name="submit" type="submit">
                                    Update
                                </button>
                            </div>
                        </div>
                        <br />
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Course Modal -->
<div class="modal fade" id="courseModal" tabindex="-1" role="dialog" aria-labelledby="courseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="courseModalLabel">Course Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="col-12">
                    <form>
                        <div class="form-group">
                            <select id="courseSelect" size="6" style="width: 100%;"></select>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <div class="form-inline">
                                    <label>Selected: &nbsp;</label>
                                    <input class="form-control col-9" value="" readonly id="txtSelected">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnSubmit">Confirm</button>
                <!----   <a class="btn btn-primary" href="login.html">Logout</a>  -->
            </div>
        </div>
    </div>
</div>

<!-- SLO Modal -->
<div class="modal fade" id="sloModal" tabindex="-1" role="dialog" aria-labelledby="sloModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sloModalLabel">SLO Assigned</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="col-12">
                    <form>
                        <div class="form-group">
                            <select id="sloSelect" size="6" style="width: 100%;"></select>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <div class="form-inline">
                                    <label>Selected: &nbsp;</label>
                                    <input class="form-control col-9" value="" readonly id="txtSelected2">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnSubmit2">Confirm</button>
                <!----   <a class="btn btn-primary" href="login.html">Logout</a>  -->
            </div>
        </div>
    </div>
</div>
<script>
            $(document).ready(function () {
        //  console.dir($('#contactForm input'));
        //  $('#courseName').jqBootstrapValidation();
        $.ajax({
            url: '/api/Courses',
            method: 'GET',
            dataType: 'json',
            cache: false,
            success: function (data) {
                $('#courseSelect').select2();
                for (i = 0; i < data.length; i++) {
                    //    $('#courseSelect').val(data[i].)
                    $courseInputElement = $('#courseSelect');
                    $optionElement = $('<option>').text(data[i].CourseName).attr('value', data[i].CourseId);
                    $courseInputElement.append($optionElement);
                }
            }//End of success
        });//End of Ajax

        $('#txtSearch').on("keyup", function (e) {
            console.dir($(this).val());
            var text = $(this).val();
            var options = $('#courseSelect option');
            //var options = $('#courseSelect').option;
            for (var i = 0; i < options.length; i++) {
                var option = options[i];
                var optionText = option.text;
                var lowerOptionText = optionText.toLowerCase();
                var lowerText = text.toLowerCase();
                var regex = new RegExp("^" + text, "i");
                var match = optionText.match(regex);
                var contains = lowerOptionText.indexOf(lowerText) != -1;
                if (match || contains) {

                    //option.selected = true;
                    return;
                }
                $(this).selectedIndex = 0;
            }
        });//End of txtSearch function

        $('#courseSelect').on('change', function (e) {
            $('#txtSelected').val($('#courseSelect option:selected').text());
        });//End of Select Change
        $('#btnSubmit').on('click', function (e) {

            $('#selectCourse').val($('#courseSelect option:selected').text());// To set display text on input element
            $('#selectCourse').attr('value', ($('#courseSelect option:selected').val())); // To set course value id to the input element

            $('#courseModal').modal('hide');
        });//End of button submit for popup

        //SLO
        $.ajax({
            url: '/api/Accounts/LiaisonOfficers',
            method: 'GET',
            dataType: 'json',
            cache: false,
            success: function (data) {
                $('#sloSelect').select2();
                for (i = 0; i < data.length; i++) {
                    //    $('#projectSelect').val(data[i].)
                    $sloInputElement = $('#sloSelect');
                    $optionElement2 = $('<option>').text(data[i].Name).attr('value', data[i].UserId);
                    $sloInputElement.append($optionElement2);
                }
            }//End of success
        });//End of Ajax

        $('#txtSearch2').on("keyup", function (e) {
            console.dir($(this).val());
            var text = $(this).val();
            var options = $('#sloSelect option');
            //var options = $('#projectSelect').option;
            for (var i = 0; i < options.length; i++) {
                var option = options[i];
                var optionText = option.text;
                var lowerOptionText = optionText.toLowerCase();
                var lowerText = text.toLowerCase();
                var regex = new RegExp("^" + text, "i");
                var match = optionText.match(regex);
                var contains = lowerOptionText.indexOf(lowerText) != -1;
                if (match || contains) {

                    //option.selected = true;
                    return;
                }
                $(this).selectedIndex = 0;
            }
        });//End of txtSearch function

        $('#sloSelect').on('change', function (e) {
            $('#txtSelected2').val($('#sloSelect option:selected').text());
        });//End of Select Change
        $('#btnSubmit2').on('click', function (e) {

            $('#selectSLO').val($('#sloSelect option:selected').text());// To set display text on input element
            $('#selectSLO').attr('value', ($('#sloSelect option:selected').val())); // To set project value id to the input element

            $('#sloModal').modal('hide');
        });//End of button submit for popup


    });//End of document ready.
    function findCourseModal() {
        $('#courseModal').modal('show');
        //http://www.dyn-web.com/tutorials/forms/select/multi-selected.php
        //please take a look at this for reference
    }
    function findSLOAssignedModal() {
        $('#sloModal').modal('show');
        //http://www.dyn-web.com/tutorials/forms/select/multi-selected.php
        //please take a look at this for reference
    }
    var g_batchId = getBatchIdFromAddressBar();
    getDropDown();
    $('#btnSave').on('click', function () {
        var collectedBatchNo = $('#batchNo').val();
        var collectedBatchDescription = $('#batchDescription').val();
        var collectedCourseAssigned = $('#courseAssigned').attr('value');
        var collectedSLOAssigned = $('#assignedSlo').attr('value');
        var collectedStartDate = new Date($('.startDate').val());
        var collectedEndDate = new Date($('.endDate').val());

        var webFormData = new WebFormData(collectedBatchNo, collectedBatchDescription, collectedCourseAssigned, collectedSLOAssigned, collectedStartDate, collectedEndDate)
        var webFormDatainString = JSON.stringify(webFormData);
        $updateBatchHandler = jQuery.ajax({
            url: '/API/Batches/UpdateOneBatch/' + g_batchId,
            type: 'put',
            dataType: 'json',
            contentType: 'application/json',
            data: "'" + webFormDatainString + "'"

        });
        $updateBatchHandler.done(function (data, textStatus, jqXHR) {
            console.dir("Success");
            //getBatchDetails(g_batchId);
        });//

    });
    function WebFormData(inBatchName, inBatchDescription, inCourseAssigned, inSLOAssigned, inStartDate, inEndDate) {
        this.BatchName = inBatchName;
        this.BatchDescription = inBatchDescription;
        this.CourseAssigned = inCourseAssigned;
        this.SLOAssigned = inSLOAssigned;
        this.StartDate = inStartDate;
        this.EndDate = inEndDate;

    }
    function getBatchIdFromAddressBar() {

        var urlArray = window.location.href.split('/');
        var batchId = urlArray[urlArray.length - 1];
        return batchId;
    }
    function getDropDown() {
        $getUserHandler = jQuery.ajax({

            url: '/API/Batches/GetUserCourseInformation',
            method: 'get',
            dataType: 'json',
            cache: false

        });
        $getUserHandler.done(function (data, textStatus, jqXHR) {
            $SLODownElement = $('#dropSLO');
            $CourseDownElement = $('#dropCourse')
            getBatchDetails(g_batchId);
            for (i = 0; i < data.UserList.length; i++) {
                // $tableBodyElement = $('.dropdown-menu');
                Name = data.UserList[i].Name;
                Emails = data.UserList[i].Email;
                $dropElement = $('<a>', { text: Name }).attr('class', 'dropdown-item').attr('name', 'SLO').attr('value', Emails);
                $drop2Element = $('<li>');
                $drop2Element.append($dropElement);
                //$dropElement = $('<input>').attr('type', 'radio').val(visibilityId).attr('name', 'visibilityIdInput');
                $SLODownElement.append($drop2Element);
            }
            for (k = 0; k < data.CourseList.length; k++) {
                CourseId = data.CourseList[k].CourseId;
                CourseCode = data.CourseList[k].CourseCode;
                $dropElement = $('<a>', { text: CourseCode }).attr('class', 'dropdown-item').attr('name', 'Course').attr('value', CourseId);
                $drop2Element = $('<li>');
                $drop2Element.append($dropElement);
                $CourseDownElement.append($drop2Element)
            }
            $('#dropCourse li > a').on('click', function () {
                // $('#courseAssigned').val($(this).text());
                $('#courseAssigned').val($(this).text());
                $('#courseAssigned').attr('value', $(this).attr('value'));

            });

            $('#dropSLO li > a').on('click', function () {
                $('#assignedSlo').val($(this).text());
                $('#assignedSlo').attr('value', $(this).attr('value'));
            });


        }); // End of .Done Handler

    }
    function getBatchDetails(inBatchId) {

        $loadProductHandler = jQuery.ajax({
            method: 'get',
            dataType: 'json',
            cache: false,
            url: '/API/Batches/GetOneBatches/' + inBatchId
        })
        $loadProductHandler.done(function (data, textStatus, jqXHR) {

            var oneBatch = data;

            $SLODownElement = $('#dropSLO');
            $CourseDownElement = $('#dropCourse')

            batchId = data.BatchId;
            batchName = data.BatchName;
            description = data.Description;
            startDate = new Date(data.StartDate);
            finalStartDate = moment(startDate).format('MM/DD/YYYY');
            // newDate = startDate.format('DD MMMM YYYY');
            endDate = new Date(data.EndDate);
            finalEndDate = moment(endDate).format('MM/DD/YYYY');
            fullName = data.FullName;
            email = data.Email;
            courseCode = data.CourseCode;
            courseId = data.CourseId;

            $('#batchNo').val(batchName);
            $('#batchDescription').val(description);
            $('#courseCode').val(courseCode);
            $('#assignedSlo').val(fullName);
            $('#assignedSlo').attr('value', email);
            $('#courseAssigned').val(courseCode);
            $('#courseAssigned').attr('value', courseId)
            $('.startDate').val(finalStartDate);
            $('.endDate').val(finalEndDate);
            //for (i = 0; i < data.length; i++) {
            //    // $tableBodyElement = $('.dropdown-menu');
            //    Name = data[i].Name;
            //    Emails = data[i].Email;
            //    $dropElement = $('<a>', { text: Name }).attr('class', 'dropdown-item').attr('name', 'SLO').attr('value', Emails);
            //    $drop2Element = $('<li>');
            //    $drop2Element.append($dropElement);
            //    //$dropElement = $('<input>').attr('type', 'radio').val(visibilityId).attr('name', 'visibilityIdInput');
            //    $SLODownElement.append($drop2Element);
            //}
            //for (k = 0; k < data.length; k++) {
            //    CourseId = data.CourseList[k].CourseId;
            //    CourseCode = data.CourseList[k].CourseCode;
            //    $dropElement = $('<a>', { text: CourseCode }).attr('class', 'dropdown-item').attr('name', 'Course').attr('value', CourseId);
            //    $drop2Element = $('<li>');
            //    $drop2Element.append($dropElement);
            //    $CourseDownElement.append($drop2Element)
            //}
            //$('#dropCourse li > a').on('click', function () {
            //    // $('#courseAssigned').val($(this).text());
            //    $('#courseAssigned').val($(this).text());
            //    $('#courseAssigned').attr('value', $(this).attr('value'));

            //});

            //$('#dropSLO li > a').on('click', function () {
            //    $('#assignedSlo').val($(this).text());
            //    $('#assignedSlo').attr('value', $(this).attr('value'));
            //});


        });
    }

</script>