<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item">
            <a href="~/Home/ViewCourse">Course</a>
        </li>
        <li class="breadcrumb-item active">Edit Course</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Edit Course
        </div>
        <div>
            <form class="form-group">
                <div class="form-inline">
                    <label class="col-md-2 control-label">Course code:</label>
                    <div class="col-sm-5">
                        <input class="form-control" id="coursecode" type="text">
                    </div>
                </div>
                <div class="form-inline">
                    <label class="col-sm-2 control-label">Course name:</label>
                    <div class="col-sm-5">
                        <input class="form-control" id="coursename" type="text">
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="col-12">
                <button class="btn btn-default pull-left" onclick="window.history.go(-1); return false">
                    Back
                </button>
                <button class="btn btn-primary pull-right" name="submit" type="submit">
                    Update
                </button>
            </div>
        </div>
    </div>
    <br />
</div>