<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Homepage</a>
        </li>
        <li class="breadcrumb-item">
            <a href="~/Home/ViewBatch">Batch</a>
        </li>
        <li class="breadcrumb-item active">Edit Batch</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Edit Batch
        </div>

        <div>
            <form class="form-group">
                <div class="form-inline">
                    <label class="col-md-2 control-label">Batch Name:</label>
                    <div class="col-sm-3">
                        <input class="form-control" id="batchNo" type="text" value="">
                    </div>
                </div>
                <div class="form-inline">
                    <label class="col-md-2 control-label">Course Name:</label>
                    <div class='input-group' id='findcourse'>
                        <input type='text' class="form-control" id="course" readonly />
                        <div class="input-group-addon" onclick="findCourseModal()">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>
                <div class="form-inline">
                    <label class="col-md-2 control-label">SLO Assigned:</label>
                    <div class='input-group' id='findslo'>
                        <input type='text' class="form-control" id="course" readonly />
                        <div class="input-group-addon" onclick="findSLOAssignedModal()">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>
                <div class="form-inline">
                    <label class="control-label col-sm-2" for="startdate">
                        Start Date:
                    </label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar">
                            </i>
                        </div>
                        <input class="form-control" id="startdate" name="date" placeholder="MM/DD/YYYY" type="text">
                    </div>
                </div>
                <div class="form-inline">
                    <label class="control-label col-sm-2" for="enddate">
                        End Date:
                    </label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar">
                            </i>
                        </div>
                        <input class="form-control" id="enddate" name="date" placeholder="MM/DD/YYYY" type="text">
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="col-12">
                <button class="btn btn-default pull-left" onclick="window.history.go(-1); return false">
                    Back
                </button>
                <button class="btn btn-primary pull-right" name="submit" type="submit">
                    Update
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Course Modal -->
<div class="modal fade" id="courseModal" tabindex="-1" role="dialog" aria-labelledby="courseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="courseModalLabel">Course Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="col-12">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" placeholder="Search...">
                                <div class="input-group-addon">
                                    <i class="fa fa-search">
                                    </i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" id="task">AY16/17 S2\\\n AY16/17 S1</textarea>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <div class="form-inline">
                                    <label>Selected: &nbsp;</label>
                                    <input class="form-control" value="AY16/17 S1" readonly>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="submit">Confirm</button>
                <!----   <a class="btn btn-primary" href="login.html">Logout</a>  -->
            </div>
        </div>
    </div>
</div>

<!-- SLO Modal -->
<div class="modal fade" id="sloModal" tabindex="-1" role="dialog" aria-labelledby="sloModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sloModalLabel">SLO Assigned</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="col-12">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" placeholder="Search...">
                                <div class="input-group-addon">
                                    <i class="fa fa-search">
                                    </i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" id="task">AY16/17 S2\\\n AY16/17 S1</textarea>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <div class="form-inline">
                                    <label>Selected: &nbsp;</label>
                                    <input class="form-control" value="AY16/17 S1" readonly>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="submit">Confirm</button>
                <!----   <a class="btn btn-primary" href="login.html">Logout</a>  -->
            </div>
        </div>
    </div>
</div>
<script>
    function findCourseModal() {
        $('#courseModal').modal('show');
        //http://www.dyn-web.com/tutorials/forms/select/multi-selected.php
        //please take a look at this for reference
    }
    function findSLOAssignedModal() {
        $('#sloModal').modal('show');
        //http://www.dyn-web.com/tutorials/forms/select/multi-selected.php
        //please take a look at this for reference
    }
    var g_batchId = getBatchIdFromAddressBar();
    getDropDown();
    $('#btnSave').on('click', function () {
        var collectedBatchNo = $('#batchNo').val();
        var collectedBatchDescription = $('#batchDescription').val();
        var collectedCourseAssigned = $('#courseAssigned').attr('value');
        var collectedSLOAssigned = $('#assignedSlo').attr('value');
        var collectedStartDate = new Date($('.startDate').val());
        var collectedEndDate = new Date($('.endDate').val());

        var webFormData = new WebFormData(collectedBatchNo, collectedBatchDescription, collectedCourseAssigned, collectedSLOAssigned, collectedStartDate, collectedEndDate)
        var webFormDatainString = JSON.stringify(webFormData);
        $updateBatchHandler = jQuery.ajax({
            url: '/API/Batches/UpdateOneBatch/' + g_batchId,
            type: 'put',
            dataType: 'json',
            contentType: 'application/json',
            data: "'" + webFormDatainString + "'"

        });
        $updateBatchHandler.done(function (data, textStatus, jqXHR) {
            console.dir("Success");
            //getBatchDetails(g_batchId);
        });//

    });
    function WebFormData(inBatchName, inBatchDescription, inCourseAssigned, inSLOAssigned, inStartDate, inEndDate) {
        this.BatchName = inBatchName;
        this.BatchDescription = inBatchDescription;
        this.CourseAssigned = inCourseAssigned;
        this.SLOAssigned = inSLOAssigned;
        this.StartDate = inStartDate;
        this.EndDate = inEndDate;

    }
    function getBatchIdFromAddressBar() {

        var urlArray = window.location.href.split('/');
        var batchId = urlArray[urlArray.length - 1];
        return batchId;
    }
    function getDropDown() {
        $getUserHandler = jQuery.ajax({

            url: '/API/Batches/GetUserCourseInformation',
            method: 'get',
            dataType: 'json',
            cache: false

        });
        $getUserHandler.done(function (data, textStatus, jqXHR) {
            $SLODownElement = $('#dropSLO');
            $CourseDownElement = $('#dropCourse')
            getBatchDetails(g_batchId);
            for (i = 0; i < data.UserList.length; i++) {
                // $tableBodyElement = $('.dropdown-menu');
                Name = data.UserList[i].Name;
                Emails = data.UserList[i].Email;
                $dropElement = $('<a>', { text: Name }).attr('class', 'dropdown-item').attr('name', 'SLO').attr('value', Emails);
                $drop2Element = $('<li>');
                $drop2Element.append($dropElement);
                //$dropElement = $('<input>').attr('type', 'radio').val(visibilityId).attr('name', 'visibilityIdInput');
                $SLODownElement.append($drop2Element);
            }
            for (k = 0; k < data.CourseList.length; k++) {
                CourseId = data.CourseList[k].CourseId;
                CourseCode = data.CourseList[k].CourseCode;
                $dropElement = $('<a>', { text: CourseCode }).attr('class', 'dropdown-item').attr('name', 'Course').attr('value', CourseId);
                $drop2Element = $('<li>');
                $drop2Element.append($dropElement);
                $CourseDownElement.append($drop2Element)
            }
            $('#dropCourse li > a').on('click', function () {
                // $('#courseAssigned').val($(this).text());
                $('#courseAssigned').val($(this).text());
                $('#courseAssigned').attr('value', $(this).attr('value'));

            });

            $('#dropSLO li > a').on('click', function () {
                $('#assignedSlo').val($(this).text());
                $('#assignedSlo').attr('value', $(this).attr('value'));
            });


        }); // End of .Done Handler

    }
    function getBatchDetails(inBatchId) {

        $loadProductHandler = jQuery.ajax({
            method: 'get',
            dataType: 'json',
            cache: false,
            url: '/API/Batches/GetOneBatches/' + inBatchId
        })
        $loadProductHandler.done(function (data, textStatus, jqXHR) {

            var oneBatch = data;

            $SLODownElement = $('#dropSLO');
            $CourseDownElement = $('#dropCourse')

            batchId = data.BatchId;
            batchName = data.BatchName;
            description = data.Description;
            startDate = new Date(data.StartDate);
            finalStartDate = moment(startDate).format('MM/DD/YYYY');
            // newDate = startDate.format('DD MMMM YYYY');
            endDate = new Date(data.EndDate);
            finalEndDate = moment(endDate).format('MM/DD/YYYY');
            fullName = data.FullName;
            email = data.Email;
            courseCode = data.CourseCode;
            courseId = data.CourseId;

            $('#batchNo').val(batchName);
            $('#batchDescription').val(description);
            $('#courseCode').val(courseCode);
            $('#assignedSlo').val(fullName);
            $('#assignedSlo').attr('value', email);
            $('#courseAssigned').val(courseCode);
            $('#courseAssigned').attr('value', courseId)
            $('.startDate').val(finalStartDate);
            $('.endDate').val(finalEndDate);
            //for (i = 0; i < data.length; i++) {
            //    // $tableBodyElement = $('.dropdown-menu');
            //    Name = data[i].Name;
            //    Emails = data[i].Email;
            //    $dropElement = $('<a>', { text: Name }).attr('class', 'dropdown-item').attr('name', 'SLO').attr('value', Emails);
            //    $drop2Element = $('<li>');
            //    $drop2Element.append($dropElement);
            //    //$dropElement = $('<input>').attr('type', 'radio').val(visibilityId).attr('name', 'visibilityIdInput');
            //    $SLODownElement.append($drop2Element);
            //}
            //for (k = 0; k < data.length; k++) {
            //    CourseId = data.CourseList[k].CourseId;
            //    CourseCode = data.CourseList[k].CourseCode;
            //    $dropElement = $('<a>', { text: CourseCode }).attr('class', 'dropdown-item').attr('name', 'Course').attr('value', CourseId);
            //    $drop2Element = $('<li>');
            //    $drop2Element.append($dropElement);
            //    $CourseDownElement.append($drop2Element)
            //}
            //$('#dropCourse li > a').on('click', function () {
            //    // $('#courseAssigned').val($(this).text());
            //    $('#courseAssigned').val($(this).text());
            //    $('#courseAssigned').attr('value', $(this).attr('value'));

            //});

            //$('#dropSLO li > a').on('click', function () {
            //    $('#assignedSlo').val($(this).text());
            //    $('#assignedSlo').attr('value', $(this).attr('value'));
            //});


        });
    }

</script>