@{
    ViewData["Title"] = "Edit Course Page";
}
<div class="container-fluid">
    <!-- Example DataTables Card-->
    <section id="contact">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Edit Course</h2>
            <hr />
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Course Code</label>
                                <input class="form-control" id="coursecode" type="text" placeholder="Course Code" required="required" data-validation-required-message="Please enter course code.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Course Name</label>
                                <input class="form-control" id="coursename" type="text" placeholder="Course Name" required="required" data-validation-required-message="Please enter course name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                            <div class="col-12">
                                <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/ViewCourse'">
                                    Back
                                </button>
                                <button class="btn btn-primary pull-right" name="submit" type="submit" id="btnSave">
                                    Update
                                </button>
                            </div>
                        </div>
                        <br />
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    var courseId = getCookie("selectedCourse");

    if (courseId != null) { 
        $.ajax({
            url: '/Api/Courses/' + courseId,
            method: 'GET',
            dataType: 'json',
            cache: false,
            success: function (data) {
                console.dir(data);
                $('#coursecode').val(data.CourseCode);
                $('#coursename').val(data.CourseName);
            },
            fail: function (data) {
                alert(data.Message);
            }
        });

        $('#btnSave').click(function () { 
            var webFormData = new WebFormData($('#coursecode').val(), $('#coursename').val());
            console.dir(webFormData);

            $.ajax({
                url: '/api/Courses/UpdateOneCourse/' + courseId,
                method: 'PUT',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                cache: false,
                data: "'" + JSON.stringify(webFormData) + "'",
                success: function (data) {
                    swal({
                        type: 'success',
                        title: 'Saved!',
                        text: data.Message
                    }).then(
                        function () {
                            window.location.reload();
                        });
                },
                error: function (data) {
                    swal({
                        type: 'error',
                        title: 'Error',
                        text: data.Message
                    });
                }
            });
        });
    }

    function WebFormData(courseCode, courseName) { 
        this.CourseCode = courseCode;
        this.CourseName = courseName;
    }

    function getCookie(name) {
        var dc = document.cookie;
        var prefix = name + "=";
        var begin = dc.indexOf("; " + prefix);
        if (begin == -1) {
            begin = dc.indexOf(prefix);
            if (begin != 0) return null;
        } else {
            begin += 2;
        }
        var end = document.cookie.indexOf(";", begin);
        if (end == -1) {
            end = dc.length;
        }
        return unescape(dc.substring(begin + prefix.length, end));
    }

    function setCookie(inName, inValue) {
        var exdate = new Date();
        var expiredays = 1;
        exdate.setHours(exdate.getHours() + 4);
        exdate.setDate(exdate.getDate());
        document.cookie = inName + "=" + inValue + ";path=/" + ((expiredays == null) ? "" : ";expires=" + exdate.toGMTString());
    };
</script>