@{
    ViewData["Title"] = "Edit Project Page";
}
<div class="container-fluid">
    <!-- Example DataTables Card-->
    <section id="contact">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Edit Project</h2>
            <hr />
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Project Name</label>
                                <input class="form-control" id="projectName" type="text" placeholder="Project Name" required="required" data-validation-required-message="Please enter a project name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Company</label>
                                <div class='input-group' id='findcompany'>
                                    <input type='text' class="form-control" id="selectcompany" placeholder="Company" required="required" style="background-color:white" onclick="findCompanyModal()" data-validation-required-message="Please select a company." readonly />
                                    <div class="input-group-addon" onclick="findCompanyModal()" style="background-color:white;border:none;">
                                        <i class="fa fa-search"></i>
                                    </div>
                                </div>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Supervisor's Name</label>
                                <input class="form-control" id="supervisorName" type="text" placeholder="Supervisor's Name" required="required" data-validation-required-message="Please enter supervisor's name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Mobile Number</label>
                                <input class="form-control" id="mobileNo" min="0" type="number" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" placeholder="Mobile Number" required="required" data-validation-required-message="Please enter mobile number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Email Address</label>
                                <input class="form-control" id="email" type="email" placeholder="Email Address" required="required" data-validation-required-message="Please enter email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                            <div class="col-12">
                                <button class="btn btn-default pull-left" onclick="location.href='http://' + window.location.host +'/Home/ViewProject'">
                                    Back
                                </button>
                                <button class="btn btn-primary pull-right" name="submit" type="submit">
                                    Save
                                </button>
                            </div>
                        </div>
                        <br />
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<!--modal-->
<div class="modal fade" id="selectCompanyModal" role="dialog" aria-labelledby="selectCompanyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="selectCompanyModalLabel">Select Company</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <form>
                        <div class="form-group">
                            <select id="companySelect" size="6" style="width: 100%;"></select>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <div class="form-inline">
                                    <label>Selected: &nbsp;</label>
                                    <input class="form-control" value="" readonly id="txtSelected">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnSubmit">Confirm</button>
                <!----   <a class="btn btn-primary" href="login.html">Logout</a>  -->
            </div>
        </div>
    </div>
</div>

<script>
    var editor;

    var projectId;
    $('.floating-label-form-group input').change(function (e) {
        $('body .floating-label-form-group').addClass("floating-label-form-group-with-value", !!$(e.target).val());
    });
    $(function () {
        $('#contactForm').find('input').not('[type=submit]').jqBootstrapValidation({
            preventSubmit: true,
            submitSuccess: function ($form, event) {
                event.preventDefault();     // will not trigger the default submission in favor of the ajax function

                var projectName = $('#projectName').val();
                var company = $('#companySelect').val();
                var supervisorName = $('#supervisorName').val();
                var mobileNo = $('#mobileNo').val();
                var email = $('#email').val();

                var webFormData = new WebFormData(projectName, company, email, mobileNo, supervisorName);
                var webFormDatainString = JSON.stringify(webFormData);
                $saveBatchHandler = jQuery.ajax({
                    url: '/API/Projects/UpdateOneProject/' + getCookie("selectedProject"),
                    type: 'put',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: "'" + webFormDatainString + "'"

                });
                $saveBatchHandler.done(function (data, textStatus, jqXHR) {
                    swal({
                        type: data.AlertType,
                        text: data.Messages
                    }).then(
                        function () {
                            location.href = 'http://' + window.location.host + '/home/ViewProject';
                        });

                });//End .Done
            },
            submitError: function ($form, event, errors) {

            }

        });

    });//End of jqBootstrapValidatio

    $(document).ready(function () {

        projectId = getCookie("selectedProject");

        $.ajax({
            url: '/api/Companies',
            method: 'GET',
            dataType: 'json',
            cache: false,
            success: function (data) {
                for (i = 0; i < data.length; i++) {
                    $companyInputElement = $('#companySelect');
                    $optionElement = $('<option>').text(data[i].CompanyName).attr('value', data[i].CompanyId);
                    $companyInputElement.append($optionElement);
                }
                $('#companySelect').select2();
            }//End of success
        });//End of Ajax
        
        $.ajax({
            url: '/api/Projects/' + getCookie("selectedProject"),
            method: 'GET',
            dataType: 'json',
            cache: false,
            success: function (data) {
                console.dir(data);
                $('#projectName').val(data.ProjectName);
                $('#companySelect').val(data.CompanyId).trigger('change');
                $('#selectcompany').val(data.CompanyName)
                $('#supervisorName').val(data.FullName);
                $('#mobileNo').val(data.PhoneNumber);
                $('#email').val(data.Email);
            }//End of success
        });//End of Ajax

        $('#txtSearch').on("keyup", function (e) {
            console.dir($(this).val());
            var text = $(this).val();
            var options = $('#companySelect option');
            //var options = $('#companySelect').option;
            for (var i = 0; i < options.length; i++) {
                var option = options[i];
                var optionText = option.text;
                var lowerOptionText = optionText.toLowerCase();
                var lowerText = text.toLowerCase();
                var regex = new RegExp("^" + text, "i");
                var match = optionText.match(regex);
                var contains = lowerOptionText.indexOf(lowerText) != -1;
                if (match || contains) {

                    //option.selected = true;
                    return;
                }
                $(this).selectedIndex = 0;
            }
        });//End of txtSearch function

        $('#companySelect').on('change', function (e) {
            $('#txtSelected').val($('#companySelect option:selected').text());
        });//End of Select Change
        $('#btnSubmit').on('click', function (e) {

            $('#selectcompany').val($('#companySelect option:selected').text());// To set display text on input element
            $('#selectcompany').attr('value', ($('#companySelect option:selected').val())); // To set company value id to the input element

            $('#selectCompanyModal').modal('hide');
        });//End of button submit for popup
    });
    function findCompanyModal() {
        $('#selectCompanyModal').modal('show');
    }

    function WebFormData(ProjectName, Company, SupervisorEmail, SupervisorNumber, SupervisorName) {
        this.ProjectName = ProjectName;
        this.Company = Company;
        this.SupervisorEmail = SupervisorEmail;
        this.SupervisorNumber = SupervisorNumber;
        this.SupervisorName = SupervisorName;
    }

    function getCookie(name) {
        var dc = document.cookie;
        var prefix = name + "=";
        var begin = dc.indexOf("; " + prefix);
        if (begin == -1) {
            begin = dc.indexOf(prefix);
            if (begin != 0) return null;
        } else {
            begin += 2;
        }
        var end = document.cookie.indexOf(";", begin);
        if (end == -1) {
            end = dc.length;
        }
        return unescape(dc.substring(begin + prefix.length, end));
    }

    function setCookie(inName, inValue) {
        var exdate = new Date();
        var expiredays = 1;
        exdate.setHours(exdate.getHours() + 4);
        exdate.setDate(exdate.getDate());
        document.cookie = inName + "=" + inValue + ";path=/" + ((expiredays == null) ? "" : ";expires=" + exdate.toGMTString());
    }
</script>