<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Edit Company</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Edit Company
</div>

            <div>
                <form class="form-group">
                    <div class="form-inline">
                        <label class="col-md-2 control-label">Company Name:</label>
                        <div class="col-sm-5">
                            <input class="form-control" id="comapnyName" type="text" value="">
                        </div>
                    </div>
                    <div class="form-inline">
                        <label class="col-sm-2 control-label">Company Address:</label>
                        <div class="col-sm-5">
                            <input class="form-control" id="companyAddress" type="text" value="">
                        </div>
                    </div>
                </form>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3"></label>
                <div class="btn pull-right">
                    <button class="btn btn-primary" name="submit" type="submit" id="btnSave">
                        Save
                    </button>
                </div>
            </div>
    </div>
</div>
<script>
  var g_companyId = getCompanyIdFromAddressBar();
      getCompanyDetails(g_companyId);
      function getCompanyIdFromAddressBar() {

        var urlArray = window.location.href.split('/');
        var companyId = urlArray[urlArray.length - 1];
        return companyId;
    }
    function WebFormData(inCompanyName, inCompanyAddress) {
        this.CompanyName = inCompanyName;
        this.CompanyAddress = inCompanyAddress;
     

    }
    $('#btnSave').on('click', function () {

        var collectedCompanyName = $('#comapnyName').val();
        var collectedCompanyAddress = $('#companyAddress').val();

        var webFormData = new WebFormData(collectedCompanyName, collectedCompanyAddress);
        var webFormDatainString = JSON.stringify(webFormData);
        $saveBatchHandler = jQuery.ajax({
            url: '/API/Companies/UpdateCompany/' + g_companyId,
            type: 'put',
            dataType: 'json',
            contentType: 'application/json',
            data: "'" + webFormDatainString + "'"

        });
        $saveBatchHandler.done(function (data, textStatus, jqXHR) {
            console.dir("Success");

        });//End .Done

    });//End on Click 

	    function getCompanyDetails(inCompanyId) {

        $loadProductHandler = jQuery.ajax({
            method: 'get',
            dataType: 'json',
            cache: false,
            url: '/API/Companies/GetCompany/' + inCompanyId
        })
        $loadProductHandler.done(function (data, textStatus, jqXHR) {

            var oneCompany = data;
			
            companyId = oneCompany.CompanyId;
            companyName = oneCompany.CompanyName;
			companyAddress = oneCompany.CompanyAddress;

            $('#comapnyName').val(companyName);
            $('#companyAddress').val(companyAddress);

        });
</script>