@{
    ViewData["Title"] = "Manage User Page";
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/home/index">Homepage</a>
        </li>
        <li class="breadcrumb-item active">Grading Lock</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header d-inline">
            <i class="fa fa-lock fa-2x pull-left"></i> <h3>Grading Lock</h3>
        </div>
        <div class="card-body">
          
            <div class="table-responsive">
                <table class="table table-bordered" id="internship_dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="Student_ID">Student ID</th>
                            <th class="Student_Name">Student Name</th>
                            <th class="Batch_Name">Batch Name</th>
                            <th class="Course_Name">Course Name</th>
                            <th class="Lock" width="10%">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lao Kok Kok</td>
                            <td>P1585858</td>
                            <td width="10%"><button type="button" class="btn btn-success col-xs-12"><i class="fa fa-unlock"></i>&nbsp; Unlock</button></td>
                        </tr>
                        <tr>
                            <td>Kok Lao Lao</td>
                            <td>P1855585</td>
                            <td width="10%"><button type="button" class="btn btn-danger col-xs-12"><i class="fa fa-lock"></i>&nbsp; Lock</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
</div>
<div class="card-body">
    <div class="form-group">
        <div class="col-12">
            <button class="btn btn-default" onclick="location.href='http://' + window.location.host +'/Home/Index'">
                Back
            </button>
        </div>
    </div>
</div>
&nbsp;
<script>
    var table = $('#internship_dataTable').DataTable({
        bSortable: false,
        //'fnDrawCallback': function (oSettings) {
        //    $('.dataTables_filter').(function () {
        //        $(this).append('<button class="btn btn-default mr-xs pull-right" type="button">Button');
        //    });
        //},
        dom: "<'row'<'col-sm-12'<f><'toolbar'>>><'row'<'col-sm-12'tr>>" +
        "<'row'<'col-sm-4'l><'col-sm-8'p>>",
        ajax: {
            url: '/Api/Internship_Record/AllInternshipRecords',
            dataSrc: ''
        },
        select: {
            style: 'os',
            selector: 'td:first-child'
        },
        //order: [[1, 'asc']],
        //'rowCallback': function (row, data, dataIndex) {
        //    // Get row ID
        //    var rowId = data[0];

        //    // If row ID is in the list of selected row IDs
        //    if ($.inArray(rowId, rows_selected) !== -1) {
        //        $(row).find('input[type="checkbox"]').prop('checked', true);
        //        $(row).addClass('selected');
        //    }
        //},
        columns: [
            { data: "StudentId" },
            { data: "StudentName" },
            { data:"BatchName"},
            { data: "CourseName" },
            {
                mData: function (data) { 
                    return data;
                },
                mRender: function (o) { 
                    if (o.SLOApproved) {
                        return '<button type="button" class="btn btn-success col-xs-12" value="' + o.InternshipRecordId +'"><i class="fa fa-unlock"></i>&nbsp; Unlock</button>';
                    } else { 
                        return '<button type="button" class="btn btn-danger col-xs-12" value="' + o.InternshipRecordId +'"><i class="fa fa-lock"></i>&nbsp; Lock</button>';
                    }
                }
            }
        ],
        language: {
            emptyTable: "No internship records was found, please create one.",
        }
    });

    $('#internship_dataTable tbody').on('click', 'button', function (e) {
        console.dir("clicktoggled");
        var id = $(this).val();
        console.dir(id);
        var button = $(this);

        $.ajax({
            url: '/API/Internship_Record/toggleLock/' + id,
            type: 'PUT',
            dataType: 'json',
            success: function (data) { 
                console.dir(data.State);
                if (data.State) {
                    button.attr("class", "btn btn-success col-xs-12");
                    button.val(id);
                    button.html('<i class="fa fa-unlock"></i>&nbsp; Unlock');
                } else { 
                    button.attr("class", "btn btn-danger col-xs-12");
                    button.val(id);
                    button.html('<i class="fa fa-lock" ></i>&nbsp; Lock');
                }
            },
            error: function () { 
                swal({
                    type: "error",
                    title: "An error occured while toggling the lock of the internship record"
                });
            }
        });
    });
</script>
