@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        @*<li class="breadcrumb-item">
                <a href="#">Internship Programme</a>
            </li>*@
        <li class="breadcrumb-item active">Homepage</li>
    </ol>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-header">
                        <h2>Company</h2>
                    </div>
                    <div class="card-body">
                        @*<p>View Daily <strong>Tasks</strong></p>*@
                        <div class="container">
                            <a href="~/Home/#" class="btn btn-outline-dark btn-sm col-10">View</a>
                            <a href="~/Home/#" class="btn btn-outline-dark btn-sm col-10">Add</a>
                            <a href="~/Home/#" class="btn btn-outline-dark btn-sm col-10">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-header">
                        <h2>Batch</h2>
                    </div>
                    <div class="card-body">
                        @*<p>View Daily <strong>Tasks</strong></p>*@
                        <div class="container">
                            <a href="~/Home/#" class="btn btn-outline-dark btn-sm col-10">View</a>
                            <a href="~/Home/#" class="btn btn-outline-dark btn-sm col-10">Add</a>
                            <a href="~/Home/#" class="btn btn-outline-dark btn-sm col-10">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-header">
                        <h2>Project</h2>
                    </div>
                    <div class="card-body">
                        @*<p>View Daily <strong>Tasks</strong></p>*@
                        <div class="container">
                            <a href="~/Home/#" class="btn btn-outline-dark btn-sm col-10">View</a>
                            <a href="~/Home/#" class="btn btn-outline-dark btn-sm col-10">Add</a>
                            <a href="~/Home/#" class="btn btn-outline-dark btn-sm col-10">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-header">
                        <h2>User</h2>
                    </div>
                    <div class="card-body">
                        @*<p>View Daily <strong>Tasks</strong></p>*@
                        <div class="container">
                            <a href="~/Home/#" class="btn btn-outline-dark btn-sm col-10">View</a>
                            <a href="~/Home/#" class="btn btn-outline-dark btn-sm col-10">Add</a>
                            <a href="~/Home/#" class="btn btn-outline-dark btn-sm col-10">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-header">
                        <h2>Course</h2>
                    </div>
                    <div class="card-body">
                        @*<p>View Daily <strong>Tasks</strong></p>*@
                        <div class="container">
                            <a href="~/Home/#" class="btn btn-outline-dark btn-sm col-10">View</a>
                            <a href="~/Home/#" class="btn btn-outline-dark btn-sm col-10">Add</a>
                            <a href="~/Home/#" class="btn btn-outline-dark btn-sm col-10">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<!-- /.container-fluid -->
<!-- /.content-wrapper -->
<script>
</script>