@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        @*<li class="breadcrumb-item">
                <a href="#">Internship Programme</a>
            </li>*@
        <li class="breadcrumb-item active">Homepage</li>
    </ol>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-header">
                        <i class="fa fa-user-plus fa-5x"></i>
                    </div>
                    <div class="card-body">
                        <h2>User</h2>
                        @*<p>View Daily <strong>Tasks</strong></p>*@
                        <a href="~/Home/ViewUser" class="btn btn-primary">Manage User</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-header">
                        <i class="fa fa-book fa-5x"></i>
                    </div>
                    <div class="card-body">
                        <h2>Course</h2>
                        @*<p>View Daily <strong>Tasks</strong></p>*@
                        <a href="~/Home/ViewCourse" class="btn btn-primary">Manage Course</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-header">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="card-body">
                        <h2>Batch</h2>
                        @*<p>View Daily <strong>Tasks</strong></p>*@
                        <a href="~/Home/ViewBatch" class="btn btn-primary">Manage Batch</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-header">
                        <i class="fa fa-building fa-5x"></i>
                    </div>
                    <div class="card-body">
                        <h2>Company</h2>
                        @*<p>View Daily <strong>Tasks</strong></p>*@
                        <a href="~/Home/ViewCompany" class="btn btn-primary">Manage Company</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-header">
                        <i class="fa fa-briefcase fa-5x"></i>
                    </div>
                    <div class="card-body">
                        <h2>Project</h2>
                        @*<p>View Daily <strong>Tasks</strong></p>*@
                        <a href="~/Home/ViewProject" class="btn btn-primary">Manage Project</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<!-- /.container-fluid -->
<!-- /.content-wrapper -->
<script>
</script>