@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        @*<li class="breadcrumb-item">
                <a href="#">Internship Programme</a>
            </li>*@
        <li class="breadcrumb-item active">Homepage</li>
    </ol>
    <hr />
    <h2 class="section-heading text-center text-primary">SYSTEM DATA</h2>
    <hr class="theme" />
    <section id="systemData">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto" onclick="location.href='http://' + window.location.host +'/home/ViewUser'">
                        @*<i class="fa fa-4x fa-user-plus text-primary mb-3 sr-icons"></i>*@
                        <img src="~/images/ADD USER.png" />
                        <h3 class="mb-3" style="text-decoration:underline;">Manage User</h3>
                        <p class="text-muted mb-0">Click to manage</p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
    </section>
    <h2 class="section-heading text-center text-primary">SCHOOL DATA</h2>
    <hr class="theme" />
    <section id="schoolData">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto" onclick="location.href='http://' + window.location.host +'/home/ViewCourse'">
                        @*<i class="fa fa-4x fa-book text-primary mb-3 sr-icons"></i>*@
                        <img src="~/images/course.png" />
                        <h3 class="mb-3" style="text-decoration:underline;">Manage Course</h3>
                        <p class="text-muted mb-0">Click to manage</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto" onclick="location.href='http://' + window.location.host +'/home/ViewBatch'">
                        @*<i class="fa fa-4x fa-users text-primary mb-3 sr-icons"></i>*@
                        <img src="~/images/BATCH.png" />
                        <h3 class="mb-3" style="text-decoration:underline;">Manage Batch</h3>
                        <p class="text-muted mb-0">Click to manage</p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
    </section>
    <h2 class="section-heading text-center text-primary">INDUSTRIAL DATA</h2>
    <hr class="theme" />
    <section id="industrialData">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto" onclick="location.href='http://' + window.location.host +'/home/ViewCompany'">
                        @*<i class="fa fa-4x fa-building text-primary mb-3 sr-icons"></i>*@
                        <img src="~/images/company.png" />
                        <h3 class="mb-3" style="text-decoration:underline;">Manage Company</h3>
                        <p class="text-muted mb-0">Click to manage</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto" onclick="location.href='http://' + window.location.host +'/home/ViewProject'">
                        @*<i class="fa fa-4x fa-briefcase text-primary mb-3 sr-icons"></i>*@
                        <img src="~/images/project.png" />
                        <h3 class="mb-3" style="text-decoration:underline;">Manage Project</h3>
                        <p class="text-muted mb-0">Click to manage</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr />
    <br />
</div>
<script>
</script>