@{
    ViewData["Title"] = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="col-lg-5 col-md-5 col-sm-12 mx-auto">
    <div class="card mt-5">

        <div class="card-header" style="font-size:1.05em">@ViewData["Title"].<a class="btn-sm btn-primary pull-right" asp-controller="Home" asp-action="Index">Back to Homepage</a></div>
        <div class="card-body">
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</div>

<style>
    nav#mainNav {
        display: none;
    }
</style>
