@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="col-lg-5 col-md-5 col-sm-12 mx-auto">
    <div class="card mt-5">
        <div class="card-header" style="font-size:1.05em">@ViewData["Title"].</div>
        <div class="card-body">
            <p>
                Your password has been reset. Please <a asp-controller="Account" asp-action="Login">Click here to log in</a>.
            </p>
        </div>

    </div>
</div>

<style>
    nav#mainNav {
        display: none;
    }
</style>
