@model SetPasswordViewModel
@{
    ViewData["Title"] = "Set Password";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="col-lg-5 col-md-5 col-sm-12 mx-auto">
    <div class="card mt-5">

        <div class="card-header" style="font-size:1.05em">Set Password<a class="btn-sm btn-primary pull-right" asp-controller="Home" asp-action="Index">Back to Homepage</a></div>
        <div class="card-body">
            <form asp-controller="Account" asp-action="SetPassword" class="form-horizontal" id="setPasswordForm" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="col-md-5 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="NewPassword" class="form-control" id="password" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="col-md-5 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="ConfirmPassword" class="form-control" id="passwordrepeat" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-12">
                        <button class="btn btn-primary btn-block" id="setpassword">set password</button>
                    </div>
                </div>
               @*<input value="" asp-for="RegistrationPin" class="form-control" id="registrationPin" type="hidden"/>*@
                @Html.HiddenFor(model=>model.RegistrationPin, new { id="registrationPin", Value = Model.RegistrationPin})
            </form>
            <div class=" text-center">
                @*<a asp-action="Login">Forgot your password?</a>
                    <a class="d-block small" href="login.html">Login Page</a>*@
            </div>
        </div>
    </div>
</div>
<style>
    nav#mainNav {
        display: none;
    }
</style>
<script type="text/javascript">

</script>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
